<div class="white_box QA_section mb_30">
    <h2 class="page-title">Active Verticals</h2>
    <div class="white_box_tittle list_header">

        <div class="QA_table ">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <table class="table lms_table_active dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 705px;">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of verticalService.activeVerticals |  slice: (page-1) * pageSize : page * pageSize; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.verticalName}}</td>
                            <td>{{item.verticalCode}}</td>
                            <td>
                                <i class="fas fa-edit" (click)="editVertical(item)"></i>
                                <i class="fas fa-trash"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ngb-pagination class="d-flex justify-content-end p-1" [(page)]="page" [pageSize]="pageSize" [collectionSize]="verticalService.activeVerticals?.length"></ngb-pagination>

            </div>
        </div>
    </div>
</div>