<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <h2 class="page-title">Daily Activity Record</h2>

                <form class="form-signin" [formGroup]="darForm">
                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid': l.region.valid && (l.region.dirty || l.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" formControlName="branch" id="branch"
                                [ngClass]="{'is-invalid': l.branch.invalid
                             && l.branch.touched,  'is-valid': l.branch.valid && (l.branch.dirty || l.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option value="allBranches" *ngIf="darForm.value.region">All Branches</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="form-group col-md" *ngIf="roleAccess!='HCO'">
                            <label for="hco">HCO/ HCOI/ TL :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" formControlName="hco" id="hco" [ngClass]="{'is-invalid': l.hco.invalid && l.hco.touched, 'is-valid': l.hco.valid && 
                                (l.hco.dirty || l.hco.touched) }" (change)="changeHco($event.target.value)">
                                <option value="">-- Select Role --</option>
                                <option value="allStaffs">All Staffs</option>
                                <option *ngFor="let hco of HcoITLList" value='{{hco.user_id}}'>
                                    {{ hco.user_firstname}} {{hco.user_middlename}} {{hco.user_lastname}} -
                                    {{hco.role_shortname}}
                                </option>
                            </select>
                            <div *ngIf="l.hco.errors" class="invalid-feedback">
                                <div *ngIf="l.hco.errors.required">Role selection is required</div>
                            </div>
                        </div> -->

                        <div class="form-group col-md">
                            <label for="fromDate">From Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <input type="date" class="form-control" formControlName="fromDate"
                                (keydown)="restrictTypeOfDate()" (change)="fromDateExpectToDate($event)"
                                [ngClass]="{'is-invalid': l.fromDate.invalid
                                && l.fromDate.touched,'is-valid': l.fromDate.valid && (l.fromDate.dirty || l.fromDate.touched) }">
                            <div *ngIf="l.fromDate.errors" class="invalid-feedback">
                                <div *ngIf="l.fromDate.errors.required">From Date selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="toDate">To Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <input type="date" class="form-control" formControlName="toDate"
                                (keydown)="restrictTypeOfDate()" (change)="toDateChange()" [ngClass]="{'is-invalid': l.toDate.invalid && 
                                l.toDate.touched,'is-valid': l.toDate.valid && (l.toDate.dirty || l.toDate.touched) }"
                                [min]="minToDate" [max]="maxToDate">
                            <div *ngIf="l.toDate.errors" class="invalid-feedback">
                                <div *ngIf="l.toDate.errors.required">To Date selection is required</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md">
                                <button type="button" class="btn btn-primary btn-sm" (click)="fetchReport()"
                                    style="float:right;margin-right: -22px;" [disabled]="!disabledFetchReport()">
                                    Fetch Report
                                </button>
                            </div>
                        </div>

                    </div>
                </form>


                <div class="white_box_tittle list_header">
                    <div class="QA_table">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table
                                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                <thead>
                                    <tr>
                                        <th style="font-size: 13px;width: 13%;">Date</th>
                                        <th style="font-size: 13px;width: 8%;">Total<br> Family<br> Visited</th>
                                        <th style="font-size: 13px;width: 8%;">PW<br> Family</th>
                                        <th style="font-size: 13px;width: 8%;">LM <br>Family</th>
                                        <th style="font-size: 13px;width: 9%;">LM<br> Children</th>
                                        <th style="font-size: 13px;width: 8%;">PEM <br>Family</th>
                                        <th style="font-size: 13px;width: 9%;">RED <br>Children</th>
                                        <th style="font-size: 13px;width: 9%;">YELLOW <br>Children</th>
                                        <th style="font-size: 13px;width: 9%;">General-<br>Children<br>(2-5yr)</th>
                                        <th style="font-size: 13px;width: 12%;">General-<br>Adolescent<br>(14-18yr)</th>
                                        <th style="font-size: 13px;width: 9%;">General-<br>Other</th>
                                        <th style="font-size: 13px;width: 9%;">Target<br> Family<br>-With<br> SS</th>
                                        <th style="font-size: 13px;width: 9%;">General<br> Family<br>-With <br>SS</th>
                                        <th style="font-size: 13px;width: 10%;">SS<br> Follow<br>Up <br>Answered</th>
                                        <th style="font-size: 13px;width: 8%;">SS <br>Names</th>
                                        <th style="font-size: 13px;width: 10%;">Escorted <br>Families<br> To<br> HCC
                                        </th>
                                        <th style="font-size: 13px;width: 12%;">Material<br> Distributed<br> - Families
                                        </th>
                                        <th style="font-size: 13px;width: 13%;">Refreshers <br>Training<br> - Completed
                                        </th>
                                        <th style="font-size: 13px;width: 12%;">Refreshers <br>Training
                                            <br>Completed<br>- SS
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of dateWiseStaffDarDetails;index as i">
                                        <td style="font-size: 13px;width: 13%;">{{item.date}}</td>
                                        <td style="font-size: 13px;width: 8%;">{{item.totalFamilyVisited}}</td>
                                        <td style="font-size: 13px;width: 8%;">{{item.pwCounsellingFamily}}</td>
                                        <td style="font-size: 13px;width: 8%;">{{item.lmCounsellingFamily}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.lmChildrenCounselling}}</td>
                                        <td style="font-size: 13px;width: 8%;">{{item.pemCounsellingFamily}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.redChildrenCounselling}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.yellowChildrenCounselling}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.generalFamilyCounselling2to5}}
                                        </td>
                                        <td style="font-size: 13px;width: 12%;">
                                            {{item.generalFamilyCounsellingAdolescent}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.generalFamilyOther}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.targetFamiliesVisitedWithSS}}</td>
                                        <td style="font-size: 13px;width: 9%;">{{item.generalFamiliesVisitedWithSS}}
                                        </td>
                                        <td style="font-size: 13px;width: 10%;">{{item.ssFollowUpAnsweredVisited}}</td>
                                        <td style="font-size: 13px;width: 8%;">-</td>
                                        <td style="font-size: 13px;width: 10%;">
                                            {{item.escortingFamilyToHealthCareCenter}}</td>
                                        <td style="font-size: 13px;width: 12%;">{{item.materialDistributedToFamilies}}
                                        </td>
                                        <td style="font-size: 13px;width: 13%;">
                                            {{item.refresherTrainingCompletedOnDate}}</td>
                                        <td style="font-size: 13px;width: 12%;">{{item.refresherTrainingCompletedBySS}}
                                        </td>
                                    </tr>

                                    <tr *ngFor="let dar of darList;index as i">
                                        <td style="color: #666666;font-size: 13px;width: 13%;">
                                            <strong>Cumulative</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.totalFamilyVisitedSum}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.pwCounsellingFamilySum}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.lmCounsellingFamilySum}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.pemCounsellingFamilySum}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.generalFamilyCounselling2to5Sum}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;"><strong>
                                                {{dar.generalFamilyCounsellingAdolescentSum}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width:9%;">
                                            <strong>{{dar.generalFamilyOtherSum}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width:9%;">
                                            <strong>{{dar.targetFamiliesVisitedWithSSSum}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width:9%;">
                                            <strong>{{dar.generalFamiliesVisitedWithSSSum}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 10%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 10%;"><strong>
                                                {{dar.escortingFamilyToHealthCareCenterSum}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;">
                                            <strong>{{dar.materialDistributedToFamiliesSum}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 13%;"><strong>-</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;"><strong>-</strong></td>
                                    </tr>

                                    <tr *ngFor="let dar of darList;index as i">
                                        <td style="color: #666666;font-size: 13px;width: 13%;">
                                            <strong>Unique</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.totalFamilyVisitedUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.pwCounsellingFamilyUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.lmCounsellingFamilyUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.lmChildrenCounsellingUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;">
                                            <strong>{{dar.pemCounsellingFamilyUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.redChildrenCounsellingUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.yellowChildrenCounsellingUnique}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;"><strong>
                                                {{dar.generalFamilyCounselling2to5Unique}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;"><strong>
                                                {{dar.generalFamilyCounsellingAdolescentUnique}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.generalFamilyOtherUnique}}</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;">
                                            <strong>{{dar.targetFamiliesVisitedWithSSUnique}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 9%;"><strong>
                                                {{dar.generalFamiliesVisitedWithSSUnique}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 10%;">
                                            <strong>{{dar.ssFollowUpAnsweredVisitedUnique}}
                                            </strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 8%;"><strong>-</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 10%;"><strong>
                                                {{dar.escortingFamilyToHealthCareCenterUnique}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;"><strong>
                                                {{dar.materialDistributedToFamiliesUnique}}</strong></td>
                                        <td style="color: #666666;font-size: 13px;width: 13%;"><strong>-</strong>
                                        </td>
                                        <td style="color: #666666;font-size: 13px;width: 12%;"><strong>-</strong>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>