::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

table tbody {
  display: block;
  height: 200px;
  overflow: scroll;
}

table thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.modal-content {
  height: 430px;
  width: 1266px;
  margin-left: -360px;
}

.QA_table .table thead th {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  border: 0px solid transparent;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0.5px solid rgb(255, 255, 255);
  background: #499;
  padding: 12px 0px;
  text-align: center;
}

.QA_table .table tbody td {
  text-align: center;
  padding: 4px;
}

.popover__wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__title {
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #499;
  text-align: center;
  margin-bottom: auto;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 200px !important;
  transform: translate(0, 15px) !important;
  background-color: white;
  color: #828BB2;
  box-shadow: 3px 4px 5px 3px rgba(117, 111, 117, 1);
}

.popover__content li {
  padding: 0.3rem 1rem;
}

.popover__content:before {
  position: absolute;
  z-index: -1;
  content: "";
  left: calc(10% - 10px);
  top: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}

.card-header {
  color: white;
  background-color: #499;
}
