.form-group {
  margin-bottom: 1.5rem;
}

.QA_table {
  overflow-x: hidden;
  height: 400px;
  width: 1080px;
}

.QA_section .QA_table .table thead th {
  padding: 12px 25px;
}

.modal-content {
  height: 300px;
  overflow-x: hidden;
  width: 800px;
}

.closes {
  margin-left: 522px;
}

.close {
  margin-right: 821px;
}

.clos {
  margin-right: 1171px;
}

#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
  overflow-y: auto;
}

.fa-minus-circle {
  color: red !important;
  font-size: 25px;
}

.fa-plus-circle {
  color: #3e7758 !important;
  font-size: 25px;
  margin-left: -429px;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 540px;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 840px;
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 70%;
  margin-left: 690px;
  margin-bottom: 5px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 850px;
  margin-bottom: 5px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 140px;
}
