<app-loader [hidden]="loader"></app-loader>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="white_box QA_section mb_30">

        <div id="header-fixed" style="display: flex;">
          <h2 class="page-title">All Children Register</h2>

          <div class="box_right d-flex lms_block col-md-6">
            <div class="serach_field_2">
              <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                <form active="#">
                  <div class="search_field">
                    <input type="text" name="search" placeholder="Search acr info here..." [(ngModel)]="acrSearch">
                  </div>
                  <button type="submit"> <i class="fa fa-search"></i> </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <form class="form-signin" [formGroup]="locationForm">

          <div class="row" *ngIf="regionBranchHide">
            <div class="form-group col-md">
              <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeRegion($event.target.value)" formControlName="region"
                id="region" [ngClass]="{
                  'is-invalid': f.region.invalid && f.region.touched,
                  'is-valid':
                    f.region.valid && (f.region.dirty || f.region.touched)
                }">
                <option value="">-- Select Region --</option>
                <option *ngFor="let region of regionList">
                  {{region.regionName}}
                </option>
              </select>
              <div *ngIf="f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">Region selection is required</div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeBranch($event.target.value)" formControlName="branch"
                id="branch" [ngClass]="{
                  'is-invalid': f.branch.invalid && f.branch.touched,
                  'is-valid':
                    f.branch.valid && (f.branch.dirty || f.branch.touched)
                }">
                <option value="">-- Select Branch --</option>
                <option *ngFor="let branch of branchList">
                  {{ branch.branchName }}
                </option>
              </select>
              <div *ngIf="f.branch.errors" class="invalid-feedback">
                <div *ngIf="f.branch.errors.required">Branch selection is required</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md">
              <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeBlock($event.target.value)" formControlName="block" id="block"
                [ngClass]="{
                  'is-invalid': f.block.invalid && f.block.touched,
                  'is-valid':
                    f.block.valid && (f.block.dirty || f.block.touched)
                }">
                <option value="">-- Select Block --</option>
                <option *ngFor="let block of villagesOfBranch">
                  {{ block.blockName }}
                </option>
              </select>
              <div *ngIf="f.block.errors" class="invalid-feedback">
                <div *ngIf="f.block.errors.required">Block selection is required</div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp" id="gp"
                [ngClass]="{
                  'is-invalid': f.gp.invalid && f.gp.touched,
                  'is-valid': f.gp.valid && (f.gp.dirty || f.gp.touched)
                }">
                <option value="">-- Select GP/ Municipality --</option>
                <option *ngFor="let gp of gpDtoList">
                  {{ gp.name }}
                </option>
              </select>
              <div *ngIf="f.gp.errors" class="invalid-feedback">
                <div *ngIf="f.gp.errors.required">
                  GP selection is required
                </div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="gram">Village/ Gram Sansad/ Locality
                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeVillage($event.target.value)" formControlName="gram" id="gram"
                [ngClass]="{
                  'is-invalid': f.gram.invalid && f.gram.touched,
                  'is-valid': f.gram.valid && (f.gram.dirty || f.gram.touched)
                }">
                <option value="">-- Select Village --</option>
                <option *ngFor="let vill of villageDtoList" value="{{vill.villageMasterId}}">
                  {{ vill.villageName }}
                </option>
              </select>
              <div *ngIf="f.gram.errors" class="invalid-feedback">
                <div *ngIf="f.gram.errors.required">
                  Village selection is required
                </div>
              </div>
            </div>
          </div>

        </form>
        <mat-tab-group animationDuration="500ms" (selectedTabChange)="tabChanged($event)">
          <mat-tab>
            <ng-template mat-tab-label>
              Children Currently between 6m to 5yr
            </ng-template>
            <ng-template matTabContent>
              <div class="white_box_tittle list_header">
                <div class="QA_table ">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table
                      class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped padd"
                      role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                      <thead>
                        <tr>
                          <th style="width:4%;">SL<br>No.</th>
                          <th style="width:4%;">Family<br>No.</th>
                          <th style="width:12%;">Mother Name</th>
                          <th style="width:12%;">Guardian Name</th>
                          <th style="width:12%;">Child Name</th>
                          <th style="width:15%;">Age</th>
                          <th style="width:6%;">Last MUAC <br> collected</th>
                          <th style="width:5%;">Latest<br>Source</th>
                          <th style="width:5%;">Current<br>Status</th>
                          <th style="width:8%;">Action</th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr 
                          *ngFor="let item of childrenBetween6And59Months | filter: acrSearch | paginate: { itemsPerPage: 6, currentPage: p };index as i">
                          <td style="width:4%;">{{(p-1)*6+i+1 ? (p-1)*6+i+1 : i+1}}</td>
                          <td style="width:4%;">{{item.familyNumber}}</td>
                          <td style="width:12%;">{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                          <td style="width:12%;">{{item.husbandOrGuardianName}}</td>
                          <td style="width:12%;">{{item.childName}}</td>
                          <td style="width:15%;">{{item.childAge}}</td>
                          <td style="width:6%;">{{item.latestMuacValue ? item.latestMuacValue : '-'}}</td>
                          <td style="width:5%;">{{item.latestMuacTag == null ? '-' : item.latestMuacTag}}</td>
                          <td style="width:5%;" class="{{item.latestMuacIndicatorName == 'RED' ? 'danger' 
                                          : item.latestMuacIndicatorName == 'GREEN' ? 'success' 
                                          : item.latestMuacIndicatorName == 'YELLOW' ? 'warning' : null}}"><i
                              class="fa fa-circle fa-lg"></i></td>
                          <td style="width:8%;">
                            <i class="fa fa-plus-circle fa-lg" title="Add Child MUAC" (click)="openCreateChild(item)"
                              *ngIf="createMode"></i>
                            <i class="fa fa-eye fa-lg" title="View Child" (click)="openViewChild(item)"> </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                      (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              All Other Children in ACR
            </ng-template>
            <ng-template matTabContent>
              <div class="white_box_tittle list_header">
                <div class="QA_table ">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                      role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                      <thead>
                        <tr>
                          <th style="width:4%;">SL<br>No.</th>
                          <th style="width:4%;">Family<br>No.</th>
                          <th style="width:12%;">Mother Name</th>
                          <th style="width:12%;">Guardian Name</th>
                          <th style="width:12%;">Child Name</th>
                          <th style="width:15%;">Age</th>
                          <th style="width:6%;">Last MUAC <br> collected</th>
                          <th style="width:5%;">Current<br>Status</th>
                          <th style="width:7%;">Action</th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr 
                          *ngFor="let item of childrenWRTPsdOrBoD | filter: acrSearch | paginate: { itemsPerPage: 6, currentPage: p };index as i">
                          <td style="width:4%;">{{(p-1)*6+i+1 ? (p-1)*6+i+1 : i+1}}</td>
                          <td style="width:4%;">{{item.familyNumber}}</td>
                          <td style="width:12%;">{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                          <td style="width:12%;">{{item.husbandOrGuardianName}}</td>
                          <td style="width:12%;">{{item.childName}}</td>
                          <td style="width:15%;">{{item.childAge}}</td>
                          <td style="width:6%;">{{item.latestMuacValue ? item.latestMuacValue : '-'}}</td>
                          <td style="width:5%;" class="{{item.latestMuacIndicatorName == 'RED' ? 'danger' 
                                            : item.latestMuacIndicatorName == 'GREEN' ? 'success' 
                                            : item.latestMuacIndicatorName == 'YELLOW' ? 'warning' : null}}"><i
                              class="fa fa-circle fa-lg"></i></td>
                          <td style="width:7%;">
                            <i class="fa fa-plus-circle fa-lg" title="Add Child" (click)="openCreateChild(item)"
                              *ngIf="createMode"></i>
                            <i class="fa fa-eye fa-lg" title="View Child" (click)="openViewChild(item)"> </i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                      (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Other Children
            </ng-template>
            <ng-template matTabContent>
              <div class="white_box_tittle list_header">
                <div class="QA_table ">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                      role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                      <thead>
                        <tr>
                          <th style="width:4%;">SL<br>No.</th>
                          <th style="width:4%;">Family <br>No.</th>
                          <th style="width:12%;">Mother Name</th>
                          <th style="width:12%;">Guardian Name</th>
                          <th style="width:12%;">Child Name</th>
                          <th style="width:15%;">Age</th>
                          <th style="width:6%;">Last MUAC <br> collected</th>
                          <th style="width:6%;">Current<br>Status</th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr
                          *ngFor="let item of ineligibleChildren | filter: acrSearch | paginate: { itemsPerPage: 6, currentPage: p };index as i">
                          <td style="width:4%;">{{(p-1)*6+i+1 ? (p-1)*6+i+1 : i+1}}</td>
                          <td style="width:4%;">{{item.familyNumber}}</td>
                          <td style="width:12%;">{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                          <td style="width:12%;">{{item.husbandOrGuardianName}}</td>
                          <td style="width:12%;">{{item.childName}}</td>
                          <td style="width:15%;">{{item.childAge}}</td>
                          <td style="width:6%;">{{item.latestMuacValue ? item.latestMuacValue : '-'}}</td>
                          <td style="width:6%;" class="{{item.latestMuacIndicatorName == 'RED' ? 'danger' 
                                            : item.latestMuacIndicatorName == 'GREEN' ? 'success' 
                                            : item.latestMuacIndicatorName == 'YELLOW' ? 'warning' : null}}"><i
                              class="fa fa fa-circle fa-lg"></i></td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                      (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>