<h1 mat-dialog-title>
  <div class="dialog-header">
    <h2 class="dialog-title">Create User</h2>
    <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
  </div>
</h1>

<div mat-dialog-content>
  <form class="form-signin" [formGroup]="userForm">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="userRole"
          >Role:&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <select
          class="form-select"
          formControlName="userRole"
          (change)="changeRole($event.target.value)"
          [ngClass]="{
            'is-invalid': f.userRole.invalid && f.userRole.touched,
            'is-valid':
              f.userRole.valid && (f.userRole.dirty || f.userRole.touched)
          }"
        >
          <option [value]="null">-- Select Role --</option>
          <option *ngFor="let role of roleList" [value]="role.roleShortName">
            {{role.roleShortName}}
          </option>
        </select>
        <div *ngIf="f.userRole.errors" class="invalid-feedback">
          <div *ngIf="f.userRole.errors.required">Role is required</div>
        </div>
      </div>

      <div class="form-group col-md" *ngIf="selectMultiRegion">
        <!-- <button class="btn btn-link" (click)="createModal(selectRegion)"> 
       +&nbsp;Select&nbsp;Region&nbsp;<span class="text-danger">*&nbsp;</span>
      </button> -->
      <label for="multiRegion"
          >Select Multiple Region&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <ng-multiselect-dropdown
          [placeholder]="'Select Multiple Region'"
          [settings]="dropdownSettings"
          [data]="regionList"
          [disabled]="disableMultiRegion"
          formControlName="multiRegion"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onDeSelect($event)"
          [ngClass]="{
            'is-invalid': f.multiRegion.invalid && f.multiRegion.touched,
            'is-valid': f.multiRegion.valid && (f.multiRegion.dirty || f.multiRegion.touched)
          }"
        >
        </ng-multiselect-dropdown>
        <div *ngIf="f.multiRegion.errors" class="invalid-feedback">
          <div *ngIf="f.multiRegion.errors.required">
            Region selection is required
          </div>
        </div>
      </div>

      <!-- <ng-template #selectRegion let-modal>

      <div class="modal-content">
          <div class="modal-header">
  
              <div class="row">
                  <div class="col-md-7">
                      <h3 class="modal-title" id="modal-basic-title">Select Region</h3>
                  </div>
  
                  <div class="col-md-2">
                      <span class="close" (click)="selectRegionModalDismiss()"
                          style="cursor: pointer;font-size: 35px;">&times;</span>
                  </div>
              </div>
  
          </div>
  
          <div class="modal-body">
            <div class="form-check" *ngFor="let item of items">
              <label class="checkbox-inline">
                <input type="checkbox" formControlName="selectRegion" class="form-check"
                (change)="getSelectedValue(item.name)" > &nbsp;{{item.name}}
              </label>
            </div>
          </div>
      </div>
  </ng-template> -->

      <div class="form-group col-md" *ngIf="selectSingleRegion">
        <label for="region"
          >Region :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <select
          class="form-select"
          (change)="changeRegion($event.target.value)"
          formControlName="region"
          [ngClass]="{
            'is-invalid': f.region.invalid && f.region.touched,
            'is-valid': f.region.valid && (f.region.dirty || f.region.touched)
          }"
        >
          <option [value]="null">-- Select Region --</option>
          <option *ngFor="let region of regionList" [value]="region.regionName">
            {{region.regionName}}
          </option>
        </select>
        <div *ngIf="f.region.errors" class="invalid-feedback">
          <div *ngIf="f.region.errors.required">
            Region selection is required
          </div>
        </div>
      </div>

      <div class="form-group col-md" *ngIf="selectSingleBranch">
        <label for="branch"
          >Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <select
          class="form-select"
          (change)="changeBranch($event.target.value)"
          formControlName="branch"
          [ngClass]="{
            'is-invalid': f.branch.invalid && f.branch.touched,
            'is-valid': f.branch.valid && (f.branch.dirty || f.branch.touched)
          }"
        >
          <option [value]="null">-- Select Branch --</option>
          <option *ngFor="let branch of branchList" [value]="branch.branchId">
            {{ branch.branchName }}
          </option>
        </select>
        <div *ngIf="f.branch.errors" class="invalid-feedback">
          <div *ngIf="f.branch.errors.required">
            Branch selection is required
          </div>
        </div>
      </div>

      <div class="form-group col-md" *ngIf="selectBaseBranch">
        <label for="baseBranch"
          >Base Branch :</label
        >
        <select
          class="form-select"
          (change)="changeBaseBranch($event.target.value)"
          formControlName="baseBranch"
          [ngClass]="{
            'is-invalid': f.baseBranch.invalid && f.baseBranch.touched,
            'is-valid': f.baseBranch.valid && (f.baseBranch.dirty || f.baseBranch.touched)
          }"
        >
        <option [value]="null">-- Select Branch --</option>
        <option *ngFor="let baseBranch of branchList" [value]="baseBranch.branchId">
          {{ baseBranch.branchName }}
        </option>
        </select>
        <div *ngIf="f.branch.errors" class="invalid-feedback">
          <div *ngIf="f.branch.errors.required">
            Branch selection is required
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-group col-md">
        <label for="firstName"
          >First Name:&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Enter First Name"
          formControlName="firstName"
          maxlength="20"
          (keypress)="validationService.onlyAlphabets($event)"
          style="text-transform: capitalize"
          [ngClass]="{
            'is-invalid': f.firstName.invalid && f.firstName.touched,
            'is-valid':
              f.firstName.valid && (f.firstName.dirty || f.firstName.touched)
          }"
        />
        <div *ngIf="f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
          <div *ngIf="f.firstName.errors.minlength">
            Minimum length should be 3
          </div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="middleName">Middle Name:</label>
        <input
          type="text"
          class="form-control"
          maxlength="20"
          (keypress)="validationService.onlyAlphabets($event)"
          style="text-transform: capitalize"
          placeholder="Enter Middle Name"
          formControlName="middleName"
          [ngClass]="{
            'is-invalid': f.middleName.invalid && f.middleName.touched
          }"
        />
        <div *ngIf="f.middleName.errors" class="invalid-feedback">
          <div *ngIf="f.middleName.errors.minlength">
            Minimum length should be 3
          </div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="lastName">Last Name:</label>
        <input
          type="text"
          class="form-control"
          maxlength="20"
          (keypress)="validationService.onlyAlphabets($event)"
          style="text-transform: capitalize"
          placeholder="Enter Last Name"
          formControlName="lastName"
          [ngClass]="{
            'is-invalid': f.lastName.invalid && f.lastName.touched
          }"
        />
        <div *ngIf="f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.minlength">
            Minimum length should be 3
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="form-group col-md">
        <label for="loginId"
          >Login ID / Employee ID:&nbsp;<span class="text-danger"
            >*&nbsp;</span
          ></label
        >
        <div class="loginId" style="display: grid; grid-template-columns: 0.1fr 1fr">
          <p>
            BK
          </p>
          <input
            style="display: block"
            type="text"
            (keypress)="validationService.onlyInteger($event)"
            formControlName="loginId"
            placeholder="Enter Username"
            class="form-control"
            [maxlength]="6"
            [ngClass]="{
              'is-invalid': f.loginId.invalid && f.loginId.touched,
              'is-valid':
                f.loginId.valid && (f.loginId.dirty || f.loginId.touched)
            }"
          />
          <div></div>
          <div *ngIf="f.loginId.errors" class="invalid-feedback">
            <div *ngIf="f.loginId.errors.required">
              Login ID / Employee ID is required
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="primaryMobile"
          >Primary Mobile No:&nbsp;<span class="text-danger"
            >*&nbsp;</span
          ></label
        >
        <input
          type=""
          class="form-control"
          maxlength="10"
          (keypress)="validationService.onlyInteger($event)"
          placeholder="Enter Mobile No"
          formControlName="primaryMobile"
          [ngClass]="{
            'is-invalid': f.primaryMobile.invalid && f.primaryMobile.touched
          }"
        />
        <div *ngIf="f.primaryMobile.errors" class="invalid-feedback">
          <div *ngIf="f.primaryMobile.errors.required">
            Primary Mobile No is required
          </div>
          <div *ngIf="f.primaryMobile.errors.minlength">
            Mobile No. should be of 10 digit
          </div>
          <div *ngIf="f.primaryMobile.errors.pattern">
            Mobile No. should be starting with 6, 7, 8 or 9
          </div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="secondaryMobile">Secondary Mobile No:</label>
        <input
          type=""
          class="form-control"
          maxlength="10"
          (keypress)="validationService.onlyInteger($event)"
          placeholder="Enter Mobile No"
          formControlName="secondaryMobile"
          [ngClass]="{
            'is-invalid': f.secondaryMobile.invalid && f.secondaryMobile.touched
          }"
        />
        <div *ngIf="f.secondaryMobile.errors" class="invalid-feedback">
          <div *ngIf="f.secondaryMobile.errors.minlength">
            Mobile No. should be of 10 digit
          </div>
          <div *ngIf="f.secondaryMobile.errors.pattern">
            Mobile No. should be starting with 6, 7, 8 or 9
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="form-group col-md">
        <label for="primaryEmail"
          >Primary Email:&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          formControlName="primaryEmail"
          [ngClass]="{
            'is-invalid': f.primaryEmail.invalid && f.primaryEmail.touched,
            'is-valid':
              f.primaryEmail.valid &&
              (f.primaryEmail.dirty || f.primaryEmail.touched)
          }"
        />
        <div *ngIf="f.primaryEmail.errors" class="invalid-feedback">
          <div *ngIf="f.primaryEmail.errors.required">Email is required</div>
          <div *ngIf="f.primaryEmail.errors.email">Email is not valid</div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="secondaryEmail">Secondary Email:</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter Email"
          formControlName="secondaryEmail"
          [ngClass]="{
            'is-invalid': f.secondaryEmail.invalid && f.secondaryEmail.touched,
            'is-valid':
              f.secondaryEmail.valid &&
              (f.secondaryEmail.dirty || f.secondaryEmail.touched)
          }"
        />
        <div *ngIf="f.secondaryEmail.errors" class="invalid-feedback">
          <div *ngIf="f.secondaryEmail.errors.email">Email is not valid</div>
        </div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success" (click)="onSave()">
      Save
    </button>
  </form>
</div>
