.dialog-title {
    background-color: #499;
    display: inline-block;
    padding: 10px;
    position: relative;
    color: #ffffff;
  }
  .dialog-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 0;
    height: 0;
    border-top: 7px solid #277;
    border-right: 7px solid #277;
    border-bottom: 7px solid #0000;
    border-left: 7px solid #0000;
  }
  ::ng-deep .mat-dialog-container {
    padding: 22px 17px;
  }
  
  .dialog-header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-content {
    height: 450px;
    width: 700px;
  }

  .close {
    margin-left: 345px;
  }
.btn-link{
  text-decoration: inherit;
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%,50%);
}
/* .form-check{
  display: inline;
} */

/* ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  background: #499;
} */