<div mat-dialog-content>
    <i class="fas fa-times" (click)="closeDialog()" style="float: right;"></i><br>
    <div class="white_box_tittle list_header">
        <div class="QA_table">

            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                    <thead id="header_fixed" style="text-align:center">
                        <tr>
                            <th style="width:8%;">Sl. No.</th>
                            <th style="width:30%;">Village Name</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of data.villLists; index as i">
                            <td style="width:8%;">{{i+1}}</td>
                            <td style="width:30%;">{{item.villageName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>