<h1 mat-dialog-title>
    <div class="dialog-header">
        <h2 class="dialog-title">{{editMode ? 'Add' :'Edit'}} Child MUAC</h2>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>  
    </div>
</h1>
<div mat-dialog-content>
  <form class="form-signin" [formGroup]="muacForm">

    <div class="row">
        <div class="form-group col-md">
          <label for="muacCampNo">MUAC Camp No:</label>
          <input type="text" class="form-control" placeholder="Enter MUAC Camp No" formControlName="muacCampNo"
          (keypress)="validationService.onlyIntegerAndDot($event)"/>
        </div>
    </div>

    <div class="row">
      <div class="form-group col-md">
        <label for="height">Height (cm):</label>
        <input type="text" class="form-control" placeholder="Enter height" formControlName="height"
         (keypress)="validationService.onlyIntegerAndDot($event)" 
         [ngClass]="{
          'is-invalid': f.height.invalid && f.height.touched,
          'is-valid':
            f.height.valid &&
            (f.height.dirty || f.height.touched)
        }"/>
        <div *ngIf="f.height.errors" class="invalid-feedback">
          <div *ngIf="f.height.errors.notInRange">
            Height should be 10 to 180 cm
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md">
        <label for="weight">Weight (kg):</label>
        <input type="text" class="form-control" placeholder="Enter weight" formControlName="weight" 
        (keypress)="validationService.onlyIntegerAndDot($event)"
        [ngClass]="{
          'is-invalid': f.weight.invalid && f.weight.touched,
          'is-valid':
            f.weight.valid &&
            (f.weight.dirty || f.weight.touched)
        }"/>
        <div *ngIf="f.weight.errors" class="invalid-feedback">
          <div *ngIf="f.weight.errors.notInRange">
            Weight should be 1 to 25 kg
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="form-group col-md">
      <label for="muac">MUAC (cm):&nbsp;<span class="text-danger">*&nbsp;</span></label>
      <input type="text" class="form-control" placeholder="MUAC" formControlName="muac"
      (keypress)="validationService.onlyIntegerAndDot($event)" pattern="\d+\.?\d?(?!\d)"
      [ngClass]="{
        'is-invalid': f.muac.invalid && f.muac.touched,
        'is-valid':
          f.muac.valid &&
          (f.muac.dirty || f.muac.touched)
      }" />
      <div *ngIf="f.muac.errors" class="invalid-feedback">
        <div *ngIf="f.muac.errors.required">
          MUAC is required
        </div>
        <div *ngIf="f.muac.errors.notInRange">
          MUAC should be 1 to 30 cm
        </div>
      </div>
    </div>
  </div>
<br>
<div class="addEditBtn">
  <button type="submit" class="btn btn-success" (click)="onAddEdit()">{{editMode ? 'Add' :'Edit'}}</button>
</div>
  </form>
</div>

