
.QA_table {
  overflow-x: hidden;
  height: 400px;
  width: 1080px;
}

.QA_section .QA_table .table thead th {
  padding: 12px 25px;
}

.fa-plus {
  color: #3e7758 !important;
  font-size: 22px;
}

.modal-content {
  height: 300px;
  overflow-x: hidden;
  width: 1000px;
  margin-left: -190px;
  margin-top: -4px;
}

.close {
  margin-left: 735px;
}

#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
}

.fa-plus-circle {
  color: #3e7758 !important;
  font-size: 25px;
  margin-left: -200px;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 540px;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 840px;
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 70%;
  margin-left: 690px;
  margin-bottom: 5px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 850px;
  margin-bottom: 5px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 140px;
}


#deleteButton {
  float: right;
  margin-top: -30px;
  margin-right: 20px;

}

.form-check-input {
  margin-left: 8px;
}


/* .modal-contents {
  height: 500px;
  overflow-x: hidden;
  width: 100%;
} */

.closes {
  margin-left: 700px;
}

.white_box {
  padding: 30px;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

legend.scheduler-border {
  border: 1px groove #ddd !important;
  background-color: gray;
  width: 150px;
  color: #ddd;
  font-size: 1.2em !important;
  font-weight: bold !important;
  font-family: ui-sans-serif;
}