<app-loader [hidden]="loader"></app-loader>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <h2 class="page-title">View Household Info</h2>

                <form class="form-signin" [formGroup]="locationForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{
                              'is-invalid': f.region.invalid && f.region.touched,
                              'is-valid':
                                f.region.valid && (f.region.dirty || f.region.touched)
                            }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="f.region.errors" class="invalid-feedback">
                                <div *ngIf="f.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{
                              'is-invalid': f.branch.invalid && f.branch.touched,
                              'is-valid':
                                f.branch.valid && (f.branch.dirty || f.branch.touched)
                            }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="f.branch.errors" class="invalid-feedback">
                                <div *ngIf="f.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{
                              'is-invalid': f.block.invalid && f.block.touched,
                              'is-valid':
                                f.block.valid && (f.block.dirty || f.block.touched)
                            }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="f.block.errors" class="invalid-feedback">
                                <div *ngIf="f.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{
                              'is-invalid': f.gp.invalid && f.gp.touched,
                              'is-valid': f.gp.valid && (f.gp.dirty || f.gp.touched)
                            }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpDtoList">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="f.gp.errors" class="invalid-feedback">
                                <div *ngIf="f.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">GS/ Ward/ Village:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{
                              'is-invalid': f.gram.invalid && f.gram.touched,
                              'is-valid': f.gram.valid && (f.gram.dirty || f.gram.touched)
                            }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageDtoList">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="f.gram.errors" class="invalid-feedback">
                                <div *ngIf="f.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box_right d-flex lms_block col-md-6">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search" placeholder="Search household info here..."
                                            [(ngModel)]="registerSearch">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead>
                                        <tr>
                                            <th>SL<br>No</th>
                                            <th>Household<br> No.</th>
                                            <th>Family<br> Type</th>
                                            <th>Family<br> Count</th>
                                            <th>Total Member<br> of Household</th>
                                            <th>Swasthya <br>Sahayika</th>
                                            <th>View<br>Family</th>
                                            <th *ngIf="role !='PM' && role !='PO'  && role !='PD'">Add<br>Family</th>
                                            <th *ngIf="role !='PM' && role !='PO'  && role !='PD'">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let item of baselineDetails  | filter: registerSearch | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td>{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td>{{item.houseHoldNumber}} </td>
                                            <td>{{item.familyType}}</td>
                                            <td>{{item.numberOfFamily}}</td>
                                            <td>{{item.totalMembers}}</td>
                                            <td>{{item.swasthyaSahayikaDTO.name ? item.swasthyaSahayikaDTO.name :'-'}}
                                            </td>
                                            <td class="btn-link"
                                                style="color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="openModal(viewFamily, item.familyDetailDTOList,item, i)">View
                                            </td>

                                            <td class="btn-link"
                                                *ngIf="item.familyType == 'J' && role !='PM' && role !='PO' && role !='PD'"
                                                style="color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="gotoFamily(item)">Add</td>
                                            <td
                                                *ngIf="item.familyType == 'S' && role !='PM' && role !='PO'  && role !='PD'">
                                                Add</td>


                                            <td *ngIf="role !='PM' && role !='PO' && role !='PD'"> <i
                                                    class="fas fa-edit" title="Edit Household"
                                                    (click)="editHousehold(item,i)"> </i> <i class="fas fa-trash"
                                                    title="Delete Household"
                                                    (click)="deleteHousehold(item, i, viewFamily, item.familyDetailDTOList)"></i>
                                            </td>
                                        </tr>

                                        <!-- <tr  *ngIf="(baselineDetails | filter : registerSearch)?.length == 0">
                                            <td colspan="7">No matching household info found</td>

                                        </tr> -->
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #viewFamily let-modal>

    <div class="modal-content">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title">Family Details</h2>
                <span class="close" title="close" (click)="modalDismiss()"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>
            </div>

        </div>

        <div id="table_wrapper">
            <table class="table table-striped" id="table_wrapper" style="table-layout: fixed;">

                <thead>
                    <tr>
                        <th>SL <br>No</th>
                        <th>Family<br> Number</th>
                        <th>Name</th>
                        <th>Husband</th>
                        <th>Family <br>Member Count</th>
                        <th>Total Child <br>Count</th>
                        <th>Child Below 18 <br>yr. entered</th>
                        <th>Family <br>Details</th>
                        <th *ngIf="modalTitle == 'V' && role !='PM' && role !='PO' && role !='PD'">Action</th>
                    </tr>
                </thead>

                <tbody style="text-align: center;">

                    <tr *ngFor="let item of familyDetails ; index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.familyNumber}}</td>
                        <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                        <td>{{item.husbandOrGuardianName}}</td>
                        <td>{{item.totaFamilyMemberFemales + item.totaFamilyMemberMales}}</td>
                        <td>{{item.totalNumberOfChildren}}</td>
                        <td>{{item.existingChildCount ? item.existingChildCount : 0 }}</td>
                        <td class="btn-link" style="color:#0d6efd; text-decoration: none; cursor: pointer;"
                            (click)="familyModal(viewDetails, item.familyDetailId)">View</td>
                        <td *ngIf="modalTitle == 'V' && role !='PM' && role !='PO'  && role !='PD'">
                            <i class="fas fa-edit" title="Edit Family" (click)="editFamily(item,i,items)"> </i>
                            <i class="fas fa-trash" title="Delete Family" (click)="deleteFamily(item,i)"></i>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="form-check" *ngIf="modalTitle == 'D' ">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                    (change)="changeEvent($event)">
                <label class="form-check-label" for="flexCheckDefault">&nbsp;
                    Select this checkbox for deleting Household <br>
                    <span class="text-danger">! Important : All family in this household will be deleted</span>
                </label>
            </div>

            <div *ngIf="modalTitle == 'D' && toggleBool == false " (click)="deleteHH()"> <button class="btn btn-danger"
                    id="deleteButton"> <i class="fas fa-trash" aria-hidden="true"></i>Delete
                    Household</button>
            </div>
            <div *ngIf="modalTitle == 'D' &&  toggleBool == true "> <button class="btn btn-danger" disabled
                    id="deleteButton"> <i class="fas fa-trash" aria-hidden="true"></i>Delete
                    Household</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewDetails let-modal>

    <div class="modal-content" style="height: 500px;">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title">Family Details View</h2>
                <span class="closes" title="close" (click)="modal.dismiss('Cross click')"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>

            </div>

        </div>

        <div class="modal-body">

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">HH Info</legend>

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Family No:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.familyNumber}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Family Type:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.familyType}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Name:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.firstName}} {{moreDetails?.middleName}}
                                    {{moreDetails?.lastName}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Age:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.age}}</label>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Husband Name:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.husbandOrGuardianName}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Mobile:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.mobileNumber}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">ID Type:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">
                                    {{moreDetails?.identityCardDTOList[0]?.identityCardTypesMasterDTO?.name}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">ID Number:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">{{moreDetails?.identityCardDTOList[0]?.number}}</label>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Religion:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.religionMasterDTO.religionMasterDescription}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Caste:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.casteTypeMasterDTO.casteTypeDescription}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Occupation:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.occupationMasterDTO.occupationDescription}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Income:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.monthlyIncomeMasterDTO.incomeRange}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Education:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.educationalQualificationMasterDTO.qualification}}</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">BB Micro Group:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.bbMicroGroupMembership}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Sanitary Latrine: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.haveSanitaryLatrine}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Pregnant Woman:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.pregnantWoman}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Have Children: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.haveChild}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Child below 5 yrs:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.childrenBelow5}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Child below 18 yrs:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.childrenBelow18}}</label>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Institutional Delivery:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.institutionalDelivery}}</label>
                            </div>
                        </div>

                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Lacteting Mother:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.lactetingMother}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Total Family Member (Male): </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.totaFamilyMemberMales}}</label>
                            </div>
                        </div>


                    </div>

                    <div class="col">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Total Family Member (Female): </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.totaFamilyMemberFemales}}</label>
                            </div>
                        </div>


                    </div>

                </div>


                <div class="row">


                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Total Family Member (Senior Citizen): </label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.totaFamilyMemberSrcitizen}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="" style="font-weight: 500;
                            font-size: 1.05rem;">Total No. of children:</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for=""> {{moreDetails?.totalNumberOfChildren}}</label>
                            </div>
                        </div>

                    </div>

                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Child Info</legend>
                <div id="table_wrapper">
                    <table class="table table-striped" id="table_wrapper">

                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Child Name</th>
                                <th>DOB</th>
                                <th>sex</th>
                                <th>Age</th>
                            </tr>
                        </thead>

                        <tbody style="text-align: center;">

                            <tr *ngFor="let item of moreDetails?.childDetailDTOList; index as i">
                                <td>{{i+1}}</td>
                                <td>{{item.childName}}</td>
                                <td>{{item.dob.substring(0,10).split('-').reverse().join('-')}}</td>
                                <td>{{item.sex}}</td>
                                <td>{{item.age}}</td>
                            </tr>

                        </tbody>

                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</ng-template>