<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Create Swasthya Sahayika</h2>

                    <div class="box_right d-flex lms_block col-md-6" *ngIf="ssForm.value.branch">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen ? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search" placeholder="Search SS Info here..."
                                            [(ngModel)]="searchText">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="ssForm">
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" [ngClass]="{'is-invalid': f.region.invalid && f.region.touched, 'is-valid': 
                                f.region.valid && (f.region.dirty || f.region.touched)}">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList; index as i" value="{{region.regionMasterId}}">
                                    {{region.regionName}}</option>
                            </select>
                            <div *ngIf="f.region.errors" class="invalid-feedback">
                                <div *ngIf="f.region.errors.required">
                                    Region selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value, 1)"
                                formControlName="branch" [ngClass]="{'is-invalid': f.branch.invalid && f.branch.touched,
                                'is-valid': f.branch.valid && (f.branch.dirty || f.branch.touched)}">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList; index as i" value="{{branch.branchId}}">
                                    {{branch.branchName}}</option>
                            </select>
                            <div *ngIf="f.branch.errors" class="invalid-feedback">
                                <div *ngIf="f.branch.errors.required">
                                    Branch selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md" *ngIf="ssForm.value.branch">
                            <label for="staffWiseList">Staff Wise SS List:&nbsp;<span
                                    class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="staffWiseSSList($event.target.value)"
                                formControlName="staffWiseList" id="staffWiseList" [ngClass]="{'is-invalid': f.staffWiseList.invalid && f.staffWiseList.touched, 'is-valid':
                                f.staffWiseList.valid && (f.staffWiseList.dirty || f.staffWiseList.touched) }">
                                <option value="">-- View SS List --</option>
                                <option value="1">All SS List</option>
                                <option *ngFor="let staff of staffList" value="{{staff.user_id}}">
                                    {{ staff.user_firstname}} {{staff.user_middlename}} {{staff.user_lastname}}
                                </option>
                                <option value="NA">No User</option>
                            </select>
                            <div *ngIf="f.staffWiseList.errors" class="invalid-feedback">
                                <div *ngIf="f.staffWiseList.errors.required">Staff wise list selection is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md" *ngIf="ssForm.value.branch && createMode"
                            style="display: flex; justify-content:flex-end">
                            <button class="btn btn-primary" (click)="createSwasthyaSahayika(createSS)">Create</button>
                        </div>
                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th style="width: 6%;">SL <br>No</th>
                                            <th style="width: 17%;">Name</th>
                                            <th style="width: 20%;">Guardian Name</th>
                                            <th style="width: 10%;">Mobile</th>
                                            <th style="width: 17%;">Village/ Gram <br>Sansad/ Locality</th>
                                            <th style="width: 15%;">Staff In<br> Charge</th>
                                            <th >User<br> Active</th>
                                            <th *ngIf="updateMode || deleteMode">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let item of staffWiseSSLists | filter:  searchText | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td style="width: 6%;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td style="width: 17%;">{{item.ssName}} </td>
                                            <td style="width: 20%;">{{item.ssHusbandOrGuardianName}}</td>
                                            <td style="width: 10%;">{{item.ssContactNo ? item.ssContactNo : '-'}}</td>
                                            <td style="width: 17%;">{{item.villageDto.villageName}}</td>
                                            <td style="width: 15%;"> {{ item.userDto? item.userDto.userFirstName :
                                                '-'}} {{item.userDto ? item.userDto.userMiddleName : '-'}}
                                                {{item.userDto ? item.userDto.userLastName : '-'}}</td>
                                            <td>{{item.userDto ? item.userDto.isMappedUserActive :
                                                '-'}}</td>
                                            <td *ngIf="updateMode || deleteMode"><i class="fas fa-edit" title="Edit SS"
                                                    *ngIf="updateMode" (click)="editSSForm(item, createSS)"></i>

                                                <i class="fas fa-trash" title="Delete SS" *ngIf="deleteMode"
                                                    (click)="deleteSSForm(item, i)"></i>

                                            </td>

                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<ng-template #createSS>

    <div class="modal-content">
        <div class="modal-header">

            <div class="row">
                <div class="col-md-7">
                    <h3 class="modal-title" id="modal-basic-title" *ngIf="!editssData?.ssId">Create SS</h3>
                    <h3 class="modal-title" id="modal-basic-title" *ngIf="editssData?.ssId">Edit SS</h3>
                </div>

                <div class="col-md-2">
                    <span class="close" (click)="ssModalDismiss()"
                        style="cursor: pointer;font-size: 35px;">&times;</span>
                </div>
            </div>

        </div>

        <div class="modal-body">
            <form class="form-signin" [formGroup]="ssCreateForm">
                <div class="row">
                    <div class="form-group col-md">
                        <label for="ssName">Name:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" placeholder="Swasthya Sahayika Name"
                            formControlName="ssName" maxlength="55"
                            (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                            style="text-transform: capitalize" [ngClass]="{'is-invalid': c.ssName.invalid && c.ssName.touched,'is-valid': c.ssName.valid && 
                            (c.ssName.dirty || c.ssName.touched)}" />
                        <div *ngIf="c.ssName.errors" class="invalid-feedback">
                            <div *ngIf="c.ssName.errors.required">
                                SS Name is required
                            </div>
                            <div *ngIf="c.ssName.errors.minlength">
                                Minimum length should be 3
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="husbandName">Husband/Guardian’s:&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" maxlength="55" placeholder="Husband Name"
                            formControlName="husbandName" (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                            style="text-transform: capitalize" [ngClass]="{'is-invalid': c.husbandName.invalid && c.husbandName.touched,
                            'is-valid': c.husbandName.valid && (c.husbandName.dirty || c.husbandName.touched)}" />
                        <div *ngIf="c.husbandName.errors" class="invalid-feedback">
                            <div *ngIf="c.husbandName.errors.required">
                                Husband/ Guardian’s Name is required
                            </div>
                            <div *ngIf="c.husbandName.errors.minlength">
                                Minimum length should be 3
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="contact">Contact Number:</label>
                        <input type="" class="form-control" maxlength="10"
                            (keypress)="validationService.onlyInteger($event)" placeholder="e.g. 9244646409"
                            formControlName="contactNo" [ngClass]="{'is-invalid': c.contactNo.invalid && 
                          c.contactNo.touched}" />
                        <div *ngIf="c.contactNo.errors" class="invalid-feedback">
                            <div *ngIf="c.contactNo.errors.minlength">
                                Contact No. should be of 10 digit
                            </div>
                            <div *ngIf="c.contactNo.errors.pattern">
                                Contact No. should be starting with 6, 7, 8 or 9
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="address">Address:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" placeholder="e.g. Box 564, Disneyland"
                            formControlName="address" [ngClass]="{'is-invalid': c.address.invalid && c.address.touched,
                            'is-valid': c.address.valid && (c.address.dirty || c.address.touched)}" />
                        <div *ngIf="c.address.errors" class="invalid-feedback">
                            <div *ngIf="c.address.errors.required">
                                Address is required
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" (change)="changeBlock($event.target.value)" formControlName="block"
                            id="block" [ngClass]="{'is-invalid': c.block.invalid && c.block.touched, 'is-valid':
                            c.block.valid && (c.block.dirty || c.block.touched) }">
                            <option value="">-- Select Block --</option>
                            <option *ngFor="let block of blockList" value="{{block.blockMasterId}}">
                                {{ block.blockName }}
                            </option>
                        </select>
                        <div *ngIf="c.block.errors" class="invalid-feedback">
                            <div *ngIf="c.block.errors.required">Block selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" (change)="changeGP($event.target.value)" formControlName="gp"
                            id="gp" [ngClass]="{'is-invalid': c.gp.invalid && c.gp.touched,
                            'is-valid': c.gp.valid && (c.gp.dirty || c.gp.touched)}">
                            <option value="">-- Select Municipality --</option>
                            <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                {{ gp.name }}
                            </option>
                        </select>
                        <div *ngIf="c.gp.errors" class="invalid-feedback">
                            <div *ngIf="c.gp.errors.required">
                                GP selection is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="gram">Village/ GS/ Locality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="gram" id="gram" [ngClass]="{'is-invalid': c.gram.invalid && c.gram.touched,
                          'is-valid': c.gram.valid && (c.gram.dirty || c.gram.touched)}">
                            <option value="">-- Select Village --</option>
                            <option *ngFor="let vill of villList" value="{{vill.villageMasterId}}">
                                {{ vill.villageName }}
                            </option>
                        </select>
                        <div *ngIf="c.gram.errors" class="invalid-feedback">
                            <div *ngIf="c.gram.errors.required">
                                Village selection is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md" *ngIf="!editssData?.ssId">
                        <label for="staff">Staff In Charge:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="staff" id="staff" [ngClass]="{
                          'is-invalid': c.staff.invalid && c.staff.touched,
                          'is-valid': c.staff.valid && (c.staff.dirty || c.staff.touched)
                        }">
                            <option value="">-- Select Staff --</option>
                            <option *ngFor="let staff of staffList" value="{{staff.user_id}}">
                                {{ staff.user_firstname}} {{staff.user_middlename}} {{staff.user_lastname}}
                            </option>
                        </select>
                        <div *ngIf="c.staff.errors" class="invalid-feedback">
                            <div *ngIf="c.staff.errors.required">
                                Staff Incharge selection is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md" *ngIf="editssData?.ssId">
                        <label for="staff">Staff In Charge:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="staff" id="staff" [attr.disabled]="isDisabled"
                            [ngClass]="{
                          'is-invalid': c.staff.invalid && c.staff.touched,
                          'is-valid': c.staff.valid && (c.staff.dirty || c.staff.touched)
                        }">
                            <option value="">-- Select Staff --</option>
                            <option *ngFor="let staff of staffList" value="{{staff.user_id}}">
                                {{ staff.user_firstname}} {{staff.user_middlename}} {{staff.user_lastname}}
                            </option>
                        </select>
                        <div *ngIf="c.staff.errors" class="invalid-feedback">
                            <div *ngIf="c.staff.errors.required">
                                Staff Incharge selection is required
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <div class="row">
                <button type="button" class=" btn btn-primary bttn" (click)="saveSSForm()">Save</button>
            </div>
        </div>

    </div>

</ng-template>