<app-loader [hidden]="loader"></app-loader>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="white_box QA_section mb_30">

        <div id="header-fixed" style="display: flex;">
          <h2 class="page-title">Pregnant Woman Register</h2>

          <div class="box_right d-flex lms_block col-md-6">
            <div class="serach_field_2">
              <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                <form active="#">
                  <div class="search_field">
                    <input type="text" name="search" placeholder="Search pregnant info here..." [(ngModel)]="pwSearch">
                  </div>
                  <button type="submit"> <i class="fa fa-search"></i> </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <form class="form-signin" [formGroup]="locationForm" *ngIf="setStatus != 'viewCentral'">

          <div class="row" *ngIf="regionBranchHide">
            <div class="form-group col-md">
              <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeRegion($event.target.value)" formControlName="region"
                id="region" [ngClass]="{
                  'is-invalid': f.region.invalid && f.region.touched,
                  'is-valid':
                    f.region.valid && (f.region.dirty || f.region.touched)
                }">
                <option value="">-- Select Region --</option>
                <option *ngFor="let region of regionList">
                  {{region.regionName}}
                </option>
              </select>
              <div *ngIf="f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">Region selection is required</div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeBranch($event.target.value)" formControlName="branch"
                id="branch" [ngClass]="{
                  'is-invalid': f.branch.invalid && f.branch.touched,
                  'is-valid':
                    f.branch.valid && (f.branch.dirty || f.branch.touched)
                }">
                <option value="">-- Select Branch --</option>
                <option *ngFor="let branch of branchList">
                  {{ branch.branchName }}
                </option>
              </select>
              <div *ngIf="f.branch.errors" class="invalid-feedback">
                <div *ngIf="f.branch.errors.required">Branch selection is required</div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="form-group col-md">
              <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeBlock($event.target.value)" formControlName="block" id="block"
                [ngClass]="{
                  'is-invalid': f.block.invalid && f.block.touched,
                  'is-valid':
                    f.block.valid && (f.block.dirty || f.block.touched)
                }">
                <option value="">-- Select Block --</option>
                <option *ngFor="let block of villagesOfBranch">
                  {{ block.blockName }}
                </option>
              </select>
              <div *ngIf="f.block.errors" class="invalid-feedback">
                <div *ngIf="f.block.errors.required">Block selection is required</div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp" id="gp"
                [ngClass]="{
                  'is-invalid': f.gp.invalid && f.gp.touched,
                  'is-valid': f.gp.valid && (f.gp.dirty || f.gp.touched)
                }">
                <option value="">-- Select GP/ Municipality --</option>
                <option *ngFor="let gp of gpDtoList">
                  {{ gp.name }}
                </option>
              </select>
              <div *ngIf="f.gp.errors" class="invalid-feedback">
                <div *ngIf="f.gp.errors.required">
                  GP selection is required
                </div>
              </div>
            </div>

            <div class="form-group col-md">
              <label for="gram">Village/ Gram Sansad/ Locality
                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
              <select class="form-select" (change)="changeVillage($event.target.value)" formControlName="gram" id="gram"
                [ngClass]="{
                  'is-invalid': f.gram.invalid && f.gram.touched,
                  'is-valid': f.gram.valid && (f.gram.dirty || f.gram.touched)
                }">
                <option value="">-- Select Village --</option>
                <option *ngFor="let vill of villageDtoList" value="{{vill.villageMasterId}}">
                  {{ vill.villageName }}
                </option>
              </select>
              <div *ngIf="f.gram.errors" class="invalid-feedback">
                <div *ngIf="f.gram.errors.required">
                  Village selection is required
                </div>
              </div>
            </div>
          </div>
        </form>

        <br>
        <mat-tab-group animationDuration="500ms" (selectedTabChange)="tabChanged($event)">

          <mat-tab *ngIf="setStatus != 'viewCentral'">
            <ng-template mat-tab-label>
              Set Pregnancy Status
            </ng-template>
            <ng-template matTabContent>
              <div class="white_box_tittle list_header">
                <div class="QA_table ">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                      role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                      <thead id="header-fixed">
                        <tr>
                          <th>SL No</th>
                          <th>Family No.</th>
                          <th>Name</th>
                          <th>Age</th>
                          <th>Current Pregnancy Status</th>
                          <th *ngIf="createMode || updateMode">Action</th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr
                          *ngFor="let item of nonPregnantWomenList | filter: pwSearch | paginate: { itemsPerPage: 6, currentPage: p };index as i">
                          <td>{{(p-1)*6+i+1 ? (p-1)*6+i+1 : i+1}}</td>
                          <td>{{item.familyNumber}}</td>
                          <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                          <td>{{item.age}}</td>
                          <td>{{item.pregnancyStatus == 'N' ? "No" : "Yes"}}</td>
                          <td *ngIf="createMode || updateMode"><i class="fas fa-edit" title="Edit" (click)="openPwStatus(item)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                      (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              Pregnant Woman Register
            </ng-template>
            <ng-template matTabContent>
              <div class="white_box_tittle list_header">
                <div class="QA_table ">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                      role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                      <thead id="header-fixed">
                        <tr>
                          <th>SL No</th>
                          <th>Family No</th>
                          <th>Name</th>
                          <th>Husband Name</th>
                          <th>Age</th>
                          <th>Current Pregnancy Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>

                        <tr
                          *ngFor="let item of allPregnantWomenList | filter: pwSearch | paginate: { itemsPerPage: 6, currentPage: p };index as i">
                          <td>{{(p-1)*6+i+1 ? (p-1)*6+i+1 : i+1}}</td>
                          <td>{{item.familyNumber}}</td>
                          <td>{{item.firstName}} {{item.middleName}} {{item.lastName}}</td>
                          <td>{{item.husbandOrGuardianName}}</td>
                          <td>{{item.age}}</td>
                          <td>{{item.pregnancyStatus == 'N' ? "No" : "Yes"}}</td>
                          <td><i class="fas fa-list" title="View" (click)="openPwList(i,item)"></i></td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                      (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </ng-template>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>