<h1 mat-dialog-title>
  <div class="dialog-header">
    <h2 class="dialog-title">Create New Block</h2>
    <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
  </div>
</h1>

<div mat-dialog-content>
  <form class="form-signin" [formGroup]="blockForm">
    <div class="row">
      <div class="form-group col-md">
        <label for="state"
          >State :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <select
          class="form-select"
          (change)="changeState($event.target.value)"
          formControlName="state"
          [ngClass]="{
            'is-invalid': f.state.invalid && f.state.touched,
            'is-valid': f.state.valid && (f.state.dirty || f.state.touched)
          }"
        >
        <option value="">-- Select state --</option>
        <option *ngFor="let state of stateList" [value]="state.stateMasterId">
          {{state.stateName}}
        </option>
        </select>
        <div *ngIf="f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">State selection is required</div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="district"
          >District :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <select
          class="form-select"
          formControlName="district"
          [ngClass]="{
            'is-invalid': f.district.invalid && f.district.touched,
            'is-valid':
              f.district.valid && (f.district.dirty || f.district.touched)
          }"
        >
        <option value="">-- Select district --</option>
        <option *ngFor="let district of stateWiseDistrictList" [value]="district.districtMasterId">
          {{district.districtName}}
        </option>
        </select>
        <div *ngIf="f.state.errors" class="invalid-feedback">
          <div *ngIf="f.state.errors.required">
            District selection is required
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="form-group col-md">
        <label for="blockName"
          >Block Name :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Enter Block Name"
          formControlName="blockName"
          style="text-transform: capitalize"
          spellcheck="false"
          [ngClass]="{
            'is-invalid': f.blockName.invalid && f.blockName.touched,
            'is-valid':
              f.blockName.valid && (f.blockName.dirty || f.blockName.touched)
          }"
        />
        <div *ngIf="f.blockName.errors" class="invalid-feedback">
          <div *ngIf="f.blockName.errors.required">Block Name is required</div>
        </div>
      </div>

      <div class="form-group col-md">
        <label for="pinCode"
          >Pin Code :&nbsp;<span class="text-danger">*&nbsp;</span></label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Enter Pin Code"
          formControlName="pinCode"
          (keypress)="validationService.onlyInteger($event)"
          maxlength="6"
          minlength="6"
          [ngClass]="{
            'is-invalid': f.pinCode.invalid && f.pinCode.touched,
            'is-valid':
              f.pinCode.valid && (f.pinCode.dirty || f.pinCode.touched)
          }"
        />
        <div *ngIf="f.pinCode.errors" class="invalid-feedback">
          <div *ngIf="f.pinCode.errors.required">Pin Code is required</div>
          <div *ngIf="f.pinCode.errors?.minlength">Minimum 6 digit required</div>
        </div>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
</div>
