<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="page-title">Active Sub-Verticals</h2>
                    </div>
                    <div class="col-md-8">
                        <div class="box_right d-flex lms_block">
                            <div class="serach_field_2">
                                <div class="search_inner">
                                    <form active="#">
                                        <div class="search_field">
                                            <input type="text" name="search" placeholder="Search sub-verticals here..." [(ngModel)]="subVerticalSearch">
                                        </div>
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </form>
                                </div>
                            </div>
                            <div class="add_button ">
                                <a [routerLink]="['create']" data-toggle="modal" data-target="#addcategory" class="btn btn-primary">Add Sub-Vertical</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white_box_tittle list_header">

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table class="table lms_table_active dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 705px;">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Sub-Vertical Name</th>
                                        <th>Sub-Vertical Code</th>
                                        <th>Vertical Name</th>
                                        <th>Vertical Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subVerticalService.activeSubVerticals | filter: subVerticalSearch | slice: (page-1) * pageSize : page * pageSize; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{item.subVerticalName}}</td>
                                        <td>{{item.subVerticalCode}}</td>
                                        <td>{{item.verticalMasterDataDTO.verticalName}}</td>
                                        <td>{{item.verticalMasterDataDTO.verticalCode}}</td>
                                        <td>
                                            <i class="fas fa-edit" [routerLink]="['create',item.subVerticalMasterId]" (click)="setData(item)"> </i>
                                            <i class="fas fa-trash"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ngb-pagination class="d-flex justify-content-end p-1" [(page)]="page" [pageSize]="pageSize" [collectionSize]="subVerticalService.activeSubVerticals?.length"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>