.form-group {
  margin-bottom: 1.5rem;

}

.modal-content {
  height: 480px;
  overflow-x: hidden;
  width: 1140px;
  margin-left: -320px;
  margin-top: -4px;
}

#pem {
  margin-top: 16px;
  margin-left: 30px;
  margin-right: 30px;
}

.close {
  margin-left: 800px;
}

.closes {
  margin-left: 750px;
}

#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
}


fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

legend.scheduler-border {
  border: 1px groove #ddd !important;
  background-color: gray;
  width: 120px;
  color: #ddd;
  font-size: 1.2em !important;
  font-weight: bold !important;
  font-family: ui-sans-serif;
}

.fa-plus:hover {
  color: rgb(31, 218, 31) !important;
  cursor: pointer;
  font-size: 1.5em;
}



fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

legend.scheduler-border {
  border: 0px groove #ddd !important;
  background-color: #ddd;
  width: 0px;
  color: #ddd;
  font-size: 1.2em !important;
  font-weight: bold !important;
  font-family: ui-sans-serif;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 374px;
  height: 63%;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 678px;
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 70%;
  margin-left: 525px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 685px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 140px;
}

.QA_section .QA_table tbody .danger {
  color: #cd0202;
}

.QA_section .QA_table tbody .success {
  color: #24d524;
}

.QA_section .QA_table tbody .warning {
  color: #f7cd00;
}