<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <h2 class="page-title">View PEM Register</h2>

                <form class="form-signin" [formGroup]="locationForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{
                              'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid':
                                l.region.valid && (l.region.dirty || l.region.touched)
                            }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{
                              'is-invalid': l.branch.invalid && l.branch.touched,
                              'is-valid':
                                l.branch.valid && (l.branch.dirty || l.branch.touched)
                            }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{
                              'is-invalid': l.block.invalid && l.block.touched,
                              'is-valid':
                                l.block.valid && (l.block.dirty || l.block.touched)
                            }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="l.block.errors" class="invalid-feedback">
                                <div *ngIf="l.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{
                              'is-invalid': l.gp.invalid && l.gp.touched,
                              'is-valid': l.gp.valid && (l.gp.dirty || l.gp.touched)
                            }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpDtoList">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="l.gp.errors" class="invalid-feedback">
                                <div *ngIf="l.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">GS/ Ward/ Village:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{
                              'is-invalid': l.gram.invalid && l.gram.touched,
                              'is-valid': l.gram.valid && (l.gram.dirty || l.gram.touched)
                            }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageDtoList">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="l.gram.errors" class="invalid-feedback">
                                <div *ngIf="l.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box_right d-flex lms_block col-md-6">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen ? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search" placeholder="Search pem info here..."
                                            [(ngModel)]="registerSearch">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info"
                                    style="table-layout: fixed; ">

                                    <thead>
                                        <tr>
                                            <th style="padding: 0px;">SL<br>No</th>
                                            <th style="padding: 0px;">Family<br> No.</th>
                                            <th>Mother <br> Name</th>
                                            <th>Child <br> Name</th>
                                            <th style="padding: 0px;">Age</th>
                                            <th>Current<br>Status</th>
                                            <th>PEM Register<br> Data Entry</th>
                                            <th>Add PEM</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let pem of pemDetails  | filter: registerSearch | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td style="padding: 0px;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td style="padding: 0px;">{{pem.familyNumber}}</td>
                                            <td style="padding: 0px;">{{pem.firstName}}</td>
                                            <td style="padding: 0px;">{{pem.childName}}</td>
                                            <td style="padding: 0px;">{{pem.childAge}}</td>
                                            <td style="padding: 0px;" class="{{pem.latestMuacIndicatorName == 'RED' ? 'danger' 
                                            : pem.latestMuacIndicatorName == 'GREEN' ? 'success' 
                                            : pem.latestMuacIndicatorName == 'YELLOW' ? 'warning' : null}}"><i
                                                    class="fa fa-circle fa-lg"></i></td>
                                            <td class="btn-link"
                                                style="color:#0d6efd; text-decoration: none; cursor: pointer; padding: 0px;"
                                                (click)="openModal(pemData, pem.childId, pem.childAge)">View
                                            </td>
                                            <td style="padding: 0px;"> <i class="fa fa-plus" title="Create PEM"
                                                    (click)="addPemModal(addPem, pem.childId, pem)"></i>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #pemData let-modal>

    <div class="modal-content">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title">PEM Counselling Data</h2>
                <span class="close" title="close" (click)="modalDismiss()"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>
            </div>

        </div>


        <fieldset class="scheduler-border">
            <legend class="scheduler-border"></legend>

            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Place of delivery:</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.placeOfDelivery}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Birth weight of child (In kg): </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.birthWeight}}</label>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Primary immunization completed after 12 months: </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.primaryImmunizationUpto12Completed}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Primary immunization completed after 24 months:</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.primaryImmunizationUpto24Completed}}</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Exclusive breastfeeding followed or not (at least for first 6 month): </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.ebfUpto6Complete}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Exclusive breastfeeding followed or not (upto first 12 month):</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.ebfUpto12Complete}}</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Exclusive breastfeeding followed or not (upto first 18 month):</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.ebfUpto18Complete}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                    font-size:1rem;">Exclusive breastfeeding followed or not (upto first 24 month): </label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for=""> {{childDTO?.ebfUpto24Complete}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


        <div id="table_wrapper">
            <table class="table table-striped" id="table_wrapper" style="table-layout: fixed;">

                <thead>
                    <tr>
                        <th>SL <br>No</th>
                        <th>Data of<br>Record Keeping</th>
                        <th>Muac <br> (In cm)</th>
                        <th>Height <br> (In cm)</th>
                        <th>Weight <br> (In kg)</th>
                        <th>Experienced <br>Diarrhea</th>
                        <th>Supplementary <br> Food Provided</th>
                        <th>Visiting Health <br>Care center</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody style="text-align: center;">

                    <tr *ngFor="let item of pemRegisterEntry ; index as i">
                        <td>{{i+1}}</td>
                        <td>{{item.pemDate}}</td>
                        <td>{{item.muacData.muac}}</td>
                        <td>{{item.muacData.height}}</td>
                        <td>{{item.muacData.weight}}</td>
                        <td>{{item.experiencedDiarrhea}}</td>
                        <td>{{item.supplementaryFood}}</td>
                        <td>{{item.visitingHcareCenter}}</td>
                        <td><i class="fas fa-edit" title="Edit PEM"
                                (click)="editPEMData(item,i,editPem,item.pemCounsellingDataMasterId)"> </i> <i
                                class="fas fa-trash" title="Delete PEM" (click)="deletePEMData(item, i)"></i></td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</ng-template>

<ng-template #addPem let-modal>

    <div class="modal-content">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title">Create PEM Counselling Data</h2>
                <span class="closes" title="close" (click)="modalDismiss()"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>
            </div>

        </div>
        <form class="form-signin" [formGroup]="pemForm" id="pem">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"></legend>
                <div class="row">

                    <div class="form-group col-md-3">
                        <label for="delivery">Place of delivery: &nbsp;<span class="text-danger">*&nbsp;</span></label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="delivery" id="yes" value="Institution"
                                formControlName="delivery" (change)="delivery($event)" />
                            <label class="form-check-label" for="delivery">
                                &nbsp;&nbsp;Institution</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="delivery" id="no"
                                    (change)="delivery($event)" value="Home" formControlName="delivery" />
                                <label class="form-check-label" for="delivery">
                                    &nbsp;&nbsp;Home</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="birthweight">Birth weight of child (In kg): &nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" maxlength="5" (keyup)="birthWeightVal()"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)"
                            placeholder="Birth Weight (In kg)" formControlName="birthweight" [ngClass]="{
                    'is-invalid': f.birthweight.invalid && f.birthweight.touched,
                    'is-valid':
                      f.birthweight.valid && (f.birthweight.dirty || f.birthweight.touched)
                  }" />
                        <div *ngIf="f.birthweight.errors" class="invalid-feedback">
                            <div *ngIf="f.birthweight.errors.required">
                                Birth weight is required
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-md-3">
                        <label for="immunization12">Primary immunization completed after 12 months: </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="immunization12" id="yes" value="Y"
                                formControlName="immunization12" (change)="immunization12($event)"
                                [disabled]="!immunization12" />
                            <label class="form-check-label" for="immunization12">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="immunization12" id="no"
                                    (change)="immunization12($event)" value="N" formControlName="immunization12"
                                    [disabled]="!immunization12" />
                                <label class="form-check-label" for="immunization12">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="immunization24">Primary immunization completed after 24 months: </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="immunization24" id="yes" value="Y"
                                formControlName="immunization24" (change)="immunization24($event)" />
                            <label class="form-check-label" for="immunization24">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="immunization24" id="no"
                                    (change)="immunization24($event)" value="N" formControlName="immunization24" />
                                <label class="form-check-label" for="immunization24">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="breastfeeding6">Exclusive breastfeeding followed or not (at least for first 6
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding6" id="yes" value="Y"
                                formControlName="breastfeeding6" (change)="breastfeeding6($event)" />
                            <label class="form-check-label" for="breastfeeding6">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding6" id="No"
                                    (change)="breastfeeding6($event)" value="N" formControlName="breastfeeding6" />
                                <label class="form-check-label" for="breastfeeding6">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding12">Exclusive breastfeeding followed or not (upto first 12
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding12" id="yes" value="Y"
                                formControlName="breastfeeding12" (change)="breastfeeding12($event)" />
                            <label class="form-check-label" for="breastfeeding12">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding12" id="No"
                                    (change)="breastfeeding12($event)" value="N" formControlName="breastfeeding12" />
                                <label class="form-check-label" for="breastfeeding12">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding18">Exclusive breastfeeding followed or not (upto first 18
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding18" id="yes" value="Y"
                                formControlName="breastfeeding18" (change)="breastfeeding18($event)" />
                            <label class="form-check-label" for="breastfeeding18">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding18" id="No"
                                    (change)="breastfeeding18($event)" value="N" formControlName="breastfeeding18" />
                                <label class="form-check-label" for="breastfeeding18">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding24">Exclusive breastfeeding followed or not (upto first 24
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding24" id="yes" value="Y"
                                formControlName="breastfeeding24" (change)="breastfeeding24($event)" />
                            <label class="form-check-label" for="breastfeeding24">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding24" id="No"
                                    (change)="breastfeeding24($event)" value="N" formControlName="breastfeeding24" />
                                <label class="form-check-label" for="breastfeeding24">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"></legend>

                <div class="row">

                    <div class="form-group col-md-3">
                        <label for="pemDate">Date of record keeping: &nbsp;<span class="text-danger">*&nbsp;</span>
                        </label>
                        <input type="date" class="form-control" formControlName="pemDate"
                            (keydown)="restrictTypeOfDate()" [ngClass]="{
                                'is-invalid': f.pemDate.invalid && f.pemDate.touched,
                                'is-valid':
                                  f.pemDate.valid && (f.pemDate.dirty || f.pemDate.touched)
                              }" />
                        <div *ngIf="f.pemDate.errors" class="invalid-feedback">
                            <div *ngIf="f.pemDate.errors.required">
                                Date of record keeping is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="height">Height (In cm): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)" maxlength="5"
                            (keyup)="heightVal()" placeholder="Height (In cm)" formControlName="height" [ngClass]="{
                'is-invalid': f.height.invalid && f.height.touched,
                'is-valid':
                  f.height.valid && (f.height.dirty || f.height.touched)
              }" />
                        <div *ngIf="f.height.errors" class="invalid-feedback">
                            <div *ngIf="f.height.errors.required">
                                Height is required
                            </div>
                        </div>


                    </div>

                    <div class="form-group col-md-3">
                        <label for="weight">Weight (In kg): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)" maxlength="7"
                            (keyup)="weightVal()" placeholder="weight (In kg)" formControlName="weight" [ngClass]="{
                'is-invalid': f.weight.invalid && f.weight.touched,
                'is-valid':
                  f.weight.valid && (f.weight.dirty || f.weight.touched)
              }" />
                        <div *ngIf="f.weight.errors" class="invalid-feedback">
                            <div *ngIf="f.weight.errors.required">
                                Weight is required
                            </div>
                        </div>


                    </div>

                    <div class="form-group col-md-3">
                        <label for="muac">MUAC (In cm): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" maxlength="4" placeholder="Muac (In cm)"
                            (keyup)="muacVal()" (keypress)="validationService.onlyIntegerAndDecimal($event)"
                            (keydown)="restrictZero($event)" formControlName="muac" [ngClass]="{
                    'is-invalid': f.muac.invalid && f.muac.touched,
                    'is-valid':
                      f.muac.valid && (f.muac.dirty || f.muac.touched)
                  }" />
                        <div *ngIf="f.muac.errors" class="invalid-feedback">
                            <div *ngIf="f.muac.errors.required">
                                MUAC is required
                            </div>
                        </div>

                        <span>Last Muac Recorded: {{latestMuac}}</span>

                    </div>

                    <div class="form-group col-md-3">
                        <label for="diarrhea">Whether experienced Diarrhea:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="diarrhea" id="yes" value="Y"
                                formControlName="diarrhea" (change)="diarrhe($event)" />
                            <label class="form-check-label" for="diarrhea">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="diarrhea" id="No"
                                    (change)="diarrhe($event)" value="N" formControlName="diarrhea" />
                                <label class="form-check-label" for="diarrhea">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="supplementary">Supplementary food provided or not:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="supplementary" id="yes" value="Y"
                                formControlName="supplementary" (change)="supplementar($event)" />
                            <label class="form-check-label" for="supplementary">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="supplementary" id="No"
                                    (change)="supplementar($event)" value="N" formControlName="supplementary" />
                                <label class="form-check-label" for="supplementary">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="healthcare">Whether visiting the health care centre:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="healthcare" id="yes" value="Y"
                                formControlName="healthcare" (change)="healthCare($event)" />
                            <label class="form-check-label" for="healthcare">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="healthcare" id="No"
                                    (change)="healthCare($event)" value="N" formControlName="healthcare" />
                                <label class="form-check-label" for="healthcare">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                </div>

            </fieldset>
        </form>

        <div class="text-center">
            <button class="btn btn-primary m-1" (click)="savePEMRegisterEntry()">
                <i class="fas fa-check-circle m-1"></i>Save
            </button>
            <button class="btn btn-secondary m-1" (click)="resetPEMRegisterEntry()">
                <i class="fa fa-refresh m-1"></i>Reset
            </button>
        </div>


    </div>
</ng-template>


<ng-template #editPem let-modal>

    <div class="modal-content">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title">Edit PEM Counselling Data</h2>
                <span class="closes" title="close" (click)="modalDismiss()"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>
            </div>

        </div>
        <form class="form-signin" [formGroup]="editPemForm" id="pem">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border"></legend>
                <div class="row">

                    <div class="form-group col-md-3">
                        <label for="delivery">Place of delivery:</label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="delivery" id="yes" value="Institution"
                                formControlName="delivery" (change)="delivery($event)" />
                            <label class="form-check-label" for="delivery">
                                &nbsp;&nbsp;Institution</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="delivery" id="no"
                                    (change)="delivery($event)" value="Home" formControlName="delivery" />
                                <label class="form-check-label" for="delivery">
                                    &nbsp;&nbsp;Home</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="birthweight">Birth weight of child (In kg): &nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" maxlength="5"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)" (keyup)="birthWeightVal()"
                            placeholder="Birth Weight (In kg)" formControlName="birthweight" [ngClass]="{
                    'is-invalid': e.birthweight.invalid && e.birthweight.touched,
                    'is-valid':
                      e.birthweight.valid && (e.birthweight.dirty || e.birthweight.touched)
                  }" />
                        <div *ngIf="e.birthweight.errors" class="invalid-feedback">
                            <div *ngIf="e.birthweight.errors.required">
                                Birth weight is required
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-md-3">
                        <label for="immunization12">Primary immunization completed after 12 months: </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="immunization12" id="yes" value="Y"
                                formControlName="immunization12" (change)="immunization12($event)" />
                            <label class="form-check-label" for="immunization12">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="immunization12" id="no"
                                    (change)="immunization12($event)" value="N" formControlName="immunization12" />
                                <label class="form-check-label" for="immunization12">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="immunization24">Primary immunization completed after 24 months: </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="immunization24" id="yes" value="Y"
                                formControlName="immunization24" (change)="immunization24($event)" />
                            <label class="form-check-label" for="immunization24">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="immunization24" id="no"
                                    (change)="immunization24($event)" value="N" formControlName="immunization24" />
                                <label class="form-check-label" for="immunization24">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group col-md-3">
                        <label for="breastfeeding6">Exclusive breastfeeding followed or not (at least for first 6
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding6" id="yes" value="Y"
                                formControlName="breastfeeding6" (change)="breastfeeding6($event)" />
                            <label class="form-check-label" for="breastfeeding6">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding6" id="No"
                                    (change)="breastfeeding6($event)" value="N" formControlName="breastfeeding6" />
                                <label class="form-check-label" for="breastfeeding6">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding12">Exclusive breastfeeding followed or not (upto first 12
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding12" id="yes" value="Y"
                                formControlName="breastfeeding12" (change)="breastfeeding12($event)" />
                            <label class="form-check-label" for="breastfeeding12">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding12" id="No"
                                    (change)="breastfeeding12($event)" value="N" formControlName="breastfeeding12" />
                                <label class="form-check-label" for="breastfeeding12">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding18">Exclusive breastfeeding followed or not (upto first 18
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding18" id="yes" value="Y"
                                formControlName="breastfeeding18" (change)="breastfeeding18($event)" />
                            <label class="form-check-label" for="breastfeeding18">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding18" id="No"
                                    (change)="breastfeeding18($event)" value="N" formControlName="breastfeeding18" />
                                <label class="form-check-label" for="breastfeeding18">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="breastfeeding24">Exclusive breastfeeding followed or not (upto first 24
                            month):
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="breastfeeding24" id="yes" value="Y"
                                formControlName="breastfeeding24" (change)="breastfeeding24($event)" />
                            <label class="form-check-label" for="breastfeeding24">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="breastfeeding24" id="No"
                                    (change)="breastfeeding24($event)" value="N" formControlName="breastfeeding24" />
                                <label class="form-check-label" for="breastfeeding24">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                </div>

            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border"></legend>

                <div class="row">

                    <div class="form-group col-md-3">
                        <label for="pemDate">Date of record keeping: &nbsp;<span class="text-danger">*&nbsp;</span>
                        </label>
                        <input type="date" class="form-control" formControlName="pemDate"
                            (keydown)="restrictTypeOfDate()" [ngClass]="{
                                'is-invalid': e.pemDate.invalid && e.pemDate.touched,
                                'is-valid':
                                  e.pemDate.valid && (e.pemDate.dirty || e.pemDate.touched)
                              }" />
                        <div *ngIf="e.pemDate.errors" class="invalid-feedback">
                            <div *ngIf="e.pemDate.errors.required">
                                Date of record keeping is required
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="height">Height (In cm): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)" maxlength="5"
                            (keyup)="heightVal()" placeholder="Height (In cm)" formControlName="height" [ngClass]="{
                'is-invalid': e.height.invalid && e.height.touched,
                'is-valid':
                  e.height.valid && (e.height.dirty || e.height.touched)
              }" />
                        <div *ngIf="e.height.errors" class="invalid-feedback">
                            <div *ngIf="e.height.errors.required">
                                Height is required
                            </div>
                        </div>


                    </div>

                    <div class="form-group col-md-3">
                        <label for="weight">Weight (In kg): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control"
                            (keypress)="validationService.onlyIntegerAndDecimal($event)" maxlength="7"
                            (keyup)="weightVal()" placeholder="weight (In kg)" formControlName="weight" [ngClass]="{
                'is-invalid': e.weight.invalid && e.weight.touched,
                'is-valid':
                  e.weight.valid && (e.weight.dirty || e.weight.touched)
              }" />
                        <div *ngIf="e.weight.errors" class="invalid-feedback">
                            <div *ngIf="e.weight.errors.required">
                                weight is required
                            </div>
                        </div>


                    </div>

                    <div class="form-group col-md-3">
                        <label for="muac">MUAC (In cm): &nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="text" class="form-control" maxlength="4" placeholder="Muac (In cm)"
                            (keyup)="muacVal()" (keypress)="validationService.onlyIntegerAndDecimal($event)"
                            (keydown)="restrictZero($event)" formControlName="muac" [ngClass]="{
                    'is-invalid': e.muac.invalid && e.muac.touched,
                    'is-valid':
                      e.muac.valid && (e.muac.dirty || e.muac.touched)
                  }" />
                        <div *ngIf="e.muac.errors" class="invalid-feedback">
                            <div *ngIf="e.muac.errors.required">
                                MUAC is required
                            </div>
                        </div>


                    </div>

                    <div class="form-group col-md-3">
                        <label for="diarrhea">Whether experienced Diarrhea:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="diarrhea" id="yes" value="Y"
                                formControlName="diarrhea" (change)="diarrhe($event)" />
                            <label class="form-check-label" for="diarrhea">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="diarrhea" id="No"
                                    (change)="diarrhe($event)" value="N" formControlName="diarrhea" />
                                <label class="form-check-label" for="diarrhea">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="supplementary">Supplementary food provided or not:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="supplementary" id="yes" value="Y"
                                formControlName="supplementary" (change)="supplementar($event)" />
                            <label class="form-check-label" for="supplementary">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="supplementary" id="No"
                                    (change)="supplementar($event)" value="N" formControlName="supplementary" />
                                <label class="form-check-label" for="supplementary">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-3">
                        <label for="healthcare">Whether visiting the health care centre:
                        </label>

                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="healthcare" id="yes" value="Y"
                                formControlName="healthcare" (change)="healthCare($event)" />
                            <label class="form-check-label" for="healthcare">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" name="healthcare" id="No"
                                    (change)="healthCare($event)" value="N" formControlName="healthcare" />
                                <label class="form-check-label" for="healthcare">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>


                </div>

            </fieldset>
        </form>

        <div class="text-center">
            <button class="btn btn-primary m-1" (click)="saveEditPEMRegisterEntry()">
                <i class="fas fa-check-circle m-1"></i>Save
            </button>
            <button class="btn btn-secondary m-1" (click)="resetEditPEMRegisterEntry()">
                <i class="fa fa-refresh m-1"></i>Reset
            </button>
        </div>


    </div>
</ng-template>