.QA_table td {
  padding: 0px;
}
.QA_table .table thead th {
  padding: 17px 10px;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 330px;
  height: 63%;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 625px;
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 70%;
  margin-left: 474px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 630px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 140px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .search_inner button {
    padding-right: 1px;
    margin-left: 145px;
    height: 63%;
  }
  
  .search_inner_fullscreen button {
    padding-right: 1px;
    margin-left: 410px;
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    background: transparent;
    font-size: 12px;
    padding-left: 19px;
    font-size: 18px;
    color: #2daab8;
    border: 0;
  }
  
  .search_inner input {
    width: 70%;
    margin-left: 290px;
  }
  
  .search_inner_fullscreen input {
    width: 74%;
    margin-left: 415px;
    font-size: 13px;
    height: 40px;
    border-radius: 5px;
    padding-left: 55px;
    border: 1px solid #2daab8;
    padding-right: 15px;
  }
  
}

.form-group {
  margin-bottom: 1.5rem;
}

.fa-eye:hover {
  color: #70caf7 !important;
  cursor: pointer;
  font-size: 1.8em;
}
.QA_section .QA_table tbody .danger {
  color: #cd0202;
}
.QA_section .QA_table tbody .success {
  color: #24d524;
}
.QA_section .QA_table tbody .warning {
  color: #f7cd00;
}


table.table thead tr:after {
  content: '';
  overflow-y: scroll;
  visibility: hidden;
}
table.table thead th {
  flex: 1 auto;
  display: block;
  color: #ffffff;
}
table.table tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: auto;
  max-height: 500px;
}
table.table thead tr,
table.table tbody tr {
  display: flex;
}
table.table thead tr th,
table.table tbody tr td {
    width: 50%;
    padding: 5px;
    text-align:center;
}