<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">SS-Unmap</h2>

                    <div class="box_right d-flex lms_block col-md-6" *ngIf="ssUnmapForm.value.branch">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search" placeholder="Search by ss name..."
                                            [(ngModel)]="searchText">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>



                <form class="form-signin" [formGroup]="ssUnmapForm">

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{ 'is-invalid': f.region.invalid && f.region.touched, 
                                'is-valid': f.region.valid && (f.region.dirty || f.region.touched)}">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="f.region.errors" class="invalid-feedback">
                                <div *ngIf="f.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': f.branch.invalid && f.branch.touched,
                              'is-valid': f.branch.valid && (f.branch.dirty || f.branch.touched)}">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="f.branch.errors" class="invalid-feedback">
                                <div *ngIf="f.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md" *ngIf="ssUnmapForm.value.branch">
                            <label>Filter By Staff In Charge:</label>
                            <select class="form-select" formControlName="hcouser" id="hcouser"
                                (change)="hcoUserWiseViewList($event.target.value)">
                                <option value="">-- View All List --</option>
                                <option *ngFor="let hcouser of userList" value="{{hcouser.user_id}}">
                                    {{ hcouser.user_firstname}} {{hcouser.user_middlename}} {{hcouser.user_lastname}} -
                                    {{hcouser.role_shortname}}
                                </option>
                                <option value="NA">No User</option>
                            </select>
                        </div>

                    </div>




                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th>SL No</th>
                                            <th>Village Name</th>
                                            <th style="width: 20%;">SS Name</th>
                                            <th>Staff In Charge</th>
                                            <th>User Active</th>
                                            <th>Unmap SS</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let item of ssList |  ssUnmapFilterPipe: {ssName : searchText } |paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td>{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td>{{item.villageDto.villageName}}</td>
                                            <td style="width: 20%;">{{item.ssName}}</td>
                                            <td>{{ item.userDto ? item.userDto.userFirstName :'-'}} {{item.userDto ?
                                                item.userDto.userMiddleName:'-'}}
                                                {{item.userDto ? item.userDto.userLastName:'-'}}</td>
                                            <td style="padding: 0px;">{{item.userDto ? item.userDto.isMappedUserActive :
                                                '-'}}</td>
                                            <td><input class="form-check-input" type="checkbox" value=""
                                                    id="flexCheckDefault" (change)="unmapSS($event, item.ssId, i)"></td>
                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>