<img src="../../assets/login_bg.jpg" alt="" style="width: 100vw;height: 100vh; margin-left: -530px;" >
<div
  class="card"
  style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
  "
>
  <h4 class="card-header" style="background-color: #499;" >Login</h4>
  <div class="card-body" style="padding: 0rem 1rem">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">

        <label for="username">Username <span class="text-danger">*</span></label>

        <div style="display: grid; grid-template-columns: 0.1fr 1fr;">
          <p style="margin: 1px 0px 4px 0px;
          font-weight: bold;
          border-bottom: 1px solid black;
          border-top: 1px solid black;
          border-left: 1px solid black;
          padding: 6px 1px 1px 13px;
          border-radius: 5px 0px 0px 5px;">BK  </p>
          <input
          style="display: block;" 
          type="text"
          style="border-bottom: 1px solid black;
          border-top: 1px solid black;
          border-right: 1px solid black;
          margin: 1px 7px 4px -1px;
          border-radius: 0px 5px 5px 0px;"
          (keypress)="validationService.onlyInteger($event)"
          formControlName="username"
          class="form-control"
          [maxlength]="20"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
        />
        <div></div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      </div>
      
     <br>
      <div class="form-group ">
        <label for="password">Password <span class="text-danger">*</span></label>
        <div style="display: grid; grid-template-columns: 5fr -0.1fr;">
         
        <input
          [type]="show ? 'text' : 'password'"
          style="border: 1px solid black;"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div style="margin: -26px 0px 0px 450px;z-index: 99999;">
          <div *ngIf="show; else elseblock">
            <i class="fa fa-eye" (click)="password()" *ngIf="show"></i>
          </div>
          <ng-template #elseblock
            ><i class="fa fa-eye-slash" (click)="password()"></i
          ></ng-template>
        </div>
    <div></div>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required" style="margin-left: 41px;">Password is required</div>
      </div>
    </div>
      </div>

      <div class="form-group">
        <button
          [disabled]="loading"
          class="btn btn-primary"
          style="
            margin-left: 50%;
            margin-top: 34px;
            transform: translate(-50%, -50%);
          "
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          <i class="fa fa-sign-in" aria-hidden="true"></i>
          Login
        </button>

      </div>
    </form>
  </div>
</div>
