<div class="container">
  <div class="wrap-login">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <form action="">
          <span class="login100-form-title">
            Member Login
          </span>
          <input class="input100" type="text" name="email" placeholder="Email">
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            </span>
        </form>
      </div>
    </div>
  </div>
</div>