<h1 mat-dialog-title>
    <div class="dialog-header">
        <h2 class="dialog-title">All MUAC List</h2>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>
    </div>
</h1>

<div mat-dialog-content>
  <div class="white_box_tittle list_header">
    <div class="QA_table ">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <table
                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                <thead>
                    <tr>
                        <th>MUAC Date</th>
                        <th>MUAC Camp No</th>
                        <th>Height</th>
                        <th>Weight</th>
                        <th>MUAC</th>
                        <th *ngIf="disableAction">Action</th>
                    </tr>
                </thead>

                <tbody *ngIf="childMuac.length !== 0; else noData">

                    <tr *ngFor="let item of childMuac;index as i">
                        <td>{{item.createdOn}}</td>
                        <td>{{item.muacCampDto.muacCampNumber ? item.muacCampDto.muacCampNumber : '-'}}</td>
                        <td>{{item.height}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.muac}}</td>
                        <td style="padding: 0px 0px 0px 32px;" *ngIf="disableAction">
                            <i class="fas fa-edit" title="Edit MUAC" (click)="onEdit(i)" *ngIf="updateMode"></i> 
                            <i class="fas fa-trash" title="Delete MUAC" (click)="onDelete(i)" *ngIf="deleteMode"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-template #noData>
                <div>
                    <p >No  Data  Available</p>
                </div> 
              </ng-template>
        </div>
    </div>
</div>
</div>

