.fa-plus-circle {
    color: #3e7758 !important;
    font-size: 30px;
}

li {
    list-style-type: decimal;
    text-align: start;
}

.search_inner input {
    width: 100%;
    margin-left: 30px;
}

.search_inner button {
    padding-right: 1px;
    margin-left: 25px;
}

.btn-primary {
    margin-left: 40px;
}

