<h1 mat-dialog-title>
    <div class="dialog-header">
        <h2 class="dialog-title">Pregnant Woman Register </h2>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>  
    </div>
</h1>
<div mat-dialog-content>
    <form class="form-signin" [formGroup]="pwRegisterForm">
        <div class="row">
            <div class="form-group col-md">
                <label for="initialWeight">Initial Weight (kg):</label>
                <input type="text" class="form-control" placeholder="Enter weight" formControlName="initialWeight" 
                (keypress)="validationService.onlyIntegerAndDot($event)" (change)="enableActualDelivery()" maxlength="7"
                [ngClass]="{
                    'is-invalid': f.initialWeight.invalid && f.initialWeight.touched,
                    'is-valid':
                      f.initialWeight.valid &&
                      (f.initialWeight.dirty || f.initialWeight.touched)
                  }"/>
                  <div *ngIf="f.initialWeight.errors" class="invalid-feedback">
                    <div *ngIf="f.initialWeight.errors.notInWeightRange">
                      Weight should be 20 to 200 kg
                    </div>
                  </div>
            </div>
            <div class="form-group col-md">
                <label for="lastMenstrualDate">Last Menstrual Period (LMP):&nbsp;<span class="text-danger">*&nbsp;</span></label>
                <input type="date" class="form-control" formControlName="lastMenstrualDate" placeholder="dd-mm-yyyy"
                (change)="restrictAncDate($event.target.value)" (change)="enableActualDelivery()" (change)="enableDeliveryStatusNo()"
                (keydown)="restrictTypeOfDate()" [max]="today" 
                [ngClass]="{
                  'is-invalid': f.lastMenstrualDate.invalid && f.lastMenstrualDate.touched,
                  'is-valid':
                    f.lastMenstrualDate.valid &&
                    (f.lastMenstrualDate.dirty || f.lastMenstrualDate.touched)
                }"/>
                <div *ngIf="f.lastMenstrualDate.errors" class="invalid-feedback">
                  <div *ngIf="f.lastMenstrualDate.errors.required">Last Menstrual Period is required</div>
                </div>
            </div>
            <div class="form-group col-md">
                <label for="expectedDeliveryDate">Expected Date of Delivery (EDD):</label>
                <input type="date" class="form-control" formControlName="expectedDeliveryDate" placeholder="dd-mm-yyyy"
                (change)="enableActualDelivery()" (keydown)="restrictTypeOfDate()" [min]="actualDeliveryDate" [max]="maxEdd"/>
            </div>
            <div class="form-group col-md">
            <label>Antenatal Checkup Registration done (ANC):</label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="Y" formControlName="ancComplete" (click)="checkAnc($event.target.value)" (change)="enableActualDelivery()"> &nbsp;
                  <span>Yes</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="N" formControlName="ancComplete" (click)="checkAnc($event.target.value)" (change)="enableActualDelivery()"> &nbsp;
                  <span>No</span>
              </label>
            </div>
    </div>

    <div  *ngIf="checkAncComplete">
        <br>
        <div class="row">
        <div class="form-group col-md">
                <label for="anc1st">1st ANC Checkup:</label>
                <input type="date" class="form-control" formControlName="anc1st" placeholder="dd-mm-yyyy"
                 [min]="Anc1stMin" [max]="today" (change)="anc1stDate($event.target.value)" (keydown)="restrictTypeOfDate()"/>
        </div>
        <div class="form-group col-md">
            <label for="anc2nd">2nd ANC checkup:</label>
            <input type="date" class="form-control" formControlName="anc2nd" placeholder="dd-mm-yyyy"
            [min]="Anc2ndMin"  [max]="today" (change)="anc2ndDate($event.target.value)" (keydown)="restrictTypeOfDate()"/>
        </div>
        <div class="form-group col-md">
            <label for="anc3rd">3rd ANC checkup:</label>
            <input type="date" class="form-control" formControlName="anc3rd" placeholder="dd-mm-yyyy"
            [min]="Anc3rdMin"  [max]="today" (change)="anc3rdDate($event.target.value)" (keydown)="restrictTypeOfDate()"/>
        </div>
        <div class="form-group col-md">
            <label for="anc4th">4th ANC checkup:</label>
            <input type="date" class="form-control" formControlName="anc4th" placeholder="dd-mm-yyyy"
            [min]="Anc4thMin"  [max]="today" (change)="anc4thDate($event.target.value)" (keydown)="restrictTypeOfDate()"/>
        </div>
        </div>
    </div>
    <p *ngIf="showMessage" style="color: #29a10b; font-weight: bold; margin: 0 40%;">*ANC Checkup Done*</p>
<br>
    <div class="row">
        <label for="pregnancyComplication">Any pregnancy-related complication:</label>
        <textarea class="form-control" rows="1" formControlName="pregnancyComplication" maxlength="100"></textarea>
    </div>
<br>
    <div class="row">
        <div class="form-group col-md">
            <label for="beforeDeliveryWeight">Weight Before Delivery (kg):</label>
            <input type="text" class="form-control" placeholder="Enter weight" formControlName="beforeDeliveryWeight" 
            (keypress)="validationService.onlyIntegerAndDot($event)" (change)="enableActualDelivery()" maxlength="7"
            [ngClass]="{
                'is-invalid': f.beforeDeliveryWeight.invalid && f.beforeDeliveryWeight.touched,
                'is-valid':
                  f.beforeDeliveryWeight.valid &&
                  (f.beforeDeliveryWeight.dirty || f.beforeDeliveryWeight.touched)
              }"/>
              <div *ngIf="f.beforeDeliveryWeight.errors" class="invalid-feedback">
                <div *ngIf="f.beforeDeliveryWeight.errors.notInWeightRange">
                  Weight should be 20 to 200 kg
                </div>
              </div>
        </div>
        <div class="form-group col-md">
            <label>Delivery:</label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="Y" formControlName="delivery" (click)="checkDeliveryStatus($event.target.value)"> &nbsp;
                  <span>Yes</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="N" formControlName="delivery" (click)="checkDeliveryStatus($event.target.value)"> &nbsp;
                  <span>No</span>
              </label>
        </div>
    </div>
<br>
<div class="row" *ngIf="deliveryStatusNo">
    <div class="form-group col-md">
        <label>Reason :&nbsp;<span class="text-danger">*&nbsp;</span></label> <br>
        <label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" value="miscarriage" formControlName="deliveryNo" (click)="checkDeliveryStatusNo($event.target.value)"
            [ngClass]="{ 'is-invalid': submitted && f.deliveryNo.errors?.required}"> &nbsp;
              <span>Miscarriage</span>
          </label> &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" value="abortion" formControlName="deliveryNo" (click)="checkDeliveryStatusNo($event.target.value)"
            [ngClass]="{ 'is-invalid': submitted && f.deliveryNo.errors?.required}"> &nbsp;
              <span>Abortion</span>
          </label>
          <div *ngIf="f.deliveryNo.errors" class="invalid-radio">
            <div *ngIf="f.deliveryNo.errors.required">&nbsp;&nbsp;&nbsp;Reason selection is required</div>
          </div>
    </div>
    <div class="form-group col-md" *ngIf="miscarriage"> 
            <label for="miscarriage">Miscarriage:&nbsp;<span class="text-danger">*&nbsp;</span></label>
            <input type="date" class="form-control" formControlName="miscarriage" placeholder="dd-mm-yyyy"
            (keydown)="restrictTypeOfDate()"[ngClass]="{
                'is-invalid': f.miscarriage.invalid && f.miscarriage.touched,
                'is-valid':
                  f.miscarriage.valid && (f.miscarriage.dirty || f.miscarriage.touched)
              }" [min]="miscarriageAbortionMinDate" [max]="today"/>
              <div *ngIf="f.miscarriage.errors" class="invalid-feedback">
                <div *ngIf="f.miscarriage.errors.required">Miscarriage Date selection is required</div>
              </div>
    </div>
    <div class="form-group col-md" *ngIf="abortion">
        <label for="abortion">Abortion:&nbsp;<span class="text-danger">*&nbsp;</span></label>
        <input type="date" class="form-control" formControlName="abortion" placeholder="dd-mm-yyyy"
        (keydown)="restrictTypeOfDate()" [ngClass]="{
            'is-invalid': f.abortion.invalid && f.abortion.touched,
            'is-valid':
              f.abortion.valid && (f.abortion.dirty || f.abortion.touched)
          }" [min]="miscarriageAbortionMinDate" [max]="today"/>
          <div *ngIf="f.abortion.errors" class="invalid-feedback">
            <div *ngIf="f.abortion.errors.required">Abortion Date selection is required</div>
          </div>
    </div>
</div>
   
    <div class="row" *ngIf="deliveryStatusYes">
        <div class="form-group col-md">
            <label for="actualDeliveryDate">Actual Date of Delivery:&nbsp;<span class="text-danger">*&nbsp;</span></label>
            <input type="date" class="form-control" formControlName="actualDeliveryDate" placeholder="dd-mm-yyyy"
            (change)="enableliveStillDelivery()" (keydown)="restrictTypeOfDate()" [ngClass]="{
                'is-invalid': f.actualDeliveryDate.invalid && f.actualDeliveryDate.touched,
                'is-valid':
                  f.actualDeliveryDate.valid && (f.actualDeliveryDate.dirty || f.actualDeliveryDate.touched)
              }" [min]="actualDeliveryDate" [max]="today"/>
              <div *ngIf="f.actualDeliveryDate.errors" class="invalid-feedback">
                <div *ngIf="f.actualDeliveryDate.errors.required">Actual Date of Delivery selection is required</div>
              </div>
        </div>
        <div class="form-group col-md">
            <label>Livebirth or Stillbirth:&nbsp;<span class="text-danger">*&nbsp;</span></label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="Live" formControlName="liveStill"
                [ngClass]="{ 'is-invalid': submitted && f.liveStill.errors?.required}"> &nbsp;
                  <span>Live</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="Still" formControlName="liveStill"
                [ngClass]="{ 'is-invalid': submitted && f.liveStill.errors?.required}"> &nbsp;
                  <span>Still</span>
              </label>
              <div *ngIf="f.liveStill.errors" class="invalid-radio">
                <div *ngIf="f.liveStill.errors.required">&nbsp;&nbsp;&nbsp;Live / Still selection is required</div>
              </div>
        </div>
        <div class="form-group col-md">
            <label>Place of Delivery :&nbsp;<span class="text-danger">*&nbsp;</span></label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="Home" formControlName="deliveryPlace"
                [ngClass]="{ 'is-invalid': submitted && f.deliveryPlace.errors?.required}"> &nbsp;
                  <span>Home</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="Institution" formControlName="deliveryPlace"
                [ngClass]="{ 'is-invalid': submitted && f.deliveryPlace.errors?.required}"> &nbsp;
                  <span>Institution</span>
              </label>
              <div *ngIf="f.deliveryPlace.errors" class="invalid-radio">
                <div *ngIf="f.deliveryPlace.errors.required">&nbsp;&nbsp;&nbsp;Delivery place selection is required</div>
              </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="form-group col-md-2">
            <label>Death of the woman :</label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="Y" formControlName="womenDeath" (change)="checkMotherDeath($event.target.value)"> &nbsp;
                  <span>Yes</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="N" formControlName="womenDeath" (change)="checkMotherDeath($event.target.value)"> &nbsp;
                  <span>No</span>
              </label>
        </div>
        <div class="form-group col-md" *ngIf="MotherDeath == 'Y'">
            <label>Time Of death:&nbsp;<span class="text-danger">*&nbsp;</span></label> <br>
            <label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="DP" formControlName="deathTime"> &nbsp;
                  <span>During Pregnancy</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="DL" formControlName="deathTime"> &nbsp;
                  <span>During Labour</span>
              </label> &nbsp;&nbsp;&nbsp;
              <label>
                <input type="radio" value="PP" formControlName="deathTime"> &nbsp;
                  <span>Postpartum</span>
              </label>
        </div>
        <div class="form-group col-md-4" *ngIf="MotherDeath == 'Y'">
            <label for="deathReason">Reason Of Death:&nbsp;<span class="text-danger">*&nbsp;</span></label>
            <textarea class="form-control" rows="3" formControlName="deathReason" placeholder="Enter Comment" 
            maxlength="300"></textarea>
        </div>
    </div>
<br>
    <div class="addEditBtn" *ngIf="!viewMode">
        <button type="submit" class="btn btn-success" (click)="onSave()">Save</button>
    </div>
    </form>
</div>