.example-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .example-header-image {
   display: flex;
   width: 250px;
   margin-top: 7px;
  }
  .icons{
    margin: 0 10%;
}

.mat-card {
    padding: 10px 0px 0px 0px;
    box-shadow: rgba(68, 153, 153, 0.35) 0px 5px 15px;
    width: 20%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #499;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .mat-card {
    padding: 10px 0px 0px 0px;
    box-shadow: rgba(68, 153, 153, 0.35) 0px 5px 15px;
    width: 23%;
    height: 70px;
    border-radius: 5px;
    border: 1px solid #499;
}
}

.mat-card:hover{
  box-shadow: rgba(68, 153, 153, 0.3) 0px 12px 10px, rgba(68, 153, 153, 0.22) 0px 1px 0px;
}

h4 {
  font: 600 15px/37px Roboto,"Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0;
}

.downloadrefreshicon{
  padding-right: 30px;
  margin-top: -25px;
  display: flex;
  flex-direction: row-reverse;
  cursor: pointer;
}

.chartbox{
  width:50%;
}

.chartbox:hover{
  padding: 5px ;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 10px, rgba(0, 0, 0, 0.22) 0px 1px 0px;
  transition: 0.4s ease-in-out !important;
}