<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Material Distribution Register</h2>
                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="viewMaterialDistributionForm.value.gram && createMode">
                        <i class="fas fa-plus-circle" style="cursor: pointer"
                            (click)="viewEligibleFamilyDetails(eligibleFamilyDetails)">&nbsp;Create Material
                            Distribution Register</i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="viewMaterialDistributionForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region"
                                [ngClass]="{'is-invalid': m.region.invalid
                                 && m.region.touched,  'is-valid':  m.region.valid && (m.region.dirty || m.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="m.region.errors" class="invalid-feedback">
                                <div *ngIf="m.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': m.branch.invalid && m.branch.touched,
                              'is-valid': m.branch.valid && (m.branch.dirty || m.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="m.branch.errors" class="invalid-feedback">
                                <div *ngIf="m.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{'is-invalid': m.block.invalid 
                                && m.block.touched,'is-valid': m.block.valid && 
                                (m.block.dirty || m.block.touched) }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch" value="{{block.blockMasterId}}">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="m.block.errors" class="invalid-feedback">
                                <div *ngIf="m.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{'is-invalid': m.gp.invalid && m.gp.touched,
                              'is-valid': m.gp.valid && (m.gp.dirty || m.gp.touched) }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="m.gp.errors" class="invalid-feedback">
                                <div *ngIf="m.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">Village/ Gram Sansad/ Locality
                                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{'is-invalid': m.gram.invalid && m.gram.touched,
                              'is-valid': m.gram.valid && (m.gram.dirty || m.gram.touched) }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageList" value="{{vill.villageMasterId}}">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="m.gram.errors" class="invalid-feedback">
                                <div *ngIf="m.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box_right d-flex lms_block col-md-6">
                        <div class="serach_field_2">
                            <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                <form active="#">
                                    <div class="search_field">
                                        <input type="text" name="search"
                                            placeholder="Search by family no. & head name ..."
                                            [(ngModel)]="registerSearch">
                                    </div>
                                    <button type="submit"> <i class="fa fa-search"></i> </button>
                                </form>
                            </div>
                        </div>

                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th style="width: 6%;">SL No</th>
                                            <th style="width: 10%;">Family No.</th>
                                            <th style="width: 25%;">Family Head Name</th>
                                            <th style="width: 20%;">Guardian Name</th>
                                            <th style="width: 15%;">No. of time distributed</th>
                                            <th style="width: 15%;">Distribution Details</th>
                                        </tr>
                                    </thead>

                                    <tbody style="text-align: center;">
                                        <tr
                                            *ngFor="let mat of materialDistributionList | materialDistributionFilter: {family_number : 
                                                registerSearch, first_name :registerSearch,middle_name : registerSearch, 
                                                lastlast_nameName:registerSearch } | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                            <td style="width: 6%;">{{i+1}}</td>
                                            <td style="width: 10%;">{{mat.family_number}}</td>
                                            <td style="width: 25%;">
                                                {{mat.first_name}}{{mat.middle_name}} {{mat.last_name}}</td>
                                            <td style="width: 20%;">{{mat.husband_or_guardian_name}}</td>
                                            <td style="width: 15%;">{{mat.distributionCount}}</td>
                                            <td style="width: 15%;"
                                                (click)="viewdistributionDetails(detailsOfDistribution, mat)"
                                                style="cursor: pointer; color: blue;">
                                                view</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<ng-template #detailsOfDistribution>

    <div class="modal-content">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="modal-title" id="modal-basic-title">Distribution Details</h3>
            </div>
            <div class="col-md">
                <span class="close" (click)="viewDistributionDetailsModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float: right; margin-top: -25px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">
            <div class="white_box_tittle list_header">

                <div class="QA_table">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th style="width:5%;">SL No</th>
                                    <th style="width:10%;">Distribution Date</th>
                                    <th style="width:15%;">Beneficiary Name</th>
                                    <th style="width:20%;">Beneficiary Type</th>
                                    <th style="width:20%;">Distribution</th>
                                    <th style="width:12%;" *ngIf="updateMode || deleteMode">Action</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr *ngFor="let mat of materialDistributionListFamilyWise; index as i">
                                    <td style="width:5%;">{{i+1}}</td>
                                    <td style="width:10%;">{{mat.distribution_date.split("-").reverse().join("-")}}</td>
                                    <td>
                                <tr
                                    *ngFor="let beneficiary of materialDistributionListFamilyWise[i].childList; index as i">
                                    <td style="width:15%;">{{beneficiary.child_name}}</td>
                                </tr>
                                <span *ngIf="mat.pregnant_woman =='Y'">{{pwName}}</span>
                                </td>

                                <td>
                                    <tr
                                        *ngFor="let beneficiary of materialDistributionListFamilyWise[i].childList; index as i">
                                        <td style="width:20%;">{{beneficiary.status}}</td>
                                    </tr>
                                    <span *ngIf="mat.pregnant_woman =='Y'">{{pwStatus}}</span>
                                </td>

                                <td>
                                    <table style="table-layout:fixed; width:260px;">
                                        <tbody>
                                            <td style="width: 20%;">{{!mat.mappedString.includes(null) ?
                                                mat.mappedString : ''}}</td>
                                            <tr style="word-wrap:break-word;">Other Item :
                                                {{materialDistributionListFamilyWise[i].other_item_name}}</tr>

                                        </tbody>
                                    </table>
                                </td>

                                <td style="width: 12%;" *ngIf="updateMode || deleteMode">
                                    <i class="fas fa-edit" title="Edit Material Distributed Family"
                                        (click)="editMaterialDistributedFamily(materialDistribution, mat)"
                                        *ngIf="updateMode">
                                    </i>
                                    <i class="fas fa-trash" title="Delete Material Distributed Family"
                                        (click)="deleteMaterialDistributedFamily(mat, i)" *ngIf="deleteMode"></i>
                                </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</ng-template>

<ng-template #eligibleFamilyDetails>

    <div class="modal-content">
        <div class="modal-header">
            <form class="form-signin" [formGroup]="filterswasthyaSahayikaForm">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="modal-title" id="modal-basic-title">Eligible Family List</h3>
                    </div>

                    <div class="form-group col-md-4">
                        <select class="form-select" (change)="changeSSFilter($event.target.value)"
                            formControlName="swasthyaSahayika" id="swasthyaSahayika" style="width: 300px;">
                            <option value="">-- View Family List By SS --</option>
                            <option value="withSS">Family With SS</option>
                            <option value="noSS">Family With No SS</option>
                            <option *ngFor="let ss of ssList">
                                {{ss}}
                            </option>
                        </select>
                    </div>

                </div>
            </form>

            <div class="col-md">
                <span (click)="eligibleFamilyDetailsModalDismiss()"
                    style="float: right;cursor: pointer; font-size: 35px; margin-bottom: 20px;">&times;</span>
            </div>
        </div>

        <div class="modal-body">
            <div class="QA_table ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                        <thead id="header-fixed">
                            <tr>
                                <th style="width:5%;">SL<br>No</th>
                                <th style="width:10%;">Family<br>No</th>
                                <th style="width:25%;">Name</th>
                                <th style="width:20%;">Husband Name</th>
                                <th style="width:20%;">SS Name</th>
                                <th style="width:12%;">Child Under<br>2 yr</th>
                                <th style="width:8%;">Child 2<br>to 5 yr</th>
                                <th style="width:14%;">Adolescent Girl<br>14 to 18 yr</th>
                                <th style="width:8%;">Pregnant</th>
                                <th style="width:10%;">Distribute<br>Material</th>
                            </tr>
                        </thead>

                        <tbody style="text-align: center;">
                            <tr *ngFor="let item of eligibleFamilyList; index as i">
                                <td style="width:5%;">{{i+1}}</td>
                                <td style="width:10%;">{{item.family_number}}</td>
                                <td style="width:25%;">{{item.first_name}} {{item.middle_name}} {{item.last_name}}
                                </td>
                                <td style="width:20%;">{{item.husband_or_guardian_name}}</td>
                                <td style="width:20%;">{{item.swasthya_sahayika_name ? item.swasthya_sahayika_name
                                    :'-'}}
                                </td>
                                <td style="width:12%;">{{item.below2Current ? item.below2Current :'-'}}</td>
                                <td style="width:8%;">{{item.below5Current ? item.below5Current :'-'}}</td>
                                <td style="width:14%;">{{item.girl14To18Current ? item.girl14To18Current: '-'}}</td>
                                <td style="width:8%;">{{item.pregnant_woman}}</td>
                                <td style="width:10%;"> <i class="fas fa-file" title="Distribute Material"
                                        (click)="createMaterialDistribution(materialDistribution, item)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</ng-template>

<ng-template #materialDistribution>

    <div class="modal-content">
        <div class="modal-header">
            <div class="col-md">
                <span (click)="createMaterialDistributionModalDismiss()"
                    style="float: right;cursor: pointer; font-size: 35px; margin-bottom: 20px;">&times;</span>
            </div>
        </div>

        <div class="modal-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Beneficiary List</legend>
                <div class="QA_table" id="beneficiaryScroll">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th style="width:5%;">SL No</th>
                                    <th style="width:15%;">Name</th>
                                    <th style="width:20%;">Age</th>
                                    <th style="width:8%;">Sex</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr *ngFor="let item of eligibleChildList; index as i">
                                    <td style="width:5%;">{{i+1}}</td>
                                    <td style="width:5%;">{{item.child_name}}</td>
                                    <td style="width:5%;">{{item.age}}</td>
                                    <td style="width:15%;">{{item.sex}}</td>
                                </tr>
                            </tbody>

                            <h4 *ngIf="eligibleChildList.length == 0" id="msg">No under 5 children or adolescent girl
                                for this family</h4>
                        </table>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Distribute Material</legend>

                <div class="row" *ngFor="let item of itemList; index as i">
                    <button class="collapsible" (click)="changeItemList(itemSubItemList,$event.target.value,i)"
                        value="{{item.item_id}}"
                        style="padding:10px; width: -webkit-fill-available;">{{item.item_name}}</button>&nbsp;

                    <table style="table-layout:fixed">
                        <tbody>
                            <tr *ngFor="let items of item.subItemList; index as i;"
                                (change)="selectSubItemForMD(items, i,'S')"
                                style="overflow:hidden; white-space:nowrap; display: inline;">
                                <td *ngIf="items.isChecked == true">* {{items.sub_item_name}}&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <form class="form-signin" [formGroup]="createMaterialDistributionForm">
                    <div class="form-group col-md-12" *ngIf="OtherItemStatus == 'O'">
                        <input type="text" class="form-control" placeholder="Enter Other Sub Item"
                            formControlName="enterSubItem">
                    </div>
                </form>

            </fieldset>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6"> <button type="button" class=" btn btn-primary btn-sm"
                        (click)="createMaterialDistributionSave()"
                        [disabled]="!disabledSaveMaterialTraining()">Save</button></div>
            </div>
        </div>
    </div>

</ng-template>

<ng-template #itemSubItemList>

    <div class="modal-contents">
        <div class="modal-header">
            <h3> {{itemName}}</h3>
        </div>

        <div class="modal-body" style="height: 210px;">
            <div class="QA_table" id="subItemScroll">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">
                        <tbody>
                            <tr *ngFor="let items of subItemList; index as i">
                                <td>{{items.sub_item_name}}</td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td style="margin-left: 160px;"> <input class="form-check-input" type="checkbox" checked
                                        value="" id="flexCheckDefault" *ngIf="items.isChecked == true"
                                        (change)="selectSubItemForMD(items, $event.target.checked,'C')">

                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        *ngIf="items.isChecked == false"
                                        (change)="selectSubItemForMD(items, $event.target.checked,'C')">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <i class="fas fa-arrow-alt-circle-right" style="color: #499; font-size:35px;"
                (click)="saveLocallySubItem()"></i>
        </div>
    </div>

</ng-template>