<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Material Distribution Register</h2>
                    <!--  *ngIf="viewMaterialDistributionForm.value.gram" -->
                    <div class="form-group col-md" style="display: flex; justify-content:flex-end">
                        <i class="fas fa-plus-circle" style="cursor: pointer"
                            (click)="viewEligibleFamilyDetails(eligibleFamilyDetails)">&nbsp;Create Material
                            Distribution Register</i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="viewMaterialDistributionForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region"
                                [ngClass]="{'is-invalid': m.region.invalid
                                 && m.region.touched,  'is-valid':  m.region.valid && (m.region.dirty || m.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="m.region.errors" class="invalid-feedback">
                                <div *ngIf="m.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': m.branch.invalid && m.branch.touched,
                              'is-valid': m.branch.valid && (m.branch.dirty || m.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="m.branch.errors" class="invalid-feedback">
                                <div *ngIf="m.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="block">Block :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBlock($event.target.value)"
                                formControlName="block" id="block" [ngClass]="{'is-invalid': m.block.invalid 
                                && m.block.touched,'is-valid': m.block.valid && 
                                (m.block.dirty || m.block.touched) }">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of villagesOfBranch" value="{{block.blockMasterId}}">
                                    {{ block.blockName }}
                                </option>
                            </select>
                            <div *ngIf="m.block.errors" class="invalid-feedback">
                                <div *ngIf="m.block.errors.required">Block selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gp">GP/ Municipality :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeGp($event.target.value)" formControlName="gp"
                                id="gp" [ngClass]="{'is-invalid': m.gp.invalid && m.gp.touched,
                              'is-valid': m.gp.valid && (m.gp.dirty || m.gp.touched) }">
                                <option value="">-- Select GP/ Municipality --</option>
                                <option *ngFor="let gp of gpList" value="{{gp.gpMunicipalId}}">
                                    {{ gp.name }}
                                </option>
                            </select>
                            <div *ngIf="m.gp.errors" class="invalid-feedback">
                                <div *ngIf="m.gp.errors.required">
                                    GP selection is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="gram">Village/ Gram Sansad/ Locality
                                :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeVillage($event.target.value)"
                                formControlName="gram" id="gram" [ngClass]="{'is-invalid': m.gram.invalid && m.gram.touched,
                              'is-valid': m.gram.valid && (m.gram.dirty || m.gram.touched) }">
                                <option value="">-- Select Village --</option>
                                <option *ngFor="let vill of villageList" value="{{vill.villageMasterId}}">
                                    {{ vill.villageName }}
                                </option>
                            </select>
                            <div *ngIf="m.gram.errors" class="invalid-feedback">
                                <div *ngIf="m.gram.errors.required">
                                    Village selection is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th style="width: 6%;">SL No</th>
                                            <th style="width: 17%;">Family No.</th>
                                            <th style="width: 20%;">Family Head Name</th>
                                            <th style="width: 10%;">Guardian Name</th>
                                            <th style="width: 17%;">No. of time distributed</th>
                                            <th style="width: 15%;">Distribution Details</th>
                                            <th style="width: 8%;">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!--  *ngFor="let item of staffWiseSSLists | paginate: { itemsPerPage: 5, currentPage: p }; index as i" -->
                                        <tr>
                                            <td style="width: 6%;">1</td>
                                            <td style="width: 17%;">125</td>
                                            <td style="width: 20%;">Test 1</td>
                                            <td style="width: 10%;">Test 2</td>
                                            <td style="width: 17%;">5</td>
                                            <td style="width: 15%;"
                                                (click)="viewdistributionDetails(detailsOfDistribution)"
                                                style="cursor: pointer; color: blue;">view</td>
                                            <td style="width: 8%;">
                                                <i class="fas fa-edit" title="Edit Material Distributed Family"
                                                    (click)="editMaterialDistributedFamily()">
                                                </i>
                                                <i class="fas fa-trash" title="Delete Material Distributed Family"
                                                    (click)="deleteMaterialDistributedFamily()"></i>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<ng-template #detailsOfDistribution>

    <div class="modal-content">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="modal-title" id="modal-basic-title">Distribution Details</h3>
            </div>
            <div class="col-md">
                <span class="close" (click)="viewDistributionDetailsModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float: right; margin-top: -25px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">
            <div class="white_box_tittle list_header">

                <div class="QA_table ">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th style="width:5%;">SL No</th>
                                    <th style="width:30%;">Distribution Date</th>
                                    <th style="width:20%;">Beneficiary Name</th>
                                    <th style="width:25%;">Beneficiary Type</th>
                                    <th style="width:25%;">Distribution</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr>
                                    <td style="width:5%;">1</td>
                                    <td style="width:30%;">13-09-2022</td>
                                    <td style="width:20%;">Rumila Bibi</td>
                                    <td style="width:25%;">PW</td>
                                    <td style="width:25%;">Item One (si1, si2), Item Two (si 1)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</ng-template>

<ng-template #eligibleFamilyDetails>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md">
                    <!-- *ngIf="!SSTrainingEditData?.training_event_master_id" -->
                    <h3 class="modal-title" id="modal-basic-title"> Eligible Family List</h3>
                    <!-- <h3 class="modal-title" id="modal-basic-title">Edit Material Distribution</h3> -->
                </div>
            </div>

            <div class="col-md">
                <span (click)="eligibleFamilyDetailsModalDismiss()"
                    style="float: right;cursor: pointer; font-size: 35px; margin-bottom: 20px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">
            <div class="QA_table ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                        <thead id="header-fixed">
                            <tr>
                                <th style="width:5%;">SL<br>No</th>
                                <th style="width:10%;">Family<br>No</th>
                                <th style="width:25%;">Name</th>
                                <th style="width:20%;">Husband Name</th>
                                <th style="width:12%;">Child Under<br>2 yr</th>
                                <th style="width:8%;">Child 2<br>to 5 yr</th>
                                <th style="width:14%;">Adolescent Girl<br>14 to 18 yr</th>
                                <th style="width:8%;">Pregnant</th>
                                <th style="width:10%;">Distribute<br>Material</th>
                            </tr>
                        </thead>

                        <tbody style="text-align: center;">
                            <tr *ngFor="let item of eligibleFamilyList; index as i">
                                <td style="width:5%;">{{i+1}}</td>
                                <td style="width:10%;">{{item.family_number}}</td>
                                <td style="width:25%;">{{item.first_name}} {{item.middle_name}} {{item.last_name}}
                                </td>
                                <td style="width:20%;">{{item.husband_or_guardian_name}}</td>
                                <td style="width:12%;">{{item.below2Current ? item.below2Current :'-'}}</td>
                                <td style="width:8%;">{{item.below5Current ? item.below5Current :'-'}}</td>
                                <td style="width:14%;">{{item.girl14To18Current ? item.girl14To18Current: '-'}}</td>
                                <td style="width:8%;">{{item.pregnant_woman}}</td>
                                <td style="width:10%;"> <i class="fas fa-file" title="Distribute Material"
                                        (click)="createMaterialDistribution(materialDistribution, item)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</ng-template>

<ng-template #materialDistribution>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md">

                </div>
            </div>

            <div class="col-md">
                <span (click)="createMaterialDistributionModalDismiss()"
                    style="float: right;cursor: pointer; font-size: 35px; margin-bottom: 20px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Beneficiary List</legend>
                <div class="QA_table" id="beneficiaryScroll">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th style="width:5%;">SL No</th>
                                    <th style="width:15%;">Name</th>
                                    <th style="width:20%;">DOB</th>
                                    <th style="width:8%;">Sex</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr *ngFor="let item of eligibleChildList; index as i">
                                    <td style="width:5%;">{{i+1}}</td>
                                    <td style="width:5%;">{{item.child_name}}</td>
                                    <td style="width:5%;">{{item.dob.split("-").reverse().join("-")}}</td>
                                    <td style="width:15%;">{{item.sex}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Distribute Material</legend>

                <form class="form-signin" [formGroup]="createMaterialDistributionForm">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="itemList">
                                Item List:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" formControlName="itemList" id="itemList" [ngClass]="{'is-invalid':
                         t.itemList.invalid && t.itemList.touched,
                          'is-valid': t.itemList.valid && (t.itemList.dirty || t.itemList.touched) }"
                                (change)="changeItemList($event.target.value)">
                                <option value="">-- Select Item List --</option>
                                <option *ngFor="let item of itemList" value="{{item.item_id}}">
                                    {{item.item_name}}
                                </option>
                                <option value="OTHERS"> Others</option>
                            </select>
                            <div *ngIf="t.itemList.errors" class="invalid-feedback">
                                <div *ngIf="t.itemList.errors.required">Selection of Item List is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-6"
                            *ngIf="createMaterialDistributionForm.value.itemList != 'OTHERS'">
                            <label for="subItemList">Sub Item List:&nbsp;<span
                                    class="text-danger">*&nbsp;</span></label>

                            <ng-multiselect-dropdown [placeholder]="'Select Multiple Sub Item List'"
                                [settings]="dropdownSettings" [data]="subItemList" formControlName="subItems"
                                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" [ngClass]="{
                             'is-invalid': t.subItems.invalid && t.subItems.touched,
                             'is-valid': t.subItems.valid && (t.subItems.dirty || t.subItems.touched)}">
                            </ng-multiselect-dropdown>
                            <div *ngIf="t.subItems.errors" class="invalid-feedback">
                                <div *ngIf="t.subItems.errors.required">
                                    Selection of Sub Item List is required
                                </div>
                            </div><br>
                            <span>Other Sub Item : {{createMaterialDistributionForm.value.enterSubItem}}</span>
                        </div>

                        <!-- style="text-transform: capitalize" -->
                        <div class="form-group col-md-6"
                            *ngIf="createMaterialDistributionForm.value.itemList == 'OTHERS'">
                            <label for="enterSubItem">Sub Item:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <input type="text" class="form-control" placeholder="Enter Sub Item"
                                formControlName="enterSubItem" maxlength="45"
                                (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                                
                                [ngClass]="{
                                    'is-invalid': t.enterSubItem.invalid && t.enterSubItem.touched,
                                    'is-valid': t.enterSubItem.valid && (t.enterSubItem.dirty || t.enterSubItem.touched)}">
                            <div *ngIf="t.enterSubItem.errors" class="invalid-feedback">
                                <div *ngIf="t.enterSubItem.errors.required">Sub Item is required</div>
                            </div><br>
                            <span>Other Sub Item : {{createMaterialDistributionForm.value.enterSubItem}}</span>
                        </div>

                    </div>

                </form>
            </fieldset>
        </div>

        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6"> <button type="button" class=" btn btn-primary btn-sm"
                        (click)="createMaterialDistributionSave()"
                        [disabled]="!disabledSaveMaterialTraining()">Save</button></div>

            </div>
        </div>
    </div>

</ng-template>