table tr th {
	border: 0.5px solid rgb(255, 255, 255);
  }

  .QA_section .QA_table .table thead th
  , .QA_section .QA_table td {
    padding: 18px 0px;
  }
  .add_button{
    display: flex;
    flex-direction: row-reverse;
}
