<nav>
    <app-sidebar (valueChange)="fullscreenMethod($event)"></app-sidebar>
</nav>

<section class=" dashboard_part" [ngClass]="fullscreenData ? 'footer_part_fullscreen main_content_fullscreen ' : 'main_content'" >

    <div class="container-fluid no-gutters">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="header_iner ">
                    <div class="sidebar_icon d-lg-none">
                        <i class="ti-menu"></i>
                    </div>

                    <div class="col-lg-12 header_text">
                        <h1>Bandhan Health Program</h1> 
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="main_content_inner"  >
        <router-outlet></router-outlet>
    </div>

    <div class="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_iner text-center">
                        <p>2021 © Developed by
                            <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Bandhan Konnagar IT Division</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <ngb-accordion [closeOthers]="true" style="width: 50%;">
        <ngb-panel id="static-1" title="Simple" > 
            <ng-template ngbPanelContent>
            <ngb-accordion [closeOthers]="true">
                <ngb-panel id="static-1" title="Simple">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                  </ng-template>
                </ngb-panel>
        
                <ngb-panel id="static-2">
                  <ng-template ngbPanelTitle style="color: black; text-decoration: none">
                    <span >Fancy title</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    nderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                  </ng-template>
                </ngb-panel>
        
              </ngb-accordion>
            </ng-template>
        </ngb-panel>

        <ngb-panel id="static-2">
          <ng-template ngbPanelTitle style="background-color: black;">
            <a class="aa">Fancy title</a>
          </ng-template>
          <ng-template ngbPanelContent>
            nderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          </ng-template>
        </ngb-panel>

      </ngb-accordion> -->

</section>