<nav *ngIf="user">
    <app-sidebar (valueChange)="fullscreenMethod($event)"></app-sidebar>
</nav>

<section class=" dashboard_part"
    [ngClass]="fullscreenData ? 'footer_part_fullscreen main_content_fullscreen ' : 'main_content'">

    <mat-toolbar *ngIf="user"
        style="background-color: #ffff;margin-left: -300px; margin-bottom: 40px; width: 130%;padding-left: 28%;">
        <span style="color: #499; font-size: 30px; margin-left: 16px;padding-right: 34%;">Bandhan Health Program
        </span>

        <span>Welcome {{user.responseObject.userdetailDTO.userFirstName}} {{user.responseObject.userdetailDTO.userLastName}} ({{user.responseObject.RoledetailDTO.roleShortName}})</span>
        <button class="btn btn-danger" style="margin-left: 1%;" (click)="logout()"> <i
                class="fa fa-power-off"></i>Logout</button>

    </mat-toolbar>

    <div class="main_content_inner">
        <router-outlet></router-outlet>
    </div>

    <!-- <div class="footer_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_iner text-center">
                        <p>2021 © Developed by
                            <a href="#"> <i class="ti-heart"></i> </a><a href="#"> Bandhan Konnagar IT Division</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</section>