<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="white_box QA_section mb_30">

          <div id="header-fixed" style="display: flex;">
            <h2 class="page-title">GP/Municipality  Setup</h2>
        </div>
        
        <div class="add_button">
            <button class="btn btn-primary" (click)="openCreateBlock()">
                <i class="fa fa-building-o"></i>Create GP/Municipality
            </button>    
        </div>
<br>
        <form class="form-signin" [formGroup]="stateSelectForm">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="state"
                  >State :&nbsp;<span class="text-danger">*&nbsp;</span></label
                >
                <select
                  class="form-select"
                  (change)="changeState($event.target.value)"
                  formControlName="state"
                  [ngClass]="{
                    'is-invalid': f.state.invalid && f.state.touched,
                    'is-valid': f.state.valid && (f.state.dirty || f.state.touched)
                  }"
                >
                  <option value="">-- Select State --</option>
                  <option *ngFor="let state of stateList" [value]="state.stateMasterId">
                    {{state.stateName}}
                  </option>
                </select>
                <div *ngIf="f.state.errors" class="invalid-feedback">
                  <div *ngIf="f.state.errors.required">
                    State selection is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="district"
                  >District :&nbsp;<span class="text-danger">*&nbsp;</span></label
                >
                <select
                  class="form-select"
                  (change)="changeDistrict($event.target.value)"
                  formControlName="district"
                  [ngClass]="{
                    'is-invalid': f.district.invalid && f.district.touched,
                    'is-valid': f.district.valid && (f.district.dirty || f.district.touched)
                  }"
                >
                  <option value="">-- Select District --</option>
                  <option *ngFor="let district of stateWiseDistrictList" [value]="district.districtMasterId">
                    {{district.districtName}}
                  </option>
                </select>
                <div *ngIf="f.district.errors" class="invalid-feedback">
                  <div *ngIf="f.district.errors.required">
                    District selection is required
                  </div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label for="block"
                  >Block :&nbsp;<span class="text-danger">*&nbsp;</span></label
                >
                <select
                  class="form-select"
                  (change)="changeBlock($event.target.value)"
                  formControlName="block"
                  [ngClass]="{
                    'is-invalid': f.block.invalid && f.block.touched,
                    'is-valid': f.block.valid && (f.block.dirty || f.block.touched)
                  }"
                >
                  <option value="">-- Select Block --</option>
                  <option *ngFor="let block of blockList" [value]="block.blockMasterId">
                    {{block.blockName}}
                  </option>
                </select>
                <div *ngIf="f.block.errors" class="invalid-feedback">
                  <div *ngIf="f.block.errors.required">
                    Block selection is required
                  </div>
                </div>
              </div>
            </div>
        </form>

        <div class="white_box_tittle list_header" >
            <div class="QA_table ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table
                        class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">
        
                        <thead>
                            <tr>
                                <th>SL<br>No</th>
                                <th>State</th>
                                <th>District</th>
                                <th>Block</th>
                                <th>GP/Municipality</th>
                                <th>Type</th> 
                                <th>Action</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr *ngFor="let item of gpMunicipality;index as i">
                                <td>{{i+1}}</td>
                                <td>{{item.stateName}}</td>
                                <td>
                                  {{item.districtName}}
                                </td>
                                <td>
                                  {{item.blockName}}
                                </td>
                                <td>
                                  {{item.gpMunicipalityName}}
                                </td>
                                <td>
                                  {{item.gpMunicipalityType}}
                                </td>
                                <td>
                                    <i class="fas fa-edit" title="Edit" (click)="openEditBlock(item)"></i>
                                    <i class="fas fa-trash" title="Delete MUAC" (click)="onDelete(item)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


