<app-loader [hidden]="loader"></app-loader>

<form class="form-signin" [formGroup]="locationForm">
<div  class="row" *ngIf="regionBranchHide">
    <div class="form-group col-md">
      <label for="region"
        >Region :&nbsp;<span class="text-danger">*&nbsp;</span></label
      >
      <select
        class="form-select"
        (change)="changeRegion($event.target.value)"
        formControlName="region"
        id="region"
        [ngClass]="{
          'is-invalid': f.region.invalid && f.region.touched,
          'is-valid':
            f.region.valid && (f.region.dirty || f.region.touched)
        }"
      >
        <option value="">-- Select Region --</option>
        <option *ngFor="let region of regionList">
          {{region.regionName}}
        </option>
      </select>
      <div *ngIf="f.region.errors" class="invalid-feedback">
        <div *ngIf="f.region.errors.required">Region is required</div>
      </div>
    </div>

    <div class="form-group col-md">
      <label for="branch"
        >Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label
      >
      <select
        class="form-select"
        (change)="changeBranch($event.target.value)"
        formControlName="branch"
        id="branch"
        [ngClass]="{
          'is-invalid': f.branch.invalid && f.branch.touched,
          'is-valid':
            f.branch.valid && (f.branch.dirty || f.branch.touched)
        }"
      >
        <option value="">-- Select Branch --</option>
        <option *ngFor="let branch of branchList" >
          {{ branch.branchName }}
        </option>
      </select>
      <div *ngIf="f.branch.errors" class="invalid-feedback">
        <div *ngIf="f.branch.errors.required">Branch is required</div>
      </div>
    </div>
</div>
<br>
<div class="row">
    <div class="form-group col-md">
      <label for="block"
        >Block :&nbsp;<span class="text-danger">*&nbsp;</span></label
      >
      <select
        class="form-select"
        (change)="changeBlock($event.target.value)"
        formControlName="block"
        id="block"
        [ngClass]="{
          'is-invalid': f.block.invalid && f.block.touched,
          'is-valid':
            f.block.valid && (f.block.dirty || f.block.touched)
        }"
      >
        <option value="">-- Select Block --</option>
        <option *ngFor="let block of villagesOfBranch" >
          {{ block.blockName }}
        </option>
      </select>
      <div *ngIf="f.block.errors" class="invalid-feedback">
        <div *ngIf="f.block.errors.required">Block is required</div>
      </div>
    </div>

    <div class="form-group col-md">
      <label for="gp"
        >GP/ Municipality :&nbsp;<span class="text-danger"
          >*&nbsp;</span
        ></label
      >
      <select
        class="form-select"
        (change)="changeGp($event.target.value)"
        formControlName="gp"
        id="gp"
        [ngClass]="{
          'is-invalid': f.gp.invalid && f.gp.touched,
          'is-valid': f.gp.valid && (f.gp.dirty || f.gp.touched)
        }"
      >
        <option value="">-- Select GP/ Municipality --</option>
        <option *ngFor="let gp of gpDtoList">
          {{ gp.name }}
        </option>
      </select>
      <div *ngIf="f.gp.errors" class="invalid-feedback">
        <div *ngIf="f.gp.errors.required">
          GP/ Municipality is required
        </div>
      </div>
    </div>

    <div class="form-group col-md">
      <label for="gram"
        >GS/ Ward/ Village:&nbsp;<span class="text-danger"
          >*&nbsp;</span
        ></label
      >
      <select
        class="form-select"
        (change)="changeVillage($event.target.value)"
        formControlName="gram"
        id="gram"
        [ngClass]="{
          'is-invalid': f.gram.invalid && f.gram.touched,
          'is-valid': f.gram.valid && (f.gram.dirty || f.gram.touched)
        }"
      >
        <option value="">-- Select Village --</option>
        <option *ngFor="let vill of villageDtoList">
          {{ vill.villageName }}
        </option>
      </select>
      <div *ngIf="f.gram.errors" class="invalid-feedback">
        <div *ngIf="f.gram.errors.required">
          Above Selection is required
        </div>
      </div>
    </div>

    <div class="form-group col-md">
      <label for="swasthyaSahayika">
        Name of SS :</label
      >
      <select
        class="form-select"
        (change)="changeSS($event.target.value)"
        formControlName="swasthyaSahayika"
        id="swasthyaSahayika"
        [ngClass]="{
          'is-invalid':
            f.swasthyaSahayika.invalid && f.swasthyaSahayika.touched,
          'is-valid':
            f.swasthyaSahayika.valid &&
            (f.swasthyaSahayika.dirty || f.swasthyaSahayika.touched)
        }"
      >
        <option value="">-- Select SS --</option>
        <option *ngFor="let ss of swasthyaSahayika" [value]="ss.swasthyaSahayikaId">
          {{ ss.swasthyaSahayikaName }}
        </option>
      </select>
    </div>
</div>
<br>
</form>

