.modal-content {
    height: 300px;
    overflow-x: hidden;
    width: 700px;
  }

  .close {
    margin-left: 260px;
  }
  
#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
  overflow-y: auto;
}

.fa-plus-circle {
  color: #3e7758 !important;
  font-size: 25px;
  margin-left: -155px;
}

.fa-minus-circle {
  color: red !important;
  font-size: 25px;
}
