.modal-content {
    height: 280px;
    overflow-x: hidden;
    width: 600px;
  }

  .close {
    margin-left: 280px;
  }
  
#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
  overflow-y: auto;
}
