<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="white_box QA_section mb_30">
        <h2 class="page-title">Muac Camp Creation</h2>

        <div style="float: right;">
            <div class="add_button">
                <button class="btn btn-primary" *ngIf="createMode" (click)="createModal(createMuac)"
                    [disabled]="!addMuacDisabled()">Add Muac
                    Camp</button>
            </div>
        </div>

        <form class="form-signin" [formGroup]="locationForm">

            <div class="row" *ngIf="regionBranchHide">
                <div class="form-group col-md">
                    <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <select class="form-select" (change)="changeRegion($event.target.value)" formControlName="region"
                        id="region" [ngClass]="{  'is-invalid': l.region.invalid && l.region.touched, 'is-valid':
                    l.region.valid && (l.region.dirty || l.region.touched) }">
                        <option value="">-- Select Region --</option>
                        <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                            {{region.regionName}}
                        </option>
                    </select>
                    <div *ngIf="l.region.errors" class="invalid-feedback">
                        <div *ngIf="l.region.errors.required">Region selection is required</div>
                    </div>
                </div>

                <div class="form-group col-md">
                    <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                    <select class="form-select" (change)="changeBranch($event.target.value)" formControlName="branch"
                        id="branch" [ngClass]="{
                  'is-invalid': l.branch.invalid && l.branch.touched, 'is-valid':
                    l.branch.valid && (l.branch.dirty || l.branch.touched)  }">
                        <option value="">-- Select Branch --</option>
                        <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                            {{ branch.branchName }}
                        </option>
                    </select>
                    <div *ngIf="l.branch.errors" class="invalid-feedback">
                        <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                    </div>
                </div>
            </div>
        </form>

        <div class="white_box_tittle list_header">

            <div class="QA_table">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

                    <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Camp Number</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let item of muacCampList; index as i">
                                <td>{{i+1}}</td>
                                <td>{{item.campNumber}}</td>
                                <td>{{item.startDate}}</td>
                                <td>{{item.endDate}}</td>
                                <td> <i class="fa fa-eye fa-lg" title="View Child Data Entry"
                                        (click)="ViewChildDataEntry(viewChild, item)"></i><i class="fas fa-edit"
                                        title="Edit Muac" *ngIf="updateMode" (click)="editModal(editMuac, item)"></i>
                                    <i class="fas fa-trash" title="Delete Muac" *ngIf="deleteMode"
                                        (click)="deleteMuac(item, i)"></i>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createMuac let-modal>

    <div class="modal-content">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="modal-title" id="modal-basic-title">Create Muac</h3>
            </div>

            <div class="col-md">
                <span class="close" (click)="muacModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float:right; margin-top: -18px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">

            <div id="table_wrapper">
                <table class="table table-striped" id="table_wrapper">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let items of muacDetails.muacInfo; index as i" style="text-align: center;">
                            <td> <input type="date" class="form-control" [(ngModel)]="muacDetails.muacInfo[i].startDate"
                                    (keydown)="restrictTypeOfDate()" [min]="minDate" [max]="maxDate"
                                    (change)="expectEndDate($event)">
                            </td>

                            <td> <input type="date" class="form-control" [(ngModel)]="muacDetails.muacInfo[i].endDate"
                                    (keydown)="restrictTypeOfDate()" [min]="selStartDate" [max]="maxDate"
                                    [disabled]="!muacDetails.muacInfo[i].startDate">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class=" btn btn-primary bttn" [disabled]="!checkMuacDisabled()"
                            (click)="saveMuac()">Submit</button>
                    </div>
                </div>

            </div>

        </div>

    </div>

</ng-template>

<ng-template #editMuac let-modal>

    <div class="modal-content">
        <div class="modal-header">

            <div class="col-md">
                <h3 class="modal-title" id="modal-basic-title">Edit Muac</h3>
            </div>

            <div class="col-md">
                <span class="close" (click)="muacModalDismiss()"
                    style="cursor: pointer;font-size: 35px;float: right; margin-top: -18px;">&times;</span>
            </div>

        </div>

        <div class="modal-body">

            <div id="table_wrapper">
                <table class="table table-striped" id="table_wrapper">
                    <thead>
                        <tr style="text-align: center;">
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let items of muacDetails.muacInfo; index as i" style="text-align: center;">
                            <td> <input type="date" class="form-control" [(ngModel)]="muacDetails.muacInfo[i].startDate"
                                    (keydown)="restrictTypeOfDate()" [min]="editMinDate" [max]="editMaxDate"
                                    (change)="expectEndDate($event)">
                            </td>

                            <td> <input type="date" class="form-control" [(ngModel)]="muacDetails.muacInfo[i].endDate"
                                    (keydown)="restrictTypeOfDate()" [min]="selStartDate" [max]="editMaxDate">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class=" btn btn-primary bttn" [disabled]="!checkMuacDisabled()"
                            (click)="saveEditMuac()">Submit</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</ng-template>


<ng-template #viewChild>

    <div class="modal-contents">
        <div class="modal-header">

            <form class="form-signin" [formGroup]="viewChildrenListMuacForm">
                <!-- <div class="row">
                    <div class="col-md">
                        <h3 class="modal-title" id="modal-basic-title">View Child<br> Data Entry</h3>
                    </div>
                </div> -->
                <div class="row">
                    <div class="form-group col-md" style="margin-left: 215px;">
                        <select class="form-select" (change)="changeVillage($event.target.value)" formControlName="gram"
                            id="gram">
                            <option value="">-- Select Village --</option>
                            <option *ngFor="let vill of villageList" value="{{vill.villageId}}">
                                {{ vill.villageName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-md" style="margin-right: -65px;
                    width: 368px;
                    margin-left: -15px;">
                        <select class="form-select" formControlName="record" id="record"
                            (change)="filterByRecord($event.target.value)">
                            <option value="">-- Select Child MUAC Filter --</option>
                            <option value="taken">MUAC Data Available</option>
                            <option value="nottaken">MUAC Data Not Available</option>
                        </select>
                    </div>

                    <div class="form-group col-md">
                        <div class="box_right d-flex lms_block col-md-6">
                            <div class="serach_field_2">
                                <div [ngClass]=" searchFullscreen? 'search_inner_fullscreen ' : ' search_inner' ">
                                    <form active="#">
                                        <div class="search_field">
                                            <input type="text" name="search"
                                                placeholder="family no., mother & guardian name ..."
                                                [(ngModel)]="registerSearch">
                                        </div>
                                        <button type="submit"> <i class="fa fa-search"></i> </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <div class="col-md">
                <span (click)="modalReference.close()"
                    style="cursor: pointer;font-size: 35px;float:right; margin-top: -18px;">&times;</span>
            </div>
        </div>


        <div class="modal-body">

            <div class="row">
                <div class="col-md-2">
                    <strong style="font-size: large;">Children Count :</strong><br>
                    <span>({{villageName}})</span>
                </div>
                <div class="col-md-10">
                    <button type="button" class="btn btn-secondary" style="width:300px;">Target :
                        {{ targetChildrenCount}}</button>&nbsp;

                    <button type="button" class="btn btn-secondary" style="width:300px;">Achieved :
                        {{achievementChildrenCount}}</button>&nbsp;

                    <button type="button" class="btn btn-secondary" style="width:300px;">Not Achieved :
                        {{targetChildrenCount - achievementChildrenCount}}
                    </button><br><br>


                    <button type="button" class="btn btn-secondary" style="width:300px;"><i class="fa fa-circle fa-lg"
                            style="color: #cd0202;"></i>{{totalRedChildrenCount}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-exclamation-triangle"
                            style="color: #ff5c5c;"></i>{{severeChildrenCount}}</button>&nbsp;


                    <button type="button" class="btn btn-secondary" style="width:300px;"> <i class="fa fa-circle fa-lg"
                            title="End Survey" style="color: #f7cd00;"></i>{{totalYellowChildrenCount}}</button>&nbsp;

                    <button type="button" class="btn btn-secondary" style="width:300px;"> <i class="fa fa-circle fa-lg"
                            style="color: #24d524;"></i>{{totalGreenChildrenCount}}</button><br><br>


                    <button type="button" class="btn btn-secondary" style="width:300px;">Male :
                        {{totalMaleChildrenCount}}</button>&nbsp;

                    <button type="button" class="btn btn-secondary" style="width:300px;">Female :
                        {{totalFemaleChildrenCount}}</button>&nbsp;

                    <button type="button" class="btn btn-secondary" style="width:300px;">Other
                        : {{totalOtherChildrenCount}}</button><br><br>
                </div>
            </div>

            <div id="table_wrapper">
                <table class="table table-striped" id="table_wrapper" *ngIf="viewChildrenListMuacForm.value.gram">
                    <thead id="header-fixed">
                        <tr style="text-align: center;">
                            <th>SL No</th>
                            <th>Family No.</th>
                            <th>Mother Name</th>
                            <th>Gurdian Name</th>
                            <th>Child Name</th>
                            <th>DOB</th>
                            <th>MUAC Record Date</th>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>MUAC</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of filterChildList |  muacChildrenViewFilter: {familyNumber : 
                            registerSearch, firstName :registerSearch,middleName : registerSearch, 
                            lastName:registerSearch, husbandOrGuardianName : registerSearch}  ; index as i"
                            style="text-align: center;">
                            <td>{{i+1}}</td>
                            <td>{{item.familyNumber}}</td>
                            <td>{{item.firstName}} {{item.middleName}}
                                {{item.lastName}}</td>
                            <td>{{item.husbandOrGuardianName}}</td>
                            <td>{{item.childName}}</td>
                            <td>{{item.childDob.split("-").reverse().join("-")}}</td>
                            <td>{{item.muacDetails?.muacRecordDate.split("-").reverse().join("-") ?
                                item.muacDetails?.muacRecordDate.split("-").reverse().join("-") : '-'}}</td>
                            <td>{{item.muacDetails?.height ? item.muacDetails?.height :'-'}}</td>
                            <td>{{item.muacDetails?.weight ? item.muacDetails?.weight :'-'}}</td>
                            <td>{{item.muacDetails?.muac ? item.muacDetails?.muac :'-'}}</td>
                            <td class="{{item.muacDetails?.muacIndicatorName == 'RED' ? 'danger' 
                            : item.muacDetails?.muacIndicatorName == 'GREEN' ? 'success' 
                            : item.muacDetails?.muacIndicatorName == 'YELLOW' ? 'warning' : null}}"><i
                                    class="fa fa-circle fa-lg"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</ng-template>