<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <h2 class="page-title">Pending Sub-Verticals</h2>
                <!-- <a [routerLink]="['create']">Create New</a> -->
                <div class="white_box_tittle list_header">

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table class="table lms_table_active dataTable no-footer dtr-inline collapsed" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 705px;">
                                <thead>
                                    <tr>
                                        <th>SL No</th>
                                        <th>Sub-Vertical Name</th>
                                        <th>Sub-Vertical Code</th>
                                        <th>Vertical Name</th>
                                        <th>Vertical Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of subVerticalService.pendingSubVerticals| slice: (page-1) * pageSize : page * pageSize; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{item.subVerticalName}}</td>
                                        <td>{{item.subVerticalCode}}</td>
                                        <td>{{item.verticalMasterDataDTO.verticalName}}</td>
                                        <td>{{item.verticalMasterDataDTO.verticalCode}}</td>
                                        <td>
                                            <i class="fa fa-check" (click)="approveSubVertical(item)"></i><i class="fas fa-ban"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <ngb-pagination class="d-flex justify-content-end p-1" [(page)]="page" [pageSize]="pageSize" [collectionSize]="subVerticalService.pendingSubVerticals?.length"></ngb-pagination>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>