.navigation {
  width: 350px;
  height: auto;
}

.mainmenu,
.submenu {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0;
  margin-left: 20px;
  cursor: pointer;
}

.mainmenu a,
.mainmenu label {
  position: relative;
  display: block;
  background-color: #ffff;
  text-decoration: none;
  padding: 10px;
  color: #000;
  cursor: pointer;
}

.mainmenu input {
  display: none;
}

.mainmenu a:hover {
  background-color: #c5c5c5;
}

.mainmenu input:checked ~ .submenu {
  display: block;
  max-height: 1000px;
}

.submenu a {
  background-color: #ffffff;
}

.submenu a:hover {
  background-color: #95d0d0;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.2s ease-out;
}

h3 {
  color: #ffffff;
}

.navigation .mainmenu input:checked + label h3 span i {
  position: sticky;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}

.navigation .mainmenu label h3 span i {
  float: right;
  top: 50%;
  transform: translateY(-50%) rotate(-180deg);
}

.header {
  color: rgb(0, 0, 0);
  text-decoration: underline rgb(255, 255, 255);
}

.accordion-body {
  padding: 0px 5px 0px 20px;
}

.accordion-item {
  border: 1px solid #499;
  border-bottom: 1.5px solid white;
  background-color: #499;
}

.box {
  color: #000;
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  width: 100%;
}

/* .box:hover {
  background-color: #499;
} */

.accordion-button {
  padding: 0px 0px 0px 20px;
}

/* .mat-expansion-panel .mat-expanded {
  padding-bottom: -20px;
  background-color: red;
} */
.mat-expansion-panel-body {
  padding: 0px;
}
.box:focus {
  /* font-weight: bold; */
  font-size: 15px;
  text-shadow: 1px 1px #499;
}
