<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">SS Training Events</h2>
                    <div class="form-group col-md" style="display: flex; justify-content:flex-end"
                        *ngIf="(viewSSTrainingEventForm.value.branch || lowerRoleBranchId)&& createMode">
                        <i class="fas fa-plus-circle" style="cursor: pointer"
                            (click)="createSSTrainingEvents(SSTraining)">&nbsp;Schedule SS
                            Training Event</i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="viewSSTrainingEventForm">
                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid': l.region.valid && (l.region.dirty || l.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{ 'is-invalid': l.branch.invalid && l.branch.touched,
                              'is-valid': l.branch.valid && (l.branch.dirty || l.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="filterStartDate">Start Date :</label>
                            <input type="date" class="form-control" formControlName="filterStartDate"
                                (change)="filterDateWiseSSTrainingList()">
                        </div>

                        <div class="form-group col-md">
                            <label for="filterEndDate">End Date :</label>
                            <input type="date" class="form-control" formControlName="filterEndDate"
                                (change)="filterDateWiseSSTrainingList()">
                        </div>

                        <div class="form-group col-md">
                            <label for="filterTraining">Filter By Training Type :</label>
                            <select class="form-select" formControlName="filterTraining" id="filterTraining"
                                (change)="filterListByTrainingType($event.target.value)">
                                <option value="">-- Type Of Training --</option>
                                <option *ngFor="let filterTraining of ssTrainingType"
                                    value="{{filterTraining.training_type_master_id}}">
                                    {{filterTraining.training_type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="white_box_tittle list_header">

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table
                                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">
                                <thead id="header-fixed">
                                    <tr>
                                        <th style="width:8%;">SL No</th>
                                        <th style="width:25%;">Type of<br> Training</th>
                                        <th style="width:20%;">Start Date</th>
                                        <th style="width:20%;">End Date</th>
                                        <th style="width:20%;">SS Participated</th>
                                        <th style="width:20%;">SS Completed<br> Training</th>
                                        <th style="width:25%;">Status</th>
                                        <th style="width:20%;">Participants<br> Details</th>
                                        <th style="width:20%;" *ngIf="updateMode || deleteMode">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr
                                        *ngFor="let event of ssEventList | paginate: { itemsPerPage: 5, currentPage: p }; index as i">
                                        <td style="width:8%;">{{i+1}}</td>
                                        <td style="width:25%;">{{event.training_type_name}}</td>
                                        <td style="width:20%;">
                                            {{event.ss_training_event_start_date.split("-").reverse().join("-")}}</td>
                                        <td style="width:20%;">
                                            {{event.ss_training_event_end_date.split("-").reverse().join("-")}}</td>
                                        <td style="width:20%;">{{event.ssCount}}</td>
                                        <td style="width:20%;">{{event.ssCompletedTraining}}</td>
                                        <td style="width:25%;">{{event.status}} </td>
                                        <td style="width:20%;"
                                            (click)="viewParticipantsDetails(detailsOfParticipants, event)"
                                            style="cursor: pointer; color: blue;">View</td>
                                        <td style="width: 20%;" *ngIf="updateMode || deleteMode">
                                            <i class="fas fa-edit" title="Edit SS Training Event"
                                                (click)="editSSTrainingEvents(event, SSTraining)" *ngIf="updateMode">
                                            </i>
                                            <i class="fas fa-trash" title="Delete SS Training Event"
                                                (click)="deleteSSTrainingEvents(event)" *ngIf="deleteMode"></i>
                                            <i class="fas fa-check-circle" title="Approve SS Training Event"
                                                (click)="approveSSTrainingEvents(event)" *ngIf="approveMode"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                            </pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detailsOfParticipants>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md">
                    <h3 class="modal-title" id="modal-basic-title">Participants Details</h3>
                </div>
                <div class="col-md">
                    <span class="closes" (click)="detailsOfParticipantsModalDismiss()"
                        style="cursor: pointer;font-size: 35px;">&times;</span>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="white_box_tittle list_header">

                <div class="QA_table ">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th style="width:5%;">SL No</th>
                                    <th style="width:30%;">SS Name</th>
                                    <th style="width:20%;">Branch</th>
                                    <th style="width:25%;">Village</th>
                                    <th style="width:25%;">Staff In Charge</th>
                                    <th style="width:10%;">Attendance</th>
                                    <th style="width:20%;">Status</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr *ngFor="let eventSS of eventSSList; index as i">
                                    <td style="width:5%;">{{i+1}}</td>
                                    <td style="width:30%;">{{eventSS.swasthya_sahayika_name}}</td>
                                    <td style="width:20%;">{{eventSS.branch_name}}</td>
                                    <td style="width:25%;">{{eventSS.village_name}}</td>
                                    <td style="width:25%;">{{eventSS.user_firstname ? eventSS.user_firstname : '-'}}
                                        {{eventSS.user_middlename}}
                                        {{eventSS.user_lastname}}
                                    </td>
                                    <td style="width:10%;">{{eventSS.countAttendance ? eventSS.countAttendance : '-'}}
                                    </td>
                                    <td style="width:20%;">{{eventSS.status ? eventSS.status : '-'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <h3 class="modal-title" style="margin-left:20px;" *ngIf="attendanceImage.length != 0">Event Captured Images :
        </h3>
        <div class="row">
            <div class="col-md" *ngFor="let attendance of attendanceImage; index as i">
                <a href="{{attendance.ss_training_attendance_page_image_url}}" target="_blank">
                    <img src="{{attendance.ss_training_attendance_page_image_url}}">
                    <h4 style="margin-left:100px ;">Page : {{attendance.ss_training_event_attendance_page_no}}</h4>
                </a>
            </div>
        </div>

    </div>

</ng-template>

<ng-template #SSTraining>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="modal-title" id="modal-basic-title"
                        *ngIf="!SSTrainingEditData?.training_event_master_id">Create SS Training</h3>
                    <h3 class="modal-title" id="modal-basic-title" *ngIf="SSTrainingEditData?.training_event_master_id">
                        Edit SS Training</h3>
                </div>
                <div class="col-md-6" *ngIf="lowerRoleBranchId"></div>
                <div class="col-md-6" *ngIf="!lowerRoleBranchId">
                    <h3 style="margin-left:100px;">Region Name:&nbsp;&nbsp;{{regionName ? regionName :'NA'}}</h3>
                </div>

                <div class="col-md-2">
                    <span class="close" (click)="ssTrainingModalDismiss()"
                        style="cursor: pointer;font-size: 35px;">&times;</span>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <h3 style="margin-left:-40px;">Branch Name:&nbsp;&nbsp;{{branchName ? branchName :'NA'}}</h3>
                    </div>
                </div>

            </div>

        </div>

        <div class="modal-body">
            <form class="form-signin" [formGroup]="createSSTrainingEventForm">
                <div class="row">
                    <div class="form-group col-md">
                        <label for="trainingType">Type of Training:&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="trainingType" id="trainingType" [ngClass]="{'is-invalid':
                         t.trainingType.invalid && t.trainingType.touched,
                          'is-valid': t.trainingType.valid && (t.trainingType.dirty || t.trainingType.touched) }"
                            (change)="changeTrainingType($event.target.value)">
                            <option value="">-- Select Training Type --</option>
                            <option *ngFor="let trainingType of ssTrainingType"
                                value="{{trainingType.training_type_master_id}}">
                                {{trainingType.training_type_name}}
                            </option>
                        </select>
                        <div *ngIf="t.trainingType.errors" class="invalid-feedback">
                            <div *ngIf="t.trainingType.errors.required">Type Of Training selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="duration">Duration:</label>
                        <input type="text" class="form-control" placeholder="Training Duration"
                            formControlName="duration">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="fromDate">From Date:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="date" class="form-control" formControlName="fromDate"
                            (keydown)="restrictTypeOfDate()" [min]="setFromDate"
                            (change)="expectToDate($event.target.value)"
                            [ngClass]="{'is-invalid': t.fromDate.invalid &&
                             t.fromDate.touched, 'is-valid': t.fromDate.valid && (t.fromDate.dirty || t.fromDate.touched) }">
                        <div *ngIf="t.fromDate.errors" class="invalid-feedback">
                            <div *ngIf="t.fromDate.errors.required">From Date selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="toDate">To Date:</label>
                        <input type="date" class="form-control" formControlName="toDate" [min]="setToDate">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="trainername">Trainer Name:</label>
                        <input type="text" class="form-control" placeholder="Trainer Name" formControlName="trainername"
                            maxlength="45" (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                            style="text-transform: capitalize">
                    </div>

                    <div class="form-group col-md">
                        <label for="trainerdesignation">Trainer Designation:</label>
                        <input type="text" class="form-control" placeholder="Trainer Designation"
                            formControlName="trainerdesignation" maxlength="45"
                            (keypress)="validationService.onlyAlphabetsAndSpace($event)"
                            style="text-transform: capitalize">
                    </div>

                    <div class="form-group col-md" *ngIf="createSSTrainingEventForm.value.trainingType== 3">
                        <label for="trainingtopic">Topic of Training :&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="trainingtopic" id="trainingtopic" [ngClass]="{'is-invalid': t.trainingtopic.invalid && t.trainingtopic.touched,
                          'is-valid': t.trainingtopic.valid && (t.trainingtopic.dirty || t.trainingtopic.touched) }">
                            <option value="">-- Select Training Topic --</option>
                            <option *ngFor="let trainingtopic of ssTrainingTopic"
                                value="{{trainingtopic.ss_training_event_topic_id}}">
                                {{trainingtopic.ss_training_event_topic_name}}
                            </option>
                        </select>
                        <div *ngIf="t.trainingtopic.errors" class="invalid-feedback">
                            <div *ngIf="t.trainingtopic.errors.required">Topic of Training selection is required</div>
                        </div>
                    </div>
                </div>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">ADD SS</legend>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="ssbranch">Branch:&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changessbranch($event.target.value)"
                                formControlName="ssbranch" id="ssbranch" [ngClass]="{ 'is-invalid': t.ssbranch.invalid && t.ssbranch.touched,
                          'is-valid': t.ssbranch.valid && (t.ssbranch.dirty || t.ssbranch.touched) }"
                                style="width: 99%;">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="t.ssbranch.errors" class="invalid-feedback">
                                <div *ngIf="t.ssbranch.errors.required">Branch selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="participantType">Participant Type:&nbsp;<span
                                    class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="filterSSList($event.target.value)"
                                formControlName="participantType" id="participantType"
                                [ngClass]="{ 'is-invalid': t.participantType.invalid && t.participantType.touched,
                          'is-valid': t.participantType.valid && (t.participantType.dirty || t.participantType.touched) }" style="width: 100%;">
                                <option value="">-- Select Participant --</option>
                                <option value="fresh">Fresh SS</option>
                                <option value="absent">Absent SS</option>
                            </select>
                            <div *ngIf="t.participantType.errors" class="invalid-feedback">
                                <div *ngIf="t.participantType.errors.required">Participant selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="staff">Staff In Charge:</label>
                            <select class="form-select" (change)="changestaff($event.target.value)"
                                formControlName="staff" id="staff">
                                <option value="">-- Filter By Staff --</option>
                                <option value="viewall">View All</option>
                                <option *ngFor="let staff of staffList" value='{{staff.user_id}}'>
                                    {{ staff.user_firstname}} {{staff.user_middlename}} {{staff.user_lastname}} -
                                    {{staff.role_shortname}}
                                </option>
                                <option value="nouser">No User</option>
                            </select>
                        </div>

                    </div>

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table
                                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                                <thead id="header-fixed">
                                    <tr>
                                        <th style="width:5%;">SL No</th>
                                        <th style="width:25%;">SS Name</th>
                                        <th style="width:20%;">Branch</th>
                                        <th style="width:25%;">Village</th>
                                        <th style="width:20%;">Staff In Charge</th>
                                        <th style="width:8%;">Select</th>
                                    </tr>
                                </thead>

                                <tbody style="text-align: center;">
                                    <tr *ngFor="let ss of ssList; index as i">
                                        <td style="width:5%;">{{i+1}}</td>
                                        <td style="width:25%;">{{ss.swasthya_sahayika_name}}</td>
                                        <td style="width:20%;">{{ss.branch_name}}</td>
                                        <td style="width:25%;">{{ss.village_name ? ss.village_name : '-'}}</td>
                                        <td style="width:20%;">{{ss.user_firstname ? ss.user_firstname :'-'}}
                                            {{ss.user_middlename}}
                                            {{ss.user_lastname}}
                                        </td>
                                        <td style="width:8%;"> <input class="form-check-input" type="checkbox" checked
                                                value="" id="flexCheckDefault" *ngIf="ss.isChecked == true"
                                                (change)="selectSSForTraining(ss, i, $event.target.checked,ss.swasthya_sahayika_id)">

                                            <input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault" *ngIf="ss.isChecked == false"
                                                (change)="selectSSForTraining(ss, i, $event.target.checked,ss.swasthya_sahayika_id)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </fieldset>

            </form>
        </div>

        <div class="modal-footer">
            <div class="row">
                <button type="button" class=" btn btn-primary btn-sm" [disabled]="!disabledSaveTrainingForm()"
                    (click)="saveSSTrainingForm()">Save</button>
            </div>
        </div>

    </div>

</ng-template>