<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">SS Training Events</h2>
                    <div class="form-group col-md" style="display: flex; justify-content:flex-end">
                        <!--   *ngIf="viewSSTrainingEventForm.value.branch" -->
                        <i class="fas fa-plus-circle" style="cursor: pointer"
                            (click)="createSSTrainingEvent(SSTraining)">&nbsp;Schedule SS
                            Training Event</i>
                    </div>
                </div>

                <form class="form-signin" [formGroup]="viewSSTrainingEventForm">

                    <div class="row" *ngIf="regionBranchHide">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid': l.region.valid && (l.region.dirty || l.region.touched) }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{ 'is-invalid': l.branch.invalid && l.branch.touched,
                              'is-valid': l.branch.valid && (l.branch.dirty || l.branch.touched) }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>

                    </div>
                </form>

                <div class="white_box_tittle list_header">

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table
                                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                                <thead id="header-fixed">
                                    <tr>
                                        <th>SL No</th>
                                        <th>Type of<br> Training</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>SS Participated</th>
                                        <th>SS Completed<br> Training</th>
                                        <th>Status</th>
                                        <th>Participants<br> Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Basic</td>
                                        <td>23-08-2022</td>
                                        <td>25-08-2022</td>
                                        <td>7</td>
                                        <td>2</td>
                                        <td>Ongoing </td>
                                        <td (click)="viewParticipantsDetails(detailsOfParticipants)"
                                            style="cursor: pointer; color: blue;">View</td>
                                        <td>
                                            <i class="fas fa-edit" title="Edit SS Training Events"
                                                (click)="editSSTrainingEvents(SSTraining)"> </i>
                                            <i class="fas fa-trash" title="Delete SS Training Events"
                                                (click)="deleteSSTrainingEvents()"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #detailsOfParticipants>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md">
                    <h3 class="modal-title" id="modal-basic-title">Participants Details</h3>
                </div>
                <div class="col-md">
                    <span class="close" (click)="detailsOfParticipantsModalDismiss()"
                        style="cursor: pointer;font-size: 35px;">&times;</span>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <div class="white_box_tittle list_header">

                <div class="QA_table ">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                        <table
                            class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                            role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                            <thead id="header-fixed">
                                <tr>
                                    <th>SS Name</th>
                                    <th>Branch</th>
                                    <th>Village</th>
                                    <th>Staff In Charge</th>
                                    <th>Attendance</th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">
                                <tr>
                                    <td>Rashmi Singh</td>
                                    <td>Mednipur</td>
                                    <td>Kankalitala</td>
                                    <td>Rony Roy</td>
                                    <td>Monday</td>
                                    <td>Ongoing </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>

</ng-template>


<ng-template #SSTraining>

    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-md">
                    <h3 class="modal-title" id="modal-basic-title">Create SS Training</h3>
                    <!-- <h3 class="modal-title" id="modal-basic-title" *ngIf="villageId">Edit SS Training</h3> -->
                </div>
                <div class="col-md">
                    <span class="close" (click)="ssTrainingModalDismiss()"
                        style="cursor: pointer;font-size: 35px;">&times;</span>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <form class="form-signin" [formGroup]="createSSTrainingEventForm">
                <div class="row">
                    <div class="form-group col-md">
                        <label for="trainingType">Type of Training :&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <select class="form-select" formControlName="trainingType" id="trainingType" [ngClass]="{'is-invalid':
                         t.trainingType.invalid && t.trainingType.touched,
                          'is-valid': t.trainingType.valid && (t.trainingType.dirty || t.trainingType.touched) }"
                            (change)="TrainingType($event.target.value)">
                            <option value="">-- Select Training Type --</option>
                            <option value="1">Basic Training</option>
                            <option value="2">Technical Training</option>
                            <option value="3">Refreshers Training</option>
                            <option value="4">Follow Up training</option>
                            <!-- <option *ngFor="let trainingType of trainingTypeList" value="{{trainingType.regionMasterId}}">
                                {{region.regionName}}
                            </option> -->
                        </select>
                        <div *ngIf="t.trainingType.errors" class="invalid-feedback">
                            <div *ngIf="t.trainingType.errors.required">Type Of Training selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="duration">Duration:</label>
                        <input type="text" class="form-control" placeholder="Training Duration"
                            formControlName="duration">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="fromDate">From Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                        <input type="date" class="form-control" formControlName="fromDate"
                            (keydown)="restrictTypeOfDate()" [min]="setFromDate"
                            (change)="expectToDate($event.target.value)"
                            [ngClass]="{'is-invalid': t.fromDate.invalid &&
                             t.fromDate.touched, 'is-valid': t.fromDate.valid && (t.fromDate.dirty || t.fromDate.touched) }">
                        <div *ngIf="t.fromDate.errors" class="invalid-feedback">
                            <div *ngIf="t.fromDate.errors.required">From Date selection is required</div>
                        </div>
                    </div>

                    <div class="form-group col-md">
                        <label for="toDate">To Date :</label>
                        <input type="date" class="form-control" formControlName="toDate" [min]="setToDate">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md">
                        <label for="trainername">Trainer Name:</label>
                        <input type="text" class="form-control" placeholder="Trainer Name" formControlName="trainername"
                            maxlength="45" style="text-transform: capitalize">
                    </div>

                    <div class="form-group col-md">
                        <label for="trainerdesignation">Trainer Designation:</label>
                        <input type="text" class="form-control" placeholder="Trainer Designation"
                            formControlName="trainerdesignation" maxlength="45" style="text-transform: capitalize">
                    </div>

                    <div class="form-group col-md">
                        <label for="trainingtopic">Topic of training :&nbsp;<span
                                class="text-danger">*&nbsp;</span></label>
                        <!-- (change)="trainingtopic($event.target.value)" -->
                        <select class="form-select" formControlName="trainingtopic" id="trainingtopic" [ngClass]="{'is-invalid': t.trainingtopic.invalid && t.trainingtopic.touched,
                          'is-valid': t.trainingtopic.valid && (t.trainingtopic.dirty || t.trainingtopic.touched) }">
                            <option value="">-- Select Training Topic --</option>
                            <!-- <option *ngFor="let trainingtopic of trainingtopicList" value="{{trainingtopic.regionMasterId}}">
                                {{region.regionName}}
                            </option> -->
                        </select>
                        <div *ngIf="t.trainingtopic.errors" class="invalid-feedback">
                            <div *ngIf="t.trainingtopic.errors.required">Training Topic selection is required</div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <!-- <div class="modal-footer">
            <div class="row">
                <button type="button" class=" btn btn-primary bttn" (click)="saveVillForm()">Save</button>
            </div>
        </div> -->

    </div>

</ng-template>