<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">
                <h2 class="page-title">Daily Activity Register</h2>

                <form class="form-signin" [formGroup]="locationForm">

                    <div class="row" *ngIf="role != 'HCO' && role != 'HCOI' && role != 'TL' ">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{
                              'is-invalid': l.region.invalid && l.region.touched,
                              'is-valid':
                                l.region.valid && (l.region.dirty || l.region.touched)
                            }">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="l.region.errors" class="invalid-feedback">
                                <div *ngIf="l.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{
                              'is-invalid': l.branch.invalid && l.branch.touched,
                              'is-valid':
                                l.branch.valid && (l.branch.dirty || l.branch.touched)
                            }">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="l.branch.errors" class="invalid-feedback">
                                <div *ngIf="l.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="hco">HCO/ HCOI /TL :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeHco($event.target.value)" formControlName="hco"
                                id="hco" [ngClass]="{
                              'is-invalid': l.hco.invalid && l.hco.touched,
                              'is-valid':
                                l.hco.valid && (l.hco.dirty || l.hco.touched)
                            }">
                                <option value="">-- Select Role --</option>
                                <option *ngFor="let hco of hcoList" value='{{hco.user_id}}'>
                                    {{ hco.user_firstname}} {{hco.user_middlename}} {{hco.user_lastname}} -
                                    {{hco.role_shortname}}
                                </option>
                            </select>
                            <div *ngIf="l.hco.errors" class="invalid-feedback">
                                <div *ngIf="l.hco.errors.required">Role selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="fromDate">From Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <input type="date" class="form-control" formControlName="fromDate"
                                (keydown)="restrictTypeOfDate()" (change)="fromDateChange()" [ngClass]="{
                                    'is-invalid': l.fromDate.invalid && l.fromDate.touched,
                                    'is-valid':
                                      l.fromDate.valid && (l.fromDate.dirty || l.fromDate.touched)
                                  }">
                            <div *ngIf="l.fromDate.errors" class="invalid-feedback">
                                <div *ngIf="l.fromDate.errors.required">From Date selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="toDate">To Date :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <input type="date" class="form-control" formControlName="toDate"
                                (keydown)="restrictTypeOfDate()" (change)="viewDAREntryList()" (change)="toDateChange()"
                                [ngClass]="{
                                    'is-invalid': l.toDate.invalid && l.toDate.touched,
                                    'is-valid':
                                      l.toDate.valid && (l.toDate.dirty || l.toDate.touched)
                                  }">
                            <div *ngIf="l.toDate.errors" class="invalid-feedback">
                                <div *ngIf="l.toDate.errors.required">To Date selection is required</div>
                            </div>

                        </div>

                    </div>
                    <div class="white_box_tittle list_header">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th>SL No</th>
                                            <th>Date</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let item of darList | paginate: { itemsPerPage: 5, currentPage: p } ; index as i">
                                            <td>{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td>{{item.darDate}} </td>
                                            <td class="btn-link"
                                                style="color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="darViewFamily(item.darViewFamilyDTOList)">More Info...</td>

                                        </tr>
                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>

                    </div>

                    <div class="white_box_tittle list_header" *ngIf="darViewFamilyList.length > 0">

                        <div class="QA_table ">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                <table
                                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                                    <thead id="header-fixed">
                                        <tr>
                                            <th style="padding: 0px;">SL No</th>
                                            <th style="padding: 0px;">Village</th>
                                            <th>Name of <br> Beneficiary Visited</th>
                                            <th style="padding: 0px;">Type of <br> beneficiary</th>
                                            <th style="padding: 0px;">Alone /<br> With SS</th>
                                            <th style="padding: 0px;">Name of SS</th>
                                            <th style="padding: 0px;">View</th>
                                            <th style="padding: 0px;">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        <tr
                                            *ngFor="let item of darViewFamilyList | paginate: { itemsPerPage: 5, currentPage: p } ; index as i">
                                            <td style="padding: 0px;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                            <td style="padding: 0px;">{{item.villageName}} </td>
                                            <td>{{item.firstName}} {{item.middleName}}
                                                {{item.lastName}}</td>
                                            <td style="padding: 0px;"> -</td>
                                            <td style="padding: 0px;">{{item.visitedWithSS}}</td>
                                            <td style="padding: 0px;">{{item.ssName ? item.ssName : '-'}}</td>
                                            <td style="padding: 0px;" class="btn-link" 
                                                style="color:#0d6efd; text-decoration: none; cursor: pointer;"
                                                (click)="viewDARModal(editDAR, item)">
                                                View
                                            </td>
                                            <td style="padding: 0px;"><i class="fas fa-edit" title="Edit DAR" *ngIf="updateMode"
                                                    (click)="editDARModal(editDAR, item)"></i>
                                                <i class="fas fa-trash" title="Delete DAR" *ngIf="deleteMode"
                                                    (click)="deleteDAR(item,i)"></i>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <pagination-controls class="d-flex justify-content-end p-1 current ngx-pagination1"
                                    (pageChange)="p = $event" (pageBoundsCorrection)="p = $event ">
                                </pagination-controls>

                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


<ng-template #editDAR let-modal>
    <div class="modal-content">
        <div class="modal-header" style="height: 80px;">

            <div class="white_box QA_section mb_30" style="height: 100px;">
                <h2 class="page-title" *ngIf="mode =='E'">Edit DAR</h2>
                <h2 class="page-title" *ngIf="mode =='V'">View DAR</h2>
                <span class="close" title="close" (click)="modalDismiss()"
                    style="cursor: pointer;font-size: 35px; margin-bottom: 25px">&times;</span>
            </div>

        </div>
        <div class="modal-body">

            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                        font-size: 1.05rem;">Family No:</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{editListCheck.familyNumber}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                        font-size: 1.05rem;">Name:</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{editListCheck.firstName}} {{editListCheck.middleName}}
                                {{editListCheck.lastName}}</label>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="" style="font-weight: 500;
                        font-size: 1.05rem;">Husband/ Guardian's Name:</label>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">{{editListCheck.husbandOrGuardianName}}</label>
                        </div>
                    </div>
                </div>

            </div>

            <form class="form-signin" [formGroup]="editForm">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Child Info</legend>
                    <div id="table_wrapper">
                        <table class="table table-striped" id="table_wrapper">

                            <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Name</th>
                                    <th>Age</th>
                                    <th>sex</th>
                                    <th>DOB</th>
                                    <th>Current Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody style="text-align: center;">

                                <tr *ngFor="let item of darViewChildList; index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{item.childName}}</td>
                                    <td>{{item.age}}</td>
                                    <td>{{item.sex}}</td>
                                    <td>{{item.dob.substring(0,10).split('-').reverse().join('-')}}</td>
                                    <td>-</td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                            (change)="changeChildbox($event,item)" formControlName="child"></td>
                                </tr>

                            </tbody>

                        </table>
                    </div>

                </fieldset>

                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="ss">
                            Visited With SS&nbsp;<span class="text-danger">*&nbsp;</span></label>

                        <div class="form-check-inline">
                            <input class="form-check-input" name="ss" type="radio" id="yes" value="Y"
                                formControlName="ss" (change)="changess($event.target.value)" />
                            <label class="form-check-label" for="">
                                &nbsp;&nbsp;Yes</label>

                            <div class="form-check-inline">
                                &nbsp;&nbsp;&nbsp;
                                <input class="form-check-input" type="radio" id="no" value="N" formControlName="ss"
                                    (change)="changess($event.target.value)" />
                                <label class="form-check-label" for="">
                                    &nbsp;&nbsp;No</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4" *ngIf="changeSS == 'Y'">
                        <label for="sahayika">
                            Name of SS :</label>

                        <select class="form-select" formControlName="sahayika" id="swasthyaSahayika"
                            (change)="changeSahika($event.target.value)">
                            <option value="">-- Select SS --</option>
                            <option *ngFor="let ss of swasthyaSahayika" [value]="ss.swasthyaSahayikaId">
                                {{ ss.swasthyaSahayikaName }}
                            </option>
                        </select>

                    </div>
                </div>

                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Specify Visit Purpose</legend>
                    <div id="table_wrapper">
                        <table class="table" id="table_wrapper">

                            <tbody>
                                <tr *ngFor="let item of visitData; index as i">
                                    <th>
                                        <h2>{{item.mainPurposeMasterName}}</h2>
                                        <table class="table table-striped" id="table_wrapper">
                                            <tbody style="text-align: start">

                                                <tr *ngFor="let items of visitData[i].subPurposes; index as i">
                                                    <td style="padding: 1px; margin-left: 60px;">
                                                        <h4><i class="fas fa-caret-right"></i>
                                                            {{items.subPurposeMasterName}}
                                                        </h4>
                                                    </td>

                                                    <!-- Enable/Disable Using Lactating Mother and Main PurposeMasterName Status -->
                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.presentInLactatingMother == 'Y' && item.mainPurposeMasterName.includes('Lactating mother')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.presentInLactatingMother == 'N' && item.mainPurposeMasterName.includes('Lactating mother')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.presentInLactatingMother == 'Y' && item.mainPurposeMasterName.includes('Lactating mother')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.presentInLactatingMother == 'N' && item.mainPurposeMasterName.includes('Lactating mother')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>



                                                    <!-- Enable/Disable Using PregnantWoman and Main PurposeMasterName Status -->
                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.presentInPregnantWoman == 'Y' && item.mainPurposeMasterName.includes('pregnant woman')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.presentInPregnantWoman == 'N' && item.mainPurposeMasterName.includes('pregnant woman')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.presentInPregnantWoman == 'Y' && item.mainPurposeMasterName.includes('pregnant woman')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.presentInPregnantWoman == 'N' && item.mainPurposeMasterName.includes('pregnant woman')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>



                                                    <!-- Enable/Disable Using PEM and Main PurposeMasterName Status -->
                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.hasChildPresentInPem == 'Y' && item.mainPurposeMasterName.includes('PEM status')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && editListCheck.hasChildPresentInPem == 'N' && item.mainPurposeMasterName.includes('PEM status')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.hasChildPresentInPem == 'Y' && item.mainPurposeMasterName.includes('PEM status')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && editListCheck.hasChildPresentInPem == 'N' && item.mainPurposeMasterName.includes('PEM status')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault" [attr.disabled]="isDisabled"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>



                                                    <!-- Enable/Disable Using For All and For General and Main PurposeMasterName Status -->
                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && item.mainPurposeMasterName.includes('For general')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'Y' && mode == 'E' && item.mainPurposeMasterName.includes('For all')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)" checked>
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && item.mainPurposeMasterName.includes('For general')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td
                                                        *ngIf="items.answer == 'N' && mode == 'E' && item.mainPurposeMasterName.includes('For all')">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td *ngIf="items.answer == 'Y' && mode == 'V'">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            [attr.disabled]="isDisabled" id="flexCheckDefault" checked
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                    <td *ngIf="items.answer == 'N' && mode == 'V'">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            [attr.disabled]="isDisabled" id="flexCheckDefault"
                                                            (change)="changeVisitbox($event, items)">
                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </th>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                </fieldset>
            </form>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary bttn" (click)="saveEditDAR()" [disabled]="mode == 'V'">
                        Submit
                    </button>
                </div>
            </div>

        </div>
    </div>

</ng-template>