<h1 mat-dialog-title>
    <div class="dialog-header">
        <h2 class="dialog-title">Pregnant Woman List </h2>
        <div>
            <button type="submit" class="btn btn-outline-warning" (click)="openHistory()">History</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-success" (click)="openCreatePage()" [disabled]="createDisable">Create</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="fas fa-times" (click)="closeDialog()"></i>
        </div>
        
        
    </div>
</h1>
<div mat-dialog-content>
    <div class="white_box_tittle list_header">
        <div class="QA_table ">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <table
                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Family No</th>
                            <th>Name</th>
                            <th>Husband Name</th>
                            <th>Last Menstrual<br> Period</th>
                            <th>Expected Date<br>of Delivery</th>
                            <th>Month of pregnancy/<br>Actual Date of Delivery</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr *ngFor="let item of pregnantWomanRegisterDetailList;index as i">
                            <td>{{i+1}}</td>
                            <td>{{familyNumber}}</td>
                            <td>{{pwName}}</td>
                            <td>{{husbandOrGuardianName}}</td>
                            <td>{{item.lastMenstrualPeriod == null ? '-' : item.lastMenstrualPeriod}}</td>
                            <td>{{item.expectedDateOfDelivery == null ? '-' : item.expectedDateOfDelivery}}</td>
                            <td>{{item.actualDateOfDelivery == null ? '-' : item.actualDateOfDelivery}}</td>
                            <td>
                                <i class="fas fa-edit" title="Edit" (click)="openPwView(i)"></i>
                                <i class="fas fa-trash" title="Wrong Entry" (click)="deletePregnency(item,i)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
