<h1 mat-dialog-title>
    <div class="dialog-header">
        <h2 class="dialog-title">Pregnant Woman List </h2>
        <div><i class="fas fa-times" (click)="closeDialog()"></i></div>  
    </div>
</h1>
<div mat-dialog-content>
    <div class="white_box_tittle list_header">
        <div class="QA_table ">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                <table
                    class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                    role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">

                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Family No</th>
                            <th>Name</th>
                            <th>Husband Name</th>
                            <th>Last Menstrual<br> Period</th>
                            <th>Expected Date<br>of Delivery</th>
                            <th>Month of pregnancy/<br>Actual Date of Delivery</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr >
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td><i class="fas fa-edit" title="Edit" (click)="openPwView()"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
