<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Role Menu Map</h2>
                </div>

                <form class="form-signin" [formGroup]="roleAccessForm">

                    <div class="row">

                        <div class="form-group col-md" style="float:right;">&nbsp;
                            <label for="device">Device Type :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeDevice($event.target.value)"
                                formControlName="device" id="device" [ngClass]="{'is-invalid': f.device.invalid && f.device.touched,'is-valid':
                            f.device.valid && (f.device.dirty || f.device.touched) }">
                                <option value="">-- Select Device --</option>
                                <option value="1">Web</option>
                                <option value="2">Mobile</option>
                            </select>
                            <div *ngIf="f.device.errors" class="invalid-feedback">
                                <div *ngIf="f.device.errors.required">Device selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="mainfunction">Main Function :&nbsp;<span
                                    class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeMainFunction($event.target.value)"
                                formControlName="mainfunction" id="mainfunction"
                                [ngClass]="{ 'is-invalid': f.mainfunction.invalid &&
                                 f.mainfunction.touched, 'is-valid': f.mainfunction.valid && (f.mainfunction.dirty || f.mainfunction.touched)}">
                                <option value="">-- Select Main Function --</option>
                                <option *ngFor="let mainfunction of mainFunctionList"
                                    value="{{mainfunction.mainMenuId}}"> {{mainfunction.mainMenuName}} </option>
                            </select>
                            <div *ngIf="f.mainfunction.errors" class="invalid-feedback">
                                <div *ngIf="f.mainfunction.errors.required">Main Function selection is required</div>
                            </div>
                        </div>

                    </div>

                    <div class="row" *ngFor="let item of subFunctionList; index as i">
                        <button class="collapsible" (click)="changeSubFunction($event.target.value, i)"
                            value="{{item.subMenuName}}" style="padding:10px;">{{item.subMenuName}}</button>

                        <div class="content">

                            <div class="QA_table ">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                    <table
                                        class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                        role="grid" aria-describedby="DataTables_Table_0_info"
                                        style="table-layout: fixed; text-align:center; color: #a6d8d8; ">
                                        <thead id="header_fixed">
                                            <tr style="padding: 0px;">
                                                <th style="padding: 0px;">Role Function</th>
                                                <th style="padding: 0px;">View</th>
                                                <th style="padding: 0px;">Create</th>
                                                <th style="padding: 0px;">Update</th>
                                                <th style="padding: 0px;">Delete</th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let items of roleList ; index as i" style="padding: 0px;">
                                                <td style="padding: 0px;">{{items.roleName}}</td>
                                                <table>
                                                    <tbody>
                                                        <tr *ngFor="let item of accessList ; index as i">
                                                            <td style="padding: 0px;">{{item.subMenuId}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault"
                                                      >
                                                         (change)="viewCheck($event, items.accessDtoList)" -->
                                                <!-- </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- </div> -->

                            <!-- <div class="row" *ngFor="let item of roleList; index as i">
                                <button class="collapsibles" (click)="changeRoleFunction($event.target.value)"
                                    value="{{item.roleMasterId}}">{{item.roleName}}</button>

                                <div class="content">
                                    <div class="row" *ngFor="let item of accessList; index as i">
                                        <button class="collapsibles"
                                            value="{{item.subMenuId}}">{{item.subMenuAccessType}}</button>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- <button class="collapsible" (click)="changeSubFunction($event.target.value)"
                            value="{{item.subMenuName}}" *ngFor="let item of subFunctionList; index as i">{{item.subMenuName}}</button>

                        <div class="content">

                            <p>yyyyyyyyyyyyyyyyyy
                            </p> 
                            </div> -->
                    <!-- <div class="QA_table ">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                    <table
                                        class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                        role="grid" aria-describedby="DataTables_Table_0_info"
                                        style="table-layout: fixed; text-align:center ">
                                        <thead id="header_fixed">
                                            <tr>
                                                <th style="padding:0px;">SubFunction</th>
                                                <th style="padding: 0px;">Device Type</th>
                                                <th style="padding: 0px;">View</th>
                                                <th style="padding: 0px;">Create</th>
                                                <th style="padding: 0px;">Update</th>
                                                <th style="padding: 0px;">Delete</th>

                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let items of subFunctionFilterList ; index as i">
                                                <td style="padding: 0px;">{{items.subFunctionShortName}}</td>
                                                <td style="padding: 0px;">{{items.deviceType}}</td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>
                                                <td style="padding: 0px;"><input class="form-check-input"
                                                        type="checkbox" value="" id="flexCheckDefault">
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> -->
                    <!-- </div> -->

                    <!-- </div> -->

                </form><br>


                <!-- <button type="button" class="collapsible" *ngFor="let item of mainFunctionList; index as i"
                    value="{{item.mainFunctionMasterId}}" (click)="changeMainFunction($event.target.value)">
                    {{item.mainFunctionName}}</button>
                <div class="content" *ngFor="let items of subFunctionList ; index as i">
                    <p>{{items}}</p>
                </div> -->

                <!-- <mat-accordion>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header *ngFor="let item of mainFunctionList; index as i" >
                            <mat-panel-title>
                                {{item.mainFunctionName}}
                            </mat-panel-title>
                            
                        </mat-expansion-panel-header>
                        <mat-panel-description  *ngFor="let item of mainFunctionList; index as i">
                           {{item.mainFunctionName}}
                        </mat-panel-description> -->

                <!-- <table class="table table-striped" id="table_wrapper">
                            <tbody>
                                <tr>
                                   <th style="padding: 0px;">SubFunction</th>
                                    <th>Device Type</th>
                                    <th>View</th>
                                    <th>Create</th>
                                    <th>Update</th>
                                    <th>Delete</th>

                                </tr>
                            </tbody>
                            <tbody>

                                <tr *ngFor="let items of subFunctionList ; index as i">
                                    <td>{{items}}</td>
                                    <td>{{items}}</td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </td>
                                    <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </td>

                                </tr> -->

                <!-- <tr *ngFor="let items of mainFunctionList[i].subFunctionMasterDTOList; index as i">
                                        <td style="text-align:left;"> {{items.subFunctionShortName}}
                                        </td>
                                    </tr>  -->
                <!-- </tbody>
                        </table> -->



                <!-- </mat-expansion-panel>

                </mat-accordion> -->


                <!-- <div class="white_box_tittle list_header">

                    <div class="QA_table ">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table class="table lms_table_active dataTable no-footer dtr-inline collapsed table"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">
                                <tbody>
                                    <tr *ngFor="let item of mainFunctionList; index as i">
                                        <th style="text-align:left; background-color: #499; color:#fff"
                                            (click)="setSubFunctionMenu(item.subFunctionMasterDTOList)">
                                            {{item.mainFunctionName}}

                                            <table class="table table-striped" id="table_wrapper">
                                                <tbody>
                                                    <tr>
                                                        <th>SubFunction</th>
                                                        <th>Device Type</th>
                                                        <th>View</th>
                                                        <th>Create</th>
                                                        <th>Update</th>
                                                        <th>Delete</th>

                                                    </tr>
                                                </tbody>
                                                <tbody>

                                                    <tr *ngFor="let items of subFunctionList ; index as i">
                                                        <td>{{items}}</td>
                                                        <td>{{items}}</td>
                                                        <td><input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckDefault"></td>
                                                        <td><input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckDefault"></td>
                                                        <td><input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckDefault"></td>
                                                        <td><input class="form-check-input" type="checkbox" value=""
                                                                id="flexCheckDefault"></td>

                                                    </tr>

                                                    <tr
                                                        *ngFor="let items of mainFunctionList[i].subFunctionMasterDTOList; index as i">
                                                        <td style="text-align:left;"> {{items.subFunctionShortName}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </th>

                                    </tr>
                                </tbody> -->



                <!-- <tbody>
                                    <tr *ngFor="let item of accessType; index as i">
                                        <td>{{i+1}}</td>
                                        <td>{{item.accessType}} </td>
                                        <td>{{item.deviceType}}</td>
                                        <td>{{item.roleActiveFlag}}</td>
                                        <td>--</td>
                                        <td *ngFor="let role_item of roleAccessData; index as role_index">
                                                <label class="primary_checkbox d-flex mr-12 ">
                                                    <input type="checkbox" [checked]="checkStatus(
                                                            action_item.subFunctionMasterId, role_index)" (change)="assignAccess(
                                                            action_item.subFunctionMasterId, role_index, $event)">
                                                    <span class="checkmark"></span>
                                                </label>

                                            </td>
                                    </tr>
                                </tbody> -->

                <!-- </table>

                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>
</div>





<!-- 
    
    <label for="" class="col-form-label">Main Function: </label>
</div>
<div class="col-md-4">
    <select name="" id="" class="form-select" (change)="getSubFunctions()">
        <option value="">-- Main Function --</option>
        <option [ngValue]="item.mainFunctionMasterId" *ngFor="let item of roleAccessData[0].mainFunctionDTOList">
            {{item.mainFunctionName}}</option>
    </select>
</div>

<div class="col">
    <label for="" class="col-form-label">Sub Function: </label>
</div>
<div class="col-md-4">
    <select name="" id="" class="form-select" (change)="createTableRows()">
        <option value="">-- Sub Function --</option>
        <option [ngValue]="item" *ngFor="let item of subFunctionsDropDown">{{item}}</option>
    </select>
</div>
</div>

<div class="white_box_tittle list_header">
<div class="QA_table ">
    <div class="dataTables_wrapper">
        <table class="table no-footer dtr-inline collapsed" role="grid">
            <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let item of roleAccessData">{{item.roleMasterDTO.roleDescription}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let action_item of actionTypes; index as i">
                    <td>{{action_item.accessType.charAt(0).toUpperCase() +
                        action_item.accessType.substring(1)}}
                    </td>
                    <td *ngFor="let role_item of roleAccessData; index as role_index">
                        <label class="primary_checkbox d-flex mr-12 ">
                            <input type="checkbox" [checked]="checkStatus(
                                    action_item.subFunctionMasterId, role_index)" (change)="assignAccess(
                                    action_item.subFunctionMasterId, role_index, $event)">
                            <span class="checkmark"></span>
                        </label>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>

<div class="row" *ngIf="selectedSubFunction">
<div class="col-md-4">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
</div> 
</div>-->