.form-group {
  margin-bottom: 1.5rem;
}

.collapsible {
  background-color: #686868;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.active, .collapsible:hover {
  background-color: #686868;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.QA_section .QA_table tbody th, .QA_section .QA_table tbody td {
  color: #7e7172;
  font-size: 15px;
  color: #828bb2;
  font-weight: 400;
  border-bottom: 1px solid rgba(130, 139, 178, 0.1);
  padding: 0;
}

.QA_section .QA_table .table thead th {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  border: 0px solid transparent;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #a0a0a0;
}

.QA_tableFull {
  width: 1170px;
  margin-left: 10px;
}

.QA_tableHalf {
  width: 995px;
  margin-left: 10px;
}