<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Role Menu Map</h2>
                </div>

                <form class="form-signin" [formGroup]="roleAccessForm">

                    <div class="row">

                        <div class="form-group col-md" style="float:right;">&nbsp;
                            <label for="device">Device Type :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeDevice($event.target.value)"
                                formControlName="device" id="device" [ngClass]="{'is-invalid': f.device.invalid && f.device.touched,'is-valid':
                            f.device.valid && (f.device.dirty || f.device.touched) }">
                                <option value="">-- Select Device --</option>
                                <option value="1">Web</option>
                                <option value="2">Mobile</option>
                            </select>
                            <div *ngIf="f.device.errors" class="invalid-feedback">
                                <div *ngIf="f.device.errors.required">Device selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="mainfunction">Main Function :&nbsp;<span
                                    class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeMainFunction($event.target.value)"
                                formControlName="mainfunction" id="mainfunction"
                                [ngClass]="{ 'is-invalid': f.mainfunction.invalid &&
                                 f.mainfunction.touched, 'is-valid': f.mainfunction.valid && (f.mainfunction.dirty || f.mainfunction.touched)}">
                                <option value="">-- Select Main Function --</option>
                                <option *ngFor="let mainfunction of mainFunctionList"
                                    value="{{mainfunction.mainMenuId}}"> {{mainfunction.mainMenuName}} </option>
                            </select>
                            <div *ngIf="f.mainfunction.errors" class="invalid-feedback">
                                <div *ngIf="f.mainfunction.errors.required">Main Function selection is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngFor="let item of subFunctionList; index as i">
                        <button class="collapsible" (click)="changeSubFunction($event.target.value)"
                            value="{{item.subMenuName}}"
                            style="padding:10px; width: -webkit-fill-available;">{{item.subMenuName}}</button>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <div class="content" style="background: white; margin-top: -14px;">

                            <div class="QA_table" [ngClass]="searchFullscreen ? 'QA_tableFull' : 'QA_tableHalf'">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                                    <table
                                        class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                        role="grid" aria-describedby="DataTables_Table_0_info"
                                        style="table-layout: fixed; text-align:center; padding: 0px;">
                                        <thead id="header_fixed">
                                            <tr>
                                                <th style="padding: 11px; width: 40%;">Role Function</th>
                                                <th style="padding: 11px;"></th>
                                                <th style="padding: 11px;">Role Access</th>
                                                <th style="padding: 11px;"></th>
                                                <th style="padding: 11px;"></th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                            <tr *ngFor="let items of roleList ; index as i">
                                                <td>{{items.roleName}}</td>

                                                <td *ngFor="let itemss of items.accessDtoList ; index as i">
                                                    {{itemss.subMenuAccessType}}&nbsp;
                                                    <input class="form-check-input" type="checkbox" checked value=""
                                                        id="flexCheckDefault" (change)="assignAccess(itemss, i, $event)"
                                                        *ngIf="itemss.roleActiveFlag == 'Y'" style="margin-top: 7px">

                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="flexCheckDefault" (change)="assignAccess(itemss, i, $event)"
                                                        *ngIf="itemss.roleActiveFlag == 'N'" style="margin-top: 7px">
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </form><br>

                <div class="row">
                    <div class="form-group col-md" style="display: flex; justify-content:flex-start">
                        <button class="btn btn-primary btn-sm" (click)="saveRoleMap()"
                            [disabled]="!roleAccessForm.value.mainfunction">Save
                            Role Map</button>
                    </div>
                </div>

            </div>
        </div>
    </div>