.QA_table {
  overflow-x: hidden;
  height: 400px;
}

.form-select {
  margin-bottom: 1.5rem;
}

.QA_section .QA_table .table thead th {
  padding: 12px 25px;
}

.modal-content {
  height: 500px;
  overflow-x: hidden;
  width: 800px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.close {
  margin-left: 500px;
}

.white_box {
  padding: 30px;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 1.4em 1.4em 1.4em !important;
  margin: 0 0 1.5em 0 !important;
}

legend.scheduler-border {
  border: 1px groove #ddd !important;
  background-color: gray;
  width: 150px;
  color: #ddd;
  font-size: 1.2em !important;
  font-weight: bold !important;
  font-family: ui-sans-serif;
}

#table_wrapper .table thead {
  border-bottom: 0 solid transparent;
  background-color: #fff;
  padding: 17px 30px;
  line-height: 16px;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  white-space: nowrap;
  text-transform: capitalize;
  font-family: "Rajdhani", sans-serif;
  border: 0;
  background: #499;
  text-align: center;
}

.search_inner button {
  padding-right: 1px;
  margin-left: 500px
}

.search_inner input {
  width: 75%;
  margin-left: 640px;
  margin-bottom: 5px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2DAAB8;
  margin-left: 140px;
}

