.search_inner button {
  padding-right: 1px;
  margin-left: 330px;
  margin-top: 5;
}

.search_inner_fullscreen button {
  padding-right: 1px;
  margin-left: 850px;
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  background: transparent;
  font-size: 12px;
  padding-left: 19px;
  font-size: 18px;
  color: #2daab8;
  border: 0;
}

.search_inner input {
  width: 70%;
  margin-left: 690px;
}

.search_inner_fullscreen input {
  width: 74%;
  margin-left: 850px;
  font-size: 13px;
  height: 40px;
  border-radius: 5px;
  padding-left: 55px;
  border: 1px solid #2daab8;
  padding-right: 15px;
}

.serach_field_2 .search_inner button i {
  font-size: 18px;
  color: #2daab8;
  margin-left: 350px;
}

.search_inner_fullscreen i {
  margin-right: 10px;
  font-size: large;
  margin-top: 8px;
}