<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="white_box QA_section mb_30">

                <div id="header-fixed" style="display: flex;">
                    <h2 class="page-title">Remap User SS</h2>
                </div>

                <form class="form-signin" [formGroup]="remapUserSSForm">

                    <div class="row">
                        <div class="form-group col-md">
                            <label for="region">Region :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeRegion($event.target.value)"
                                formControlName="region" id="region" [ngClass]="{ 'is-invalid': f.region.invalid && f.region.touched, 
                                'is-valid': f.region.valid && (f.region.dirty || f.region.touched)}">
                                <option value="">-- Select Region --</option>
                                <option *ngFor="let region of regionList" value="{{region.regionMasterId}}">
                                    {{region.regionName}}
                                </option>
                            </select>
                            <div *ngIf="f.region.errors" class="invalid-feedback">
                                <div *ngIf="f.region.errors.required">Region selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="branch">Branch :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeBranch($event.target.value)"
                                formControlName="branch" id="branch" [ngClass]="{'is-invalid': f.branch.invalid && f.branch.touched,
                              'is-valid': f.branch.valid && (f.branch.dirty || f.branch.touched)}">
                                <option value="">-- Select Branch --</option>
                                <option *ngFor="let branch of branchList" value="{{branch.branchId}}">
                                    {{ branch.branchName }}
                                </option>
                            </select>
                            <div *ngIf="f.branch.errors" class="invalid-feedback">
                                <div *ngIf="f.branch.errors.required">Branch selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md">
                            <label for="hco">HCO/ HCOI/ TL :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                            <select class="form-select" (change)="changeHco($event.target.value)" formControlName="hco"
                                id="hco" [ngClass]="{'is-invalid': f.hco.invalid && f.hco.touched, 'is-valid':
                                f.hco.valid && (f.hco.dirty || f.hco.touched)  }">
                                <option value="">-- Select Role --</option>
                                <option *ngFor="let hco of hcoList" value='{{hco.user_id}}'>
                                    {{ hco.user_firstname}} {{hco.user_middlename}} {{hco.user_lastname}} -
                                    {{hco.role_shortname}}
                                </option>
                            </select>
                            <div *ngIf="f.hco.errors" class="invalid-feedback">
                                <div *ngIf="f.hco.errors.required">Role selection is required</div>
                            </div>
                        </div>

                        <div class="form-group col-md" *ngIf="remapUserSSForm.value.hco">
                            <label>Filter By SS List:</label>
                            <select class="form-select" formControlName="ssByList" id="ssByList"
                                (change)="ssWiseViewList($event.target.value)">
                                <option value="">-- View All List --</option>
                                <option *ngFor="let ss of ssLists">
                                    {{ ss.swasthyaSahayikaName }}
                                </option>
                                <option value="SS">List With No SS</option>
                            </select>
                        </div>

                    </div>

                </form>

                <div class="white_box_tittle list_header">

                    <div class="QA_table">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                            <table
                                class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                                role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed">

                                <thead id="header-fixed">
                                    <tr>
                                        <th style="width: 9%;">SL No</th>
                                        <th style="width: 26%;">SS Name</th>
                                        <th style="width: 22%;">SS Husband/ Guardian's Name</th>
                                        <th style="width: 26%;">SS Address</th>
                                        <th>Remap</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of hcoSSList; index as i">
                                        <td style="width: 9%;">{{(p-1)*5+i+1 ? (p-1)*5+i+1 : i+1}}</td>
                                        <td style="width: 26%;">{{item.swasthyaSahayikaName}}</td>
                                        <td style="width: 22%;">{{item.swasthyaSahayikaHusbandOrGuardianName}}</td>
                                        <td style="width: 28%;">{{item.swasthyaSahayikaAddress}}</td>
                                        <td><input class="form-check-input" type="checkbox" value=""
                                                id="flexCheckDefault"
                                                (change)="remapUserSS($event, item.swasthyaSahayikaId, remapSS)">
                                        </td>
                                    </tr>
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #remapSS>
    <div class="modal-header">

        <div class="col-md-2">
            <span class="close" (click)="modalDismiss()" style="cursor: pointer;font-size: 35px;">&times;</span>
        </div>

    </div>

    <div class="modal-body">
        <form class="form-signin" [formGroup]="modalForm">

            <div class="form-group col-md">
                <label for="hcouser">HCO/ HCOI/ TL :&nbsp;<span class="text-danger">*&nbsp;</span></label>
                <select class="form-select" formControlName="hcouser" id="hcouser" [ngClass]="{
                  'is-invalid': s.hcouser.invalid && s.hcouser.touched, 'is-valid':
                    s.hcouser.valid && (s.hcouser.dirty || s.hcouser.touched) }">
                    <option value="">-- Select Role --</option>
                    <option *ngFor="let hcouser of hcoModalList" value='{{hcouser.user_id}}'>
                        {{ hcouser.user_firstname}} {{hcouser.user_middlename}} {{hcouser.user_lastname}} -
                        {{hcouser.role_shortname}}
                    </option>
                </select>
                <div *ngIf="s.hcouser.errors" class="invalid-feedback">
                    <div *ngIf="s.hcouser.errors.required">User selection is required</div>
                </div>
            </div>

        </form>
    </div>

    <div class="row">
        <div class="form-group col-md-6" style="margin-left: 420px;">
            <button type="button" class=" btn btn-primary btn-sm" [disabled]="!modalForm.value.hcouser"
                (click)="saveRemapUserSSFromModal()">Remap
            </button>
        </div>

    </div>

</ng-template>