.overlay {
    position: absolute;
    top: 0;
    left: 0;
    clear: float;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    margin-top: -54px;
  }

  .card{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 30px;
    opacity: 0.95;
    border: 1px;
    border-radius: 10px;
  }
  .reset_img{
    width: 100vw; height: 100vh; margin-left: -551px; margin-top: -54px
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .card{
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 51%;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 10px 30px;
      opacity: 0.95;
      border: 1px;
      border-radius: 10px;
    }
    .reset_img{
      width: 100vw; height: 100vh; margin-left: -405px; margin-top: -50px
    }
  }