<app-loader [hidden]="loader"></app-loader>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="white_box QA_section mb_30">

          <div id="header-fixed" style="display: flex;">
            <h2 class="page-title">Region Branch Setup</h2>
        </div>
        
        <div class="add_button">
            <button class="btn btn-primary" (click)="openCreateBranch()">
                <i class="fas fa-code-branch" ></i>Create Branch
            </button>    
            &nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary" (click)="openCreateRegion()">
                <i class="fa fa-map-marker" ></i>Create Region
            </button>
        </div>

        <form class="form-signin" [formGroup]="stateSelectForm">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="state"
                  >Select State :</label
                >
                <select
                  class="form-select"
                  (change)="changeState($event.target.value)"
                  formControlName="state"
                >
                <option value="">-- Select state --</option>
                <option *ngFor="let state of stateList" [value]="state.stateMasterId">
                  {{state.stateName}}
                </option>
                </select>
              </div>
            </div>
        </form>

        <div class="white_box_tittle list_header" >
            <div class="QA_table ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <table
                        class="table lms_table_active dataTable no-footer dtr-inline collapsed table table-striped"
                        role="grid" aria-describedby="DataTables_Table_0_info" style="table-layout: fixed;">
        
                        <thead>
                            <tr>
                                <th>SL<br>No</th>
                                <th>Region Name</th>
                                <th>Branch Name</th>
                                <th>District</th>
                                <th>Project</th> 
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr *ngFor="let item of regionAndBranchList;index as i">
                                <td>{{i+1}}</td>
                                <td>{{item.regionName}}</td>
                                <td>
                                    <ul *ngFor="let branch of item.branchList">
                                        <li *ngIf="branch.stateMasterId == stateMasterId || stateMasterId == undefined">{{branch.branchName}}</li>
                                    </ul>
                                </td>
                                <td>
                                  <ul *ngFor="let branch of item.branchList">
                                    <li *ngIf="branch.stateMasterId == stateMasterId || stateMasterId == undefined">{{branch.districtName}}</li>
                                  </ul>
                                </td>
                                <td>
                                  <ul *ngFor="let branch of item.branchList">
                                    <li *ngIf="branch.stateMasterId == stateMasterId || stateMasterId == undefined">{{branch.projectName}}</li>
                                  </ul>
                                </td>
                                <td>
                                  <ul *ngFor="let branch of item.branchList">
                                    <li *ngIf="branch.stateMasterId == stateMasterId || stateMasterId == undefined">{{branch.branchActiveFlag == 'Y' ? 'Active' : 'Phased out'}}</li>
                                  </ul>
                                </td>
                                <td>
                                    
                                    <i class="fa fa-ellipsis-v fa-lg" aria-hidden="true" mat-icon-button [matMenuTriggerFor]="menu" title="Edit"></i>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="openEditRegion(item.regionMasterId,item.regionName)">Edit {{item.regionName}}</button>
                                        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Edit Branch</button>
                                    </mat-menu>
                                    <mat-menu #vertebrates="matMenu">
                                        <button mat-menu-item *ngFor="let branch of item.branchList" (click)="openEditBranch(item.regionMasterId,branch)">Edit {{branch.branchName}}</button>
                                      </mat-menu>
                                    
                                     &nbsp;
                                    <i class="fas fa-trash" aria-hidden="true" mat-icon-button [matMenuTriggerFor]="menu1" title="Delete"></i>
                                    <mat-menu #menu1="matMenu">
                                        <button mat-menu-item (click)="deleteRegion(item.regionMasterId,item.regionName)">Delete {{item.regionName}}</button>
                                        <button mat-menu-item [matMenuTriggerFor]="vertebrates1">Delete Branch</button>
                                    </mat-menu>
                                    <mat-menu #vertebrates1="matMenu">
                                        <button mat-menu-item *ngFor="let branch of item.branchList" (click)="deleteBranch(branch.branchId,branch.branchName)">Delete {{branch.branchName}}</button>
                                      </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


